# General instructions

The goal of the project is to materialize a set of **exploratory workloads** over a real-world, large-scale,  open-domain KG: [WikiData](https://www.wikidata.org/wiki/Wikidata:Main_Page)

An exploratory workload  is composed by a set of queries, where each query is related to the information obtained previously.

An exploratory workload starts with a usually vague, open ended question, and does not assume the person issuing the workload has a clear understanding of the data contained in the target database or its structure.

Remeber that:

1. All the queries must run in the python notebook
2. You can use classes and properties only if you find them via a SPARQL query that must be present in the notebook
3. You do not delete useless queries. Keep everything that is synthatically valid 

```
?p sc:name ?name .
```
    
is the BGP returning a human-readable name of a property or a class in Wikidata.

In [1]:
## SETUP used later

from SPARQLWrapper import SPARQLWrapper, JSON


prefixString = """
##-e5a4ae57ad-##
PREFIX wd: <http://www.wikidata.org/entity/> 
PREFIX wdt: <http://www.wikidata.org/prop/direct/> 
PREFIX sc: <http://schema.org/>
"""

# select and construct queries
def run_query(queryString):
    to_run = prefixString + "\n" + queryString

    sparql = SPARQLWrapper("http://a256-gc1-02.srv.aau.dk:5820/sparql")
    sparql.setTimeout(300)
    sparql.setReturnFormat(JSON)
    sparql.setQuery(to_run)

    try :
       results = sparql.query()
       json_results = results.convert()
       if len(json_results['results']['bindings'])==0:
          print("Empty")
          return 0
    
       for bindings in json_results['results']['bindings']:
          print( [ (var, value['value'])  for var, value in bindings.items() ] )

       return len(json_results['results']['bindings'])

    except Exception as e :
        print("The operation failed", e)
    
# ASk queries
def run_ask_query(queryString):
    to_run = prefixString + "\n" + queryString

    sparql = SPARQLWrapper("http://a256-gc1-02.srv.aau.dk:5820/sparql")
    sparql.setTimeout(300)
    sparql.setReturnFormat(JSON)
    sparql.setQuery(to_run)

    try :
        return sparql.query().convert()

    except Exception as e :
        print("The operation failed", e)

# Companies Workflow Series ("IT Companies explorative search") 

Consider the following exploratory information need:

> Compare companies across different sectors in U.K., U.S., and Canada, consider number of employees, companies owned or acquired, and revenue or assets

## Useful URIs for the current workflow


The following are given:

| IRI           | Description   | Role      |
| -----------   | -----------   |-----------|
| `wdt:P1647`   | subproperty   | predicate |
| `wdt:P31`     | instance of   | predicate |
| `wdt:P279`    | subclass      | predicate |
| `wdt:P17`      | country       | predicate |
| `wd:Q4830453`  | Business      | node      |
| `wd:Q13977`    | Bloomberg L.P.| node |
| `wd:Q502121`   | BlackBerry    | node |
| `wd:Q16`        | Canada        | node |
| `wd:Q145`      | U.K.          | node |
| `wd:Q30`       | U.S.A.        | node |


Also consider

```
?p wdt:P17 wd:Q16  . 
?p wdt:P31 wd:Q4830453  . 
```

is the BGP to retrieve all **canadian businesses**

## Workload Goals

1. Identify the BGP for obtaining number of employees of a company and other relevant numerical attributes

2. Identify the BGP to retrieve all companies owned by a company

3. Is there some company that owns companies in other countries?

4. Companies have different 'legal forms', compare the number of companies divided in different legal forms

5. Analyze the number of employees  and other relevant numeric attributes
 
   5.1 What are the top-10 companies for a given attribute?
   
   5.2 For which companies is defined some form of income or market capitalization or total assets? What is the min, max, and average in each category and country?
   
   5.3 Which business in each country owns more businesses in other countries?

In [2]:
# start your workflow here

In [4]:
queryString = """
SELECT COUNT(*)
WHERE { 

?p wdt:P17 wd:Q16  . 
?p wdt:P31 wd:Q4830453  . 
} 
"""

print("Results")
run_query(queryString)

Results
[('callret-0', '2482')]

1

## Task 1
Identify the BGP for obtaining number of employees of a company and other relevant numerical attributes

Starting from the companies I look for the relations which object is numeric

In [4]:
queryString = """
SELECT DISTINCT ?pr ?name
WHERE { 

?p wdt:P31 wd:Q4830453 ;
    ?pr ?o.
?pr sc:name ?name .
FILTER(isNumeric(?o))
}
"""

print("Results")
run_query(queryString)

Results
[('pr', 'http://www.wikidata.org/prop/direct/P1128'), ('name', 'employees')]
[('pr', 'http://www.wikidata.org/prop/direct/P1661'), ('name', 'Alexa rank')]
[('pr', 'http://www.wikidata.org/prop/direct/P2139'), ('name', 'total revenue')]
[('pr', 'http://www.wikidata.org/prop/direct/P2295'), ('name', 'net profit')]
[('pr', 'http://www.wikidata.org/prop/direct/P2403'), ('name', 'total assets')]
[('pr', 'http://www.wikidata.org/prop/direct/P3362'), ('name', 'operating income')]
[('pr', 'http://www.wikidata.org/prop/direct/P8687'), ('name', 'social media followers')]
[('pr', 'http://www.wikidata.org/prop/direct/P2137'), ('name', 'total equity')]
[('pr', 'http://www.wikidata.org/prop/direct/P2138'), ('name', 'total liabilities')]
[('pr', 'http://www.wikidata.org/prop/direct/P8340'), ('name', 'estimated value')]
[('pr', 'http://www.wikidata.org/prop/direct/P9279'), ('name', 'Egapro gender equality index')]
[('pr', 'http://www.wikidata.org/prop/direct/P2043'), ('name', 'length')]
[('pr', 'http://www.wikidata.org/prop/direct/P2048'), ('name', 'height')]
[('pr', 'http://www.wikidata.org/prop/direct/P2049'), ('name', 'width')]
[('pr', 'http://www.wikidata.org/prop/direct/P2046'), ('name', 'area')]
[('pr', 'http://www.wikidata.org/prop/direct/P3744'), ('name', 'number of subscribers')]
[('pr', 'http://www.wikidata.org/prop/direct/P2226'), ('name', 'market capitalization')]
[('pr', 'http://www.wikidata.org/prop/direct/P2133'), ('name', 'total debt')]
[('pr', 'http://www.wikidata.org/prop/direct/P2663'), ('name', 'common equity tier 1 capital ratio (CETI)')]
[('pr', 'http://www.wikidata.org/prop/direct/P1114'), ('name', 'quantity')]
[('pr', 'http://www.wikidata.org/prop/direct/P1833'), ('name', 'number of registered users/contributors')]
[('pr', 'http://www.wikidata.org/prop/direct/P4103'), ('name', 'assets under management')]
[('pr', 'http://www.wikidata.org/prop/direct/P8368'), ('name', 'number of branches')]
[('pr', 'http://www.wikidata.org/prop/direct/P1174'), ('name', 'visitors per year')]
[('pr', 'http://www.wikidata.org/prop/direct/P2124'), ('name', 'member count')]
[('pr', 'http://www.wikidata.org/prop/direct/P3086'), ('name', 'speed limit')]
[('pr', 'http://www.wikidata.org/prop/direct/P2595'), ('name', 'maximum gradient')]
[('pr', 'http://www.wikidata.org/prop/direct/P8247'), ('name', 'nominal share capital')]
[('pr', 'http://www.wikidata.org/prop/direct/P2402'), ('name', 'total expenditure')]
[('pr', 'http://www.wikidata.org/prop/direct/P1132'), ('name', 'number of participants')]
[('pr', 'http://www.wikidata.org/prop/direct/P2896'), ('name', 'publication interval')]
[('pr', 'http://www.wikidata.org/prop/direct/P2232'), ('name', 'cash')]
[('pr', 'http://www.wikidata.org/prop/direct/P6801'), ('name', 'number of hospital beds')]
[('pr', 'http://www.wikidata.org/prop/direct/P1092'), ('name', 'total produced')]
[('pr', 'http://www.wikidata.org/prop/direct/P2284'), ('name', 'price')]
[('pr', 'http://www.wikidata.org/prop/direct/P2257'), ('name', 'event interval')]
[('pr', 'http://www.wikidata.org/prop/direct/P3575'), ('name', 'data size')]
[('pr', 'http://www.wikidata.org/prop/direct/P1436'), ('name', 'collection or exhibition size')]
[('pr', 'http://www.wikidata.org/prop/direct/P1872'), ('name', 'minimum number of players')]
[('pr', 'http://www.wikidata.org/prop/direct/P1113'), ('name', 'number of episodes')]
[('pr', 'http://www.wikidata.org/prop/direct/P2109'), ('name', 'installed capacity')]
[('pr', 'http://www.wikidata.org/prop/direct/P2044'), ('name', 'elevation above sea level')]
[('pr', 'http://www.wikidata.org/prop/direct/P2197'), ('name', 'production rate')]
[('pr', 'http://www.wikidata.org/prop/direct/P2254'), ('name', 'maximum operating altitude')]
[('pr', 'http://www.wikidata.org/prop/direct/P2555'), ('name', 'fee')]
[('pr', 'http://www.wikidata.org/prop/direct/P6589'), ('name', 'endowment')]
[('pr', 'http://www.wikidata.org/prop/direct/P3872'), ('name', 'patronage')]
[('pr', 'http://www.wikidata.org/prop/direct/P2262'), ('name', 'draft')]
[('pr', 'http://www.wikidata.org/prop/direct/P2052'), ('name', 'speed')]
[('pr', 'http://www.wikidata.org/prop/direct/P1373'), ('name', 'daily patronage')]
[('pr', 'http://www.wikidata.org/prop/direct/P1083'), ('name', 'maximum capacity')]
[('pr', 'http://www.wikidata.org/prop/direct/P2130'), ('name', 'cost')]
[('pr', 'http://www.wikidata.org/prop/direct/P2144'), ('name', 'frequency')]
[('pr', 'http://www.wikidata.org/prop/direct/P5896'), ('name', 'trading fee')]
[('pr', 'http://www.wikidata.org/prop/direct/P5991'), ('name', 'carbon footprint')]
[('pr', 'http://www.wikidata.org/prop/direct/P3039'), ('name', 'wheelbase')]
[('pr', 'http://www.wikidata.org/prop/direct/P4131'), ('name', 'annual energy output')]
[('pr', 'http://www.wikidata.org/prop/direct/P2661'), ('name', 'target interest rate')]
[('pr', 'http://www.wikidata.org/prop/direct/P1101'), ('name', 'floors above ground')]
[('pr', 'http://www.wikidata.org/prop/direct/P2769'), ('name', 'budget')]
[('pr', 'http://www.wikidata.org/prop/direct/P2067'), ('name', 'mass')]
[('pr', 'http://www.wikidata.org/prop/direct/P2610'), ('name', 'thickness')]
[('pr', 'http://www.wikidata.org/prop/direct/P8594'), ('name', 'ride height')]
[('pr', 'http://www.wikidata.org/prop/direct/P2261'), ('name', 'beam')]
[('pr', 'http://www.wikidata.org/prop/direct/P6125'), ('name', 'number of volunteers')]
[('pr', 'http://www.wikidata.org/prop/direct/P8093'), ('name', 'donations')]
[('pr', 'http://www.wikidata.org/prop/direct/P2957'), ('name', 'throughput')]
[('pr', 'http://www.wikidata.org/prop/direct/P2437'), ('name', 'number of seasons')]
[('pr', 'http://www.wikidata.org/prop/direct/P1104'), ('name', 'number of pages')]
[('pr', 'http://www.wikidata.org/prop/direct/P6697'), ('name', 'Football Money League rank')]
[('pr', 'http://www.wikidata.org/prop/direct/P2658'), ('name', 'Scoville grade')]
[('pr', 'http://www.wikidata.org/prop/direct/P3087'), ('name', 'fiscal/tax revenue')]

72

For example we can look for employees, revenue, net profit, market cap and total assets.

In [5]:
queryString = """
SELECT ?name ?employees ?revenues ?net_profit ?market_cap ?tot_assets
WHERE { 

?p wdt:P31 wd:Q4830453.
 
?p  wdt:P1128 ?employees;
    wdt:P2139 ?revenues;
    wdt:P2295 ?net_profit;
    wdt:P2226 ?market_cap;
    wdt:P2403 ?tot_assets.

?p sc:name ?name .
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('name', 'HHLA'), ('employees', '5528'), ('revenues', '1177700000'), ('net_profit', '105000000'), ('market_cap', '1239900000'), ('tot_assets', '2610019000')]
[('name', 'Vinci'), ('employees', '222397'), ('revenues', '48053000000'), ('net_profit', '3408000000'), ('market_cap', '60000000000'), ('tot_assets', '91102000000')]
[('name', 'ČEZ Group'), ('employees', '31385'), ('revenues', '184486000000'), ('net_profit', '10500000000'), ('market_cap', '265300000000'), ('tot_assets', '707443000000')]
[('name', 'ČEZ Group'), ('employees', '31385'), ('revenues', '184486000000'), ('net_profit', '10500000000'), ('market_cap', '286200000000'), ('tot_assets', '707443000000')]
[('name', 'S.P. Korolev Rocket and Space Corporation Energia'), ('employees', '7791'), ('revenues', '42373811000'), ('net_profit', '1232438000'), ('market_cap', '6858000000'), ('tot_assets', '114995477000')]
[('name', 'Telefónica'), ('employees', '121853'), ('revenues', '48693000000'), ('net_profit', '3950000000'), ('market_cap', '38105000000'), ('tot_assets', '90707000000')]
[('name', 'Bank of America'), ('employees', '204000'), ('revenues', '83416000000'), ('net_profit', '15888000000'), ('market_cap', '232000000000'), ('tot_assets', '2144000000000')]
[('name', 'Bank of America'), ('employees', '204000'), ('revenues', '83416000000'), ('net_profit', '15888000000'), ('market_cap', '344490000000'), ('tot_assets', '2144000000000')]
[('name', 'Intel'), ('employees', '106000'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '200000000000'), ('tot_assets', '153091000000')]
[('name', 'Intel'), ('employees', '106000'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '223140000000'), ('tot_assets', '153091000000')]
[('name', 'Intel'), ('employees', '107300'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '200000000000'), ('tot_assets', '153091000000')]
[('name', 'Intel'), ('employees', '107300'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '223140000000'), ('tot_assets', '153091000000')]
[('name', 'Intel'), ('employees', '110600'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '200000000000'), ('tot_assets', '153091000000')]
[('name', 'Intel'), ('employees', '110600'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '223140000000'), ('tot_assets', '153091000000')]
[('name', 'Intel'), ('employees', '110800'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '200000000000'), ('tot_assets', '153091000000')]
[('name', 'Intel'), ('employees', '110800'), ('revenues', '77867000000'), ('net_profit', '20899000000'), ('market_cap', '223140000000'), ('tot_assets', '153091000000')]
[('name', 'Siemens'), ('employees', '372000'), ('revenues', '83000000000'), ('net_profit', '5584000000'), ('market_cap', '111760000'), ('tot_assets', '125727000000')]
[('name', 'Siemens'), ('employees', '372000'), ('revenues', '83000000000'), ('net_profit', '5584000000'), ('market_cap', '139800000000'), ('tot_assets', '125727000000')]
[('name', 'Nestlé'), ('employees', '328000'), ('revenues', '89800000000'), ('net_profit', '9066000000'), ('market_cap', '237363000000'), ('tot_assets', '123992000000')]
[('name', 'BlackBerry'), ('employees', '3647'), ('revenues', '1040000000'), ('net_profit', '-152000000'), ('market_cap', '6882000000'), ('tot_assets', '3888000000')]

20

I found that for the same company I have more results, probably due to the fact that we have data of different years

## Task 2
Identify the BGP to retrieve all companies owned by a company

Starting from the companies, I look for predicate similar to "own"

In [6]:
queryString = """
SELECT DISTINCT ?pr ?name
WHERE { 

?p wdt:P31 wd:Q4830453.
?p ?pr ?o.

?pr sc:name ?name .
FILTER (!isLiteral(?o)).

FILTER (REGEX(?name,".*wn.*"))
}
ORDER BY (?name)
LIMIT 50
"""

print("Results")
run_query(queryString)

Results
[('pr', 'http://www.wikidata.org/prop/direct/P4945'), ('name', 'download link')]
[('pr', 'http://www.wikidata.org/prop/direct/P127'), ('name', 'owned by')]
[('pr', 'http://www.wikidata.org/prop/direct/P1830'), ('name', 'owner of')]

3

Found that `P127` gives me who owned this company. Probably it is more efficient to start from a company and look for the property `P1830` that tell me the companies owned by the company with I started with.

In [7]:
queryString = """
SELECT ?company (count(DISTINCT ?o) AS ?companies_owned)
WHERE { 

?p wdt:P31 wd:Q4830453.
?p wdt:P1830 ?o.

?p sc:name ?company .

}
GROUP BY ?p ?company
ORDER BY DESC (?companies_owned)
LIMIT 50
"""

print("Results")
run_query(queryString)

Results
[('company', 'The Walt Disney Company'), ('companies_owned', '224')]
[('company', 'Google'), ('companies_owned', '136')]
[('company', 'EFE Trenes de Chile'), ('companies_owned', '133')]
[('company', 'Bell Media'), ('companies_owned', '125')]
[('company', 'Azienda Trasporti Milanesi'), ('companies_owned', '109')]
[('company', 'DSB'), ('companies_owned', '101')]
[('company', 'WarnerMedia'), ('companies_owned', '93')]
[('company', 'Microsoft'), ('companies_owned', '81')]
[('company', 'Sony'), ('companies_owned', '70')]
[('company', 'BBC'), ('companies_owned', '70')]
[('company', 'ATAC'), ('companies_owned', '69')]
[('company', 'Viacom'), ('companies_owned', '56')]
[('company', 'RAI'), ('companies_owned', '53')]
[('company', 'Budapesti Közlekedési Zrt.'), ('companies_owned', '53')]
[('company', 'AG für Verkehrswesen'), ('companies_owned', '51')]
[('company', 'Yahoo'), ('companies_owned', '47')]
[('company', 'Discovery Inc.'), ('companies_owned', '46')]
[('company', 'White Star Line'), ('companies_owned', '45')]
[('company', 'The Vanguard Group'), ('companies_owned', '45')]
[('company', 'Televisa'), ('companies_owned', '42')]
[('company', 'Cunard Line'), ('companies_owned', '42')]
[('company', 'Telefónica'), ('companies_owned', '38')]
[('company', 'Amazon'), ('companies_owned', '38')]
[('company', 'Procter & Gamble'), ('companies_owned', '38')]
[('company', 'Bangladesh Railway'), ('companies_owned', '37')]
[('company', 'LVMH'), ('companies_owned', '35')]
[('company', 'Modern Times Group'), ('companies_owned', '33')]
[('company', 'Heineken'), ('companies_owned', '33')]
[('company', 'Daimler AG'), ('companies_owned', '33')]
[('company', 'Railways of Slovak Republic'), ('companies_owned', '31')]
[('company', 'Anheuser-Busch InBev'), ('companies_owned', '30')]
[('company', 'Dutch East India Company'), ('companies_owned', '30')]
[('company', 'Ford Motor Company'), ('companies_owned', '28')]
[('company', 'Unibail Rodamco Westfield'), ('companies_owned', '27')]
[('company', 'Mediaset S.p.A.'), ('companies_owned', '27')]
[('company', 'Raidió Teilifís Éireann'), ('companies_owned', '27')]
[('company', 'XM Satellite Radio'), ('companies_owned', '25')]
[('company', 'News Corporation'), ('companies_owned', '24')]
[('company', 'Johnson & Johnson'), ('companies_owned', '24')]
[('company', "L'Oréal"), ('companies_owned', '24')]
[('company', 'Ural Mining and Metallurgical Company'), ('companies_owned', '24')]
[('company', 'Carlsberg Group'), ('companies_owned', '23')]
[('company', 'BNP Paribas'), ('companies_owned', '23')]
[('company', 'Wildenstein & Company'), ('companies_owned', '22')]
[('company', 'Transdev'), ('companies_owned', '22')]
[('company', 'Keolis'), ('companies_owned', '21')]
[('company', 'E. W. Scripps Company'), ('companies_owned', '21')]
[('company', 'Societé Génerale'), ('companies_owned', '20')]
[('company', 'Warner Bros.'), ('companies_owned', '20')]
[('company', 'APN News & Media'), ('companies_owned', '20')]

50

## Task 3
Is there some company that owns companies in other countries?

Starting from the country of the company I look for the companies owned and I look for the related country. I perform an ask query first.

In [8]:
queryString = """
ASK WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P17 ?c;
    wdt:P1830 ?o.
?o wdt:P17 ?own_c.
FILTER(?c != ?own_c).

}
"""

print("Results")
run_ask_query(queryString)

Results

{'head': {'link': []}, 'boolean': True}

There is at least one company that owned companies in other countries. Let return the companies that owned the most companies in other countries.

In [9]:
queryString = """
SELECT ?company (count(DISTINCT ?o) AS ?companies_owned)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P17 ?c;
    wdt:P1830 ?o.
?o wdt:P17 ?own_c.
FILTER(?c != ?own_c).

?p sc:name ?company .

}
GROUP BY ?p ?company
ORDER BY DESC (?companies_owned)
LIMIT 50
"""

print("Results")
run_query(queryString)

Results
[('company', 'The Walt Disney Company'), ('companies_owned', '66')]
[('company', 'Sony'), ('companies_owned', '29')]
[('company', 'AG für Verkehrswesen'), ('companies_owned', '25')]
[('company', 'Anheuser-Busch InBev'), ('companies_owned', '25')]
[('company', 'WarnerMedia'), ('companies_owned', '23')]
[('company', 'Viacom'), ('companies_owned', '20')]
[('company', 'Discovery Inc.'), ('companies_owned', '17')]
[('company', 'Heineken'), ('companies_owned', '16')]
[('company', 'LVMH'), ('companies_owned', '13')]
[('company', 'Daimler AG'), ('companies_owned', '13')]
[('company', 'Carlsberg Group'), ('companies_owned', '13')]
[('company', 'NexGen'), ('companies_owned', '13')]
[('company', 'Ford Motor Company'), ('companies_owned', '12')]
[('company', 'Modern Times Group'), ('companies_owned', '11')]
[('company', 'BNP Paribas'), ('companies_owned', '10')]
[('company', 'Unibail Rodamco Westfield'), ('companies_owned', '10')]
[('company', 'News Corporation'), ('companies_owned', '10')]
[('company', 'AngloGold Ashanti'), ('companies_owned', '10')]
[('company', 'Microsoft'), ('companies_owned', '9')]
[('company', 'Vattenfall'), ('companies_owned', '9')]
[('company', 'SABMiller'), ('companies_owned', '9')]
[('company', 'Liberty Global'), ('companies_owned', '8')]
[('company', 'Red Bull GmbH'), ('companies_owned', '8')]
[('company', 'Isle of Wight Central Railway'), ('companies_owned', '8')]
[('company', 'Societé Génerale'), ('companies_owned', '8')]
[('company', 'Aachen Münchener'), ('companies_owned', '8')]
[('company', 'TotalEnergies'), ('companies_owned', '8')]
[('company', 'Telefónica'), ('companies_owned', '8')]
[('company', 'Google'), ('companies_owned', '7')]
[('company', 'Starwood Hotels and Resorts Worldwide'), ('companies_owned', '7')]
[('company', 'Hammerson'), ('companies_owned', '7')]
[('company', 'Penta Investments Limited'), ('companies_owned', '7')]
[('company', 'Bauer Media Group'), ('companies_owned', '7')]
[('company', 'Veolia Central & Eastern Europe'), ('companies_owned', '7')]
[('company', 'Vodafone'), ('companies_owned', '7')]
[('company', 'GIC Private Limited'), ('companies_owned', '7')]
[('company', 'SoftBank'), ('companies_owned', '6')]
[('company', 'Barrick Gold'), ('companies_owned', '6')]
[('company', 'Yamaha Corporation'), ('companies_owned', '6')]
[('company', 'EP Power Europe'), ('companies_owned', '6')]
[('company', 'EMI'), ('companies_owned', '6')]
[('company', 'Renault'), ('companies_owned', '6')]
[('company', 'Koninklijke Philips NV'), ('companies_owned', '6')]
[('company', 'Enel'), ('companies_owned', '6')]
[('company', 'Pernod Ricard'), ('companies_owned', '6')]
[('company', 'General Electric'), ('companies_owned', '6')]
[('company', 'Electrolux'), ('companies_owned', '6')]
[('company', 'Walmart'), ('companies_owned', '6')]
[('company', 'Apax Partners'), ('companies_owned', '5')]
[('company', 'Sega'), ('companies_owned', '5')]

50

## Task 4 
Companies have different 'legal forms', compare the number of companies divided in different legal forms

Look for the predicate legal forms or something similar.

In [10]:
queryString = """
SELECT DISTINCT ?pr ?name
WHERE { 

?p wdt:P31 wd:Q4830453.
?p ?pr ?o.

?pr sc:name ?name .

FILTER (REGEX(?name,".*egal.*"))
}
LIMIT 50
"""

print("Results")
run_query(queryString)

Results
[('pr', 'http://www.wikidata.org/prop/direct/P1278'), ('name', 'Legal Entity Identifier')]
[('pr', 'http://www.wikidata.org/prop/direct/P1454'), ('name', 'legal form')]
[('pr', 'http://www.wikidata.org/prop/direct/P1031'), ('name', 'legal citation of this text')]

3

Found that legal form is the predicate `P1454`

In [11]:
queryString = """
SELECT DISTINCT ?legal_form (COUNT(DISTINCT ?p) AS ?companies)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P1454 ?o.

?o sc:name ?legal_form .

}
GROUP BY ?legal_form
ORDER BY DESC (?companies)
LIMIT 100
"""

print("Results")
run_query(queryString)

Results
[('legal_form', 'společnost s ručením omezeným'), ('companies', '13059')]
[('legal_form', 'akciová společnost'), ('companies', '5551')]
[('legal_form', 'joint-stock company'), ('companies', '5168')]
[('legal_form', 'GmbH'), ('companies', '2823')]
[('legal_form', 'Spoločnosť s ručením obmedzeným'), ('companies', '2302')]
[('legal_form', 'Aktiengesellschaft'), ('companies', '1842')]
[('legal_form', 'public company'), ('companies', '1407')]
[('legal_form', 'aksjeselskap'), ('companies', '1312')]
[('legal_form', 'kabushiki gaisha'), ('companies', '1228')]
[('legal_form', 'S.A.'), ('companies', '1134')]
[('legal_form', 'GmbH & Co. KG'), ('companies', '1127')]
[('legal_form', 'private limited liability company'), ('companies', '1112')]
[('legal_form', 'privately held company'), ('companies', '968')]
[('legal_form', 'Gesellschaft mit beschränkter Haftung'), ('companies', '867')]
[('legal_form', 'akciová spoločnosť'), ('companies', '838')]
[('legal_form', 'open joint-stock company'), ('companies', '610')]
[('legal_form', 'private company limited by shares'), ('companies', '581')]
[('legal_form', 'Société par actions simplifiée'), ('companies', '554')]
[('legal_form', 'public limited company'), ('companies', '544')]
[('legal_form', 'limited liability company'), ('companies', '471')]
[('legal_form', 'cooperative'), ('companies', '446')]
[('legal_form', 'S.r.l.'), ('companies', '385')]
[('legal_form', 'aktieselskab'), ('companies', '340')]
[('legal_form', 'società per azioni'), ('companies', '318')]
[('legal_form', 'Societas Europaea'), ('companies', '307')]
[('legal_form', 'aktiebolag'), ('companies', '306')]
[('legal_form', 'mutual fund'), ('companies', '269')]
[('legal_form', 'private limited company'), ('companies', '254')]
[('legal_form', 'Besloten vennootschap'), ('companies', '250')]
[('legal_form', 'corporation'), ('companies', '249')]
[('legal_form', 'société anonyme'), ('companies', '238')]
[('legal_form', 'Oy'), ('companies', '235')]
[('legal_form', 'Kommanditgesellschaft'), ('companies', '222')]
[('legal_form', 'state-owned enterprise'), ('companies', '221')]
[('legal_form', 'company'), ('companies', '211')]
[('legal_form', 'closed joint-stock company'), ('companies', '194')]
[('legal_form', 'Sp. z o.o.'), ('companies', '186')]
[('legal_form', 'limited company'), ('companies', '184')]
[('legal_form', 'Naamloze vennootschap'), ('companies', '184')]
[('legal_form', 'subsidiary'), ('companies', '175')]
[('legal_form', 'jednoduchá spoločnosť na akcie'), ('companies', '170')]
[('legal_form', 'Kft.'), ('companies', '159')]
[('legal_form', 'voluntary organization'), ('companies', '155')]
[('legal_form', 'A natural person doing business according to the Trade Licensing Act not registered in the Commercial Register'), ('companies', '134')]
[('legal_form', 'NV/SA'), ('companies', '120')]
[('legal_form', 'spolek'), ('companies', '112')]
[('legal_form', 'ООО'), ('companies', '102')]
[('legal_form', 'public-benefit corporation'), ('companies', '94')]
[('legal_form', 'sociedad anónima'), ('companies', '89')]
[('legal_form', 'allmennaksjeselskap'), ('companies', '87')]
[('legal_form', 'U.S. corporation'), ('companies', '87')]
[('legal_form', 'Volkseigener Betrieb'), ('companies', '81')]
[('legal_form', 'Anpartsselskab'), ('companies', '79')]
[('legal_form', 'limited liability partnership'), ('companies', '71')]
[('legal_form', 'Akcinė bendrovė'), ('companies', '61')]
[('legal_form', 'komanditní společnost'), ('companies', '60')]
[('legal_form', 'foundation'), ('companies', '59')]
[('legal_form', 'Anonim Şirket'), ('companies', '59')]
[('legal_form', 'otevřený podílový fond'), ('companies', '53')]
[('legal_form', 'Eingetragene Genossenschaft'), ('companies', '50')]
[('legal_form', 'Gemeinnützige GmbH'), ('companies', '49')]
[('legal_form', 'general partnership'), ('companies', '49')]
[('legal_form', 'S.L.'), ('companies', '49')]
[('legal_form', 'svěřenský fond'), ('companies', '47')]
[('legal_form', 'nadace'), ('companies', '44')]
[('legal_form', 'Société à responsabilité limitée'), ('companies', '43')]
[('legal_form', 'unitary enterprise'), ('companies', '43')]
[('legal_form', 'natural person'), ('companies', '42')]
[('legal_form', 'Delaware corporation'), ('companies', '42')]
[('legal_form', 'Société Anonyme'), ('companies', '42')]
[('legal_form', 'joint venture'), ('companies', '41')]
[('legal_form', 'Anstalt des öffentlichen Rechts'), ('companies', '41')]
[('legal_form', 'julkinen osakeyhtiö'), ('companies', '40')]
[('legal_form', 'mutual organization'), ('companies', '39')]
[('legal_form', 'sole proprietorship in Germany'), ('companies', '39')]
[('legal_form', 'Offene Handelsgesellschaft'), ('companies', '38')]
[('legal_form', 'samvirkeforetak'), ('companies', '37')]
[('legal_form', 'société à responsabilité limitée'), ('companies', '37')]
[('legal_form', 'limited partnership'), ('companies', '37')]
[('legal_form', 'Kommanditgesellschaft auf Aktien'), ('companies', '36')]
[('legal_form', 'sociedade anónima'), ('companies', '34')]
[('legal_form', 'obecně prospěšná společnost'), ('companies', '34')]
[('legal_form', 'société par actions simplifiée unipersonnelle'), ('companies', '33')]
[('legal_form', 'partnership'), ('companies', '32')]
[('legal_form', 'veřejná obchodní společnost'), ('companies', '31')]
[('legal_form', 'státní podnik'), ('companies', '28')]
[('legal_form', 'holding company'), ('companies', '28')]
[('legal_form', 'società consortile'), ('companies', '26')]
[('legal_form', 'publisher'), ('companies', '22')]
[('legal_form', 'private joint stock company'), ('companies', '21')]
[('legal_form', 'Limited Company'), ('companies', '21')]
[('legal_form', 'GbR'), ('companies', '20')]
[('legal_form', 'association of legal entities'), ('companies', '20')]
[('legal_form', 'mutual insurance'), ('companies', '19')]
[('legal_form', 'nonprofit organization'), ('companies', '19')]
[('legal_form', 'organisational unit of the state'), ('companies', '19')]
[('legal_form', 'spółka akcyjna'), ('companies', '19')]
[('legal_form', 'GmbH & Co. KGaA'), ('companies', '19')]
[('legal_form', 'general incorporated association'), ('companies', '19')]
[('legal_form', 'národní podnik'), ('companies', '18')]

100

## Task 5
Analyze the number of employees and other relevant numeric attributes

#### 5.1 What are the top-10 companies for a given attribute?

Rerun the first query to have all numeric attributes.

In [12]:
queryString = """
SELECT DISTINCT ?pr ?name
WHERE { 

?p wdt:P31 wd:Q4830453 ;
    ?pr ?o.
?pr sc:name ?name .
FILTER(isNumeric(?o))
}
"""

print("Results")
run_query(queryString)

Results
[('pr', 'http://www.wikidata.org/prop/direct/P1128'), ('name', 'employees')]
[('pr', 'http://www.wikidata.org/prop/direct/P1661'), ('name', 'Alexa rank')]
[('pr', 'http://www.wikidata.org/prop/direct/P2139'), ('name', 'total revenue')]
[('pr', 'http://www.wikidata.org/prop/direct/P2295'), ('name', 'net profit')]
[('pr', 'http://www.wikidata.org/prop/direct/P2403'), ('name', 'total assets')]
[('pr', 'http://www.wikidata.org/prop/direct/P3362'), ('name', 'operating income')]
[('pr', 'http://www.wikidata.org/prop/direct/P8687'), ('name', 'social media followers')]
[('pr', 'http://www.wikidata.org/prop/direct/P2137'), ('name', 'total equity')]
[('pr', 'http://www.wikidata.org/prop/direct/P2138'), ('name', 'total liabilities')]
[('pr', 'http://www.wikidata.org/prop/direct/P8340'), ('name', 'estimated value')]
[('pr', 'http://www.wikidata.org/prop/direct/P9279'), ('name', 'Egapro gender equality index')]
[('pr', 'http://www.wikidata.org/prop/direct/P2043'), ('name', 'length')]
[('pr', 'http://www.wikidata.org/prop/direct/P2048'), ('name', 'height')]
[('pr', 'http://www.wikidata.org/prop/direct/P2049'), ('name', 'width')]
[('pr', 'http://www.wikidata.org/prop/direct/P2046'), ('name', 'area')]
[('pr', 'http://www.wikidata.org/prop/direct/P3744'), ('name', 'number of subscribers')]
[('pr', 'http://www.wikidata.org/prop/direct/P2226'), ('name', 'market capitalization')]
[('pr', 'http://www.wikidata.org/prop/direct/P2133'), ('name', 'total debt')]
[('pr', 'http://www.wikidata.org/prop/direct/P2663'), ('name', 'common equity tier 1 capital ratio (CETI)')]
[('pr', 'http://www.wikidata.org/prop/direct/P1114'), ('name', 'quantity')]
[('pr', 'http://www.wikidata.org/prop/direct/P1833'), ('name', 'number of registered users/contributors')]
[('pr', 'http://www.wikidata.org/prop/direct/P4103'), ('name', 'assets under management')]
[('pr', 'http://www.wikidata.org/prop/direct/P8368'), ('name', 'number of branches')]
[('pr', 'http://www.wikidata.org/prop/direct/P1174'), ('name', 'visitors per year')]
[('pr', 'http://www.wikidata.org/prop/direct/P2124'), ('name', 'member count')]
[('pr', 'http://www.wikidata.org/prop/direct/P3086'), ('name', 'speed limit')]
[('pr', 'http://www.wikidata.org/prop/direct/P2595'), ('name', 'maximum gradient')]
[('pr', 'http://www.wikidata.org/prop/direct/P8247'), ('name', 'nominal share capital')]
[('pr', 'http://www.wikidata.org/prop/direct/P2402'), ('name', 'total expenditure')]
[('pr', 'http://www.wikidata.org/prop/direct/P1132'), ('name', 'number of participants')]
[('pr', 'http://www.wikidata.org/prop/direct/P2896'), ('name', 'publication interval')]
[('pr', 'http://www.wikidata.org/prop/direct/P2232'), ('name', 'cash')]
[('pr', 'http://www.wikidata.org/prop/direct/P6801'), ('name', 'number of hospital beds')]
[('pr', 'http://www.wikidata.org/prop/direct/P1092'), ('name', 'total produced')]
[('pr', 'http://www.wikidata.org/prop/direct/P2284'), ('name', 'price')]
[('pr', 'http://www.wikidata.org/prop/direct/P2257'), ('name', 'event interval')]
[('pr', 'http://www.wikidata.org/prop/direct/P3575'), ('name', 'data size')]
[('pr', 'http://www.wikidata.org/prop/direct/P1436'), ('name', 'collection or exhibition size')]
[('pr', 'http://www.wikidata.org/prop/direct/P1872'), ('name', 'minimum number of players')]
[('pr', 'http://www.wikidata.org/prop/direct/P1113'), ('name', 'number of episodes')]
[('pr', 'http://www.wikidata.org/prop/direct/P2109'), ('name', 'installed capacity')]
[('pr', 'http://www.wikidata.org/prop/direct/P2044'), ('name', 'elevation above sea level')]
[('pr', 'http://www.wikidata.org/prop/direct/P2197'), ('name', 'production rate')]
[('pr', 'http://www.wikidata.org/prop/direct/P2254'), ('name', 'maximum operating altitude')]
[('pr', 'http://www.wikidata.org/prop/direct/P2555'), ('name', 'fee')]
[('pr', 'http://www.wikidata.org/prop/direct/P6589'), ('name', 'endowment')]
[('pr', 'http://www.wikidata.org/prop/direct/P3872'), ('name', 'patronage')]
[('pr', 'http://www.wikidata.org/prop/direct/P2262'), ('name', 'draft')]
[('pr', 'http://www.wikidata.org/prop/direct/P2052'), ('name', 'speed')]
[('pr', 'http://www.wikidata.org/prop/direct/P1373'), ('name', 'daily patronage')]
[('pr', 'http://www.wikidata.org/prop/direct/P1083'), ('name', 'maximum capacity')]
[('pr', 'http://www.wikidata.org/prop/direct/P2130'), ('name', 'cost')]
[('pr', 'http://www.wikidata.org/prop/direct/P2144'), ('name', 'frequency')]
[('pr', 'http://www.wikidata.org/prop/direct/P5896'), ('name', 'trading fee')]
[('pr', 'http://www.wikidata.org/prop/direct/P5991'), ('name', 'carbon footprint')]
[('pr', 'http://www.wikidata.org/prop/direct/P3039'), ('name', 'wheelbase')]
[('pr', 'http://www.wikidata.org/prop/direct/P4131'), ('name', 'annual energy output')]
[('pr', 'http://www.wikidata.org/prop/direct/P2661'), ('name', 'target interest rate')]
[('pr', 'http://www.wikidata.org/prop/direct/P1101'), ('name', 'floors above ground')]
[('pr', 'http://www.wikidata.org/prop/direct/P2769'), ('name', 'budget')]
[('pr', 'http://www.wikidata.org/prop/direct/P2067'), ('name', 'mass')]
[('pr', 'http://www.wikidata.org/prop/direct/P2610'), ('name', 'thickness')]
[('pr', 'http://www.wikidata.org/prop/direct/P8594'), ('name', 'ride height')]
[('pr', 'http://www.wikidata.org/prop/direct/P2261'), ('name', 'beam')]
[('pr', 'http://www.wikidata.org/prop/direct/P6125'), ('name', 'number of volunteers')]
[('pr', 'http://www.wikidata.org/prop/direct/P8093'), ('name', 'donations')]
[('pr', 'http://www.wikidata.org/prop/direct/P2957'), ('name', 'throughput')]
[('pr', 'http://www.wikidata.org/prop/direct/P2437'), ('name', 'number of seasons')]
[('pr', 'http://www.wikidata.org/prop/direct/P1104'), ('name', 'number of pages')]
[('pr', 'http://www.wikidata.org/prop/direct/P6697'), ('name', 'Football Money League rank')]
[('pr', 'http://www.wikidata.org/prop/direct/P2658'), ('name', 'Scoville grade')]
[('pr', 'http://www.wikidata.org/prop/direct/P3087'), ('name', 'fiscal/tax revenue')]

72

Now we can look for the single attributes and perform a query with only this attributw, limit to 10 the result set and order by descendant order, that is the answer of the question 5.1. I will do some example for some numeric attributes (employees and total revenue) but then it is possible to do the same with all the predicates listed above.

In [13]:
queryString = """
SELECT ?name ?employees
WHERE { 

?p wdt:P31 wd:Q4830453;
   wdt:P1128 ?employees.

?p sc:name ?name .
FILTER (isNumeric(?employees))
}
ORDER BY DESC (?employees)
LIMIT 10
"""

print("Results")
run_query(queryString)

Results
[('name', 'Walmart'), ('employees', '2500000')]
[('name', 'China National Petroleum Corporation'), ('employees', '1589508')]
[('name', 'State Grid Corporation of China'), ('employees', '1581000')]
[('name', 'Amazon'), ('employees', '1298000')]
[('name', 'Randstad N.V.'), ('employees', '658580')]
[('name', 'Foxconn'), ('employees', '618460')]
[('name', 'G4S'), ('employees', '618260')]
[('name', 'RAO UES'), ('employees', '577000')]
[('name', 'DHL'), ('employees', '570000')]
[('name', 'Deutsche Post AG'), ('employees', '547459')]

10

In [14]:
queryString = """
SELECT ?name ?revenues
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P2139 ?revenues.

?p sc:name ?name .
}
ORDER BY DESC (?revenues)
LIMIT 10
"""

print("Results")
run_query(queryString)

Results
[('name', 'Samsung Electronics'), ('revenues', '201870000000000')]
[('name', 'Bank Rakyat Indonesia'), ('revenues', '111582000000000')]
[('name', 'RAO UES'), ('revenues', '40377000000000')]
[('name', 'Toyota'), ('revenues', '28403118000000')]
[('name', 'Indofood Agri Resources Limited'), ('revenues', '13650388000000')]
[('name', 'SoftBank'), ('revenues', '9158765000000')]
[('name', 'Hanjin Shipping'), ('revenues', '7669598000000')]
[('name', 'Panasonic Corporation'), ('revenues', '7343707000000')]
[('name', 'Gazprom'), ('revenues', '6321559000000')]
[('name', 'Yukos'), ('revenues', '5860000000000')]

10

#### 5.2 For which companies is defined some form of income or market capitalization or total assets? What is the min, max, and average in each category and country?

From the queries about numeric attributes done before, I found some predicates useful to answer this query. The predicates are:
- `P2139`: total revenues;
- `P2295`: net profit;
- `P3362`: operating income;
- `P8340`: estimated value;
- `P2133`: total debt;
- `P2226`: market capitalization;
- `P2403`: total assets.

For each of this predicate I will perform a query that show the min, max and average

In [15]:
#query for the revenues
queryString = """
SELECT DISTINCT ?country (min(?revenues) AS ?min) (max(?revenues) AS ?max) (avg(?revenues) AS ?avg)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P2139 ?revenues;
    wdt:P17 ?c.

?c sc:name ?country .
FILTER (isNumeric(?revenues))
}
GROUP BY ?c ?country
ORDER BY DESC (?avg)
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('country', 'Indonesia'), ('min', '111582000000000'), ('max', '111582000000000'), ('avg', '111582000000000')]
[('country', 'South Korea'), ('min', '700000000'), ('max', '201870000000000'), ('avg', '19408289289454.545454545454545')]
[('country', 'Singapore'), ('min', '102400000'), ('max', '13650388000000'), ('avg', '2739130932000')]
[('country', 'Japan'), ('min', '180000000'), ('max', '28403118000000'), ('avg', '2061081295925.925925925925926')]
[('country', 'Iraq'), ('min', '1361329000000'), ('max', '1361329000000'), ('avg', '1361329000000')]
[('country', 'Taiwan'), ('min', '234285354'), ('max', '4358733357000'), ('avg', '822597048764.857142857142857')]
[('country', 'Hong Kong'), ('min', '566497000000'), ('max', '566497000000'), ('avg', '566497000000')]
[('country', 'Nigeria'), ('min', '449800000000'), ('max', '449800000000'), ('avg', '449800000000')]
[('country', "People's Republic of China"), ('min', '80000000'), ('max', '2742779810000'), ('avg', '402983084099.816363636363636')]
[('country', 'Russia'), ('min', '1000000'), ('max', '40377000000000'), ('avg', '386489310198.975')]
[('country', 'Cayman Islands'), ('min', '627122000'), ('max', '507248000000'), ('avg', '253937561000')]
[('country', 'Hungary'), ('min', '482000000'), ('max', '3553005000000'), ('avg', '50609430555.555555555555556')]
[('country', 'Thailand'), ('min', '41000000000'), ('max', '41000000000'), ('avg', '41000000000')]
[('country', 'United Kingdom'), ('min', '6730021'), ('max', '631214100000'), ('avg', '39356073110.426428571428571')]
[('country', 'Mexico'), ('min', '816000000'), ('max', '125943900000'), ('avg', '38801380000')]
[('country', 'Switzerland'), ('min', '18000000'), ('max', '180744100000'), ('avg', '36755845210.526315789473684')]
[('country', 'Norway'), ('min', '225904'), ('max', '941000000000'), ('avg', '34915177423.48936170212766')]
[('country', 'Kazakhstan'), ('min', '158000000'), ('max', '93286400000'), ('avg', '33349800000')]
[('country', 'Saudi Arabia'), ('min', '26690000'), ('max', '1105696000000'), ('avg', '33071398974.358974358974359')]
[('country', 'Argentina'), ('min', '524876000'), ('max', '134710200000'), ('avg', '32415038616.2')]

20

In [16]:
#query for the net profit
queryString = """
SELECT DISTINCT ?country (min(?net) AS ?min) (max(?net) AS ?max) (avg(?net) AS ?avg)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P2295 ?net;
    wdt:P17 ?c.

?c sc:name ?country .
FILTER (isNumeric(?net))
}
GROUP BY ?c ?country
ORDER BY DESC (?avg)
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('country', 'South Korea'), ('min', '182000000'), ('max', '22730000000000'), ('avg', '5691187331750')]
[('country', 'Saudi Arabia'), ('min', '330693000000'), ('max', '330693000000'), ('avg', '330693000000')]
[('country', 'Japan'), ('min', '-5114000000'), ('max', '2312694000000'), ('avg', '247274351941.778111111111111')]
[('country', 'Iraq'), ('min', '243618000000'), ('max', '243618000000'), ('avg', '243618000000')]
[('country', 'Hong Kong'), ('min', '78188000000'), ('max', '78188000000'), ('avg', '78188000000')]
[('country', "People's Republic of China"), ('min', '38668000'), ('max', '317685000000'), ('avg', '51582444678.618965517241379')]
[('country', 'Crimean Peninsula'), ('min', '37611743000'), ('max', '37611743000'), ('avg', '37611743000')]
[('country', 'Taiwan'), ('min', '2632565'), ('max', '151357164000'), ('avg', '27938595094.166666666666667')]
[('country', 'Cayman Islands'), ('min', '18881000'), ('max', '31400000000'), ('avg', '15709440500')]
[('country', 'Russia'), ('min', '-108244949000'), ('max', '760300000000'), ('avg', '14523234424.553072625698324')]
[('country', 'United Arab Emirates'), ('min', '6777915000'), ('max', '6777915000'), ('avg', '6777915000')]
[('country', 'United States of America'), ('min', '-11673000000'), ('max', '78586000000'), ('avg', '5595168843.814366197183099')]
[('country', 'Denmark'), ('min', '-239000000'), ('max', '42138000000'), ('avg', '5443632176.555555555555556')]
[('country', 'Norway'), ('min', '-15400000'), ('max', '39000000000'), ('avg', '4245504642.307692307692308')]
[('country', 'Sweden'), ('min', '-239000000'), ('max', '12652000000'), ('avg', '3914885000')]
[('country', 'Hungary'), ('min', '-105300000'), ('max', '251655000000'), ('avg', '3816156028.985507246405797')]
[('country', 'Brazil'), ('min', '2500000000'), ('max', '2500000000'), ('avg', '2500000000')]
[('country', 'Kazakhstan'), ('min', '2197000000'), ('max', '2197000000'), ('avg', '2197000000')]
[('country', 'India'), ('min', '-840000000'), ('max', '6700000000'), ('avg', '2113666666.666666666666667')]
[('country', 'Ukraine'), ('min', '-1916000000'), ('max', '10322053000'), ('avg', '2077747500')]

20

In [17]:
#query for the operating income
queryString = """
SELECT DISTINCT ?country (min(?op_income) AS ?min) (max(?op_income) AS ?max) (avg(?op_income) AS ?avg)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P3362 ?op_income;
    wdt:P17 ?c.

?c sc:name ?country .
FILTER (isNumeric(?op_income))
}
GROUP BY ?c ?country
ORDER BY DESC (?avg)
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('country', 'South Korea'), ('min', '97000000'), ('max', '29240000000000'), ('avg', '7348055899750')]
[('country', 'Saudi Arabia'), ('min', '674871000000'), ('max', '674871000000'), ('avg', '674871000000')]
[('country', 'Japan'), ('min', '-5104000000'), ('max', '2853971000000'), ('avg', '613255182222.222222222222222')]
[('country', 'Hungary'), ('min', '307905000000'), ('max', '307905000000'), ('avg', '307905000000')]
[('country', "People's Republic of China"), ('min', '33685000'), ('max', '390822000000'), ('avg', '71484820490.857142857142857')]
[('country', 'Russia'), ('min', '-48465118000'), ('max', '1702100000000'), ('avg', '51122627077.777777777777778')]
[('country', 'Taiwan'), ('min', '24716786'), ('max', '174939501000'), ('avg', '50573411196.5')]
[('country', 'Cayman Islands'), ('min', '49985000'), ('max', '69712000000'), ('avg', '34880992500')]
[('country', 'Australia'), ('min', '15996000000'), ('max', '15996000000'), ('avg', '15996000000')]
[('country', 'Turkey'), ('min', '94100000'), ('max', '41578000000'), ('avg', '14275366666.666666666666667')]
[('country', 'Switzerland'), ('min', '22317000'), ('max', '50998000000'), ('avg', '12997502833.333333333333333')]
[('country', 'United States of America'), ('min', '-12150000000'), ('max', '113012000000'), ('avg', '10150369915.43953488372093')]
[('country', 'Ukraine'), ('min', '-77197000'), ('max', '13010193000'), ('avg', '6466498000')]
[('country', 'Spain'), ('min', '-560957000'), ('max', '12640000000'), ('avg', '5725084000')]
[('country', 'Sweden'), ('min', '-855000000'), ('max', '15493000000'), ('avg', '4502891666.666666666666667')]
[('country', 'Belgium'), ('min', '4020000000'), ('max', '4020000000'), ('avg', '4020000000')]
[('country', 'Norway'), ('min', '54100000'), ('max', '18848000000'), ('avg', '3899335166.666666666666667')]
[('country', 'Germany'), ('min', '-181518000'), ('max', '12902000000'), ('avg', '3686841473.684210526315789')]
[('country', 'France'), ('min', '114600000'), ('max', '6810000000'), ('avg', '2855231300')]
[('country', 'Netherlands'), ('min', '-9677000'), ('max', '18324000000'), ('avg', '2752035357.142857142857143')]

20

In [18]:
#query for the estimated value
queryString = """
SELECT DISTINCT ?country (min(?value) AS ?min) (max(?value) AS ?max) (avg(?value) AS ?avg)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P8340 ?value;
    wdt:P17 ?c.

?c sc:name ?country .
FILTER (isNumeric(?value))
}
GROUP BY ?c ?country
ORDER BY DESC (?avg)
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('country', "People's Republic of China"), ('min', '2000000000'), ('max', '105000000000'), ('avg', '21042857142.857142857142857')]
[('country', 'United States of America'), ('min', '1000000000'), ('max', '105000000000'), ('avg', '5858108108.108108108108108')]
[('country', 'Sweden'), ('min', '2500000000'), ('max', '8500000000'), ('avg', '5500000000')]
[('country', 'India'), ('min', '1000000000'), ('max', '15000000000'), ('avg', '3914285714.285714285714286')]
[('country', 'Netherlands'), ('min', '2300000000'), ('max', '2300000000'), ('avg', '2300000000')]
[('country', 'Germany'), ('min', '1000000000'), ('max', '3100000000'), ('avg', '1880000000')]
[('country', 'Singapore'), ('min', '1000000000'), ('max', '2500000000'), ('avg', '1600000000')]
[('country', 'Israel'), ('min', '1500000000'), ('max', '1500000000'), ('avg', '1500000000')]
[('country', 'Malaysia'), ('min', '1300000000'), ('max', '1600000000'), ('avg', '1450000000')]
[('country', 'United Kingdom'), ('min', '1000000000'), ('max', '1600000000'), ('avg', '1366666666.666666666666667')]
[('country', 'Thailand'), ('min', '1300000000'), ('max', '1300000000'), ('avg', '1300000000')]
[('country', 'Philippines'), ('min', '1300000000'), ('max', '1300000000'), ('avg', '1300000000')]
[('country', 'Indonesia'), ('min', '1300000000'), ('max', '1300000000'), ('avg', '1300000000')]
[('country', 'Vietnam'), ('min', '1300000000'), ('max', '1300000000'), ('avg', '1300000000')]
[('country', 'Canada'), ('min', '1000000000'), ('max', '1000000000'), ('avg', '1000000000')]
[('country', 'Argentina'), ('min', '1000000000'), ('max', '1000000000'), ('avg', '1000000000')]
[('country', 'United Arab Emirates'), ('min', '1000000000'), ('max', '1000000000'), ('avg', '1000000000')]

17

In [19]:
#query for the total debt
queryString = """
SELECT DISTINCT ?country (min(?debt) AS ?min) (max(?debt) AS ?max) (avg(?debt) AS ?avg)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P2133 ?debt;
    wdt:P17 ?c.

?c sc:name ?country .
FILTER (isNumeric(?debt))
}
GROUP BY ?c ?country
ORDER BY DESC (?avg)
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('country', 'United States of America'), ('min', '1683900000'), ('max', '33717000000'), ('avg', '15571521428.571428571428571')]
[('country', 'France'), ('min', '1622100'), ('max', '14001000000'), ('avg', '5569155525')]
[('country', 'Spain'), ('min', '442000000'), ('max', '442000000'), ('avg', '442000000')]

3

In [20]:
#query for the market capitalization
queryString = """
SELECT DISTINCT ?country (min(?cap) AS ?min) (max(?cap) AS ?max) (avg(?cap) AS ?avg)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P2226 ?cap;
    wdt:P17 ?c.

?c sc:name ?country .
FILTER (isNumeric(?cap))
}
GROUP BY ?c ?country
ORDER BY DESC (?avg)
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('country', 'Saudi Arabia'), ('min', '2458000000000'), ('max', '2458000000000'), ('avg', '2458000000000')]
[('country', 'Russia'), ('min', '6858000000'), ('max', '3100000000000'), ('avg', '731755800000')]
[('country', 'United States of America'), ('min', '500000'), ('max', '2470000000000'), ('avg', '411943146923')]
[('country', "People's Republic of China"), ('min', '57703130'), ('max', '486000000000'), ('avg', '243028851565')]
[('country', 'Finland'), ('min', '26257000000'), ('max', '415000000000'), ('avg', '220628500000')]
[('country', 'Switzerland'), ('min', '172750000000'), ('max', '237363000000'), ('avg', '205056500000')]
[('country', 'Japan'), ('min', '8414000000'), ('max', '500000000000'), ('avg', '176578250000')]
[('country', 'Denmark'), ('min', '25256000000'), ('max', '289600000000'), ('avg', '142452000000')]
[('country', 'Czech Republic'), ('min', '7100000000'), ('max', '286200000000'), ('avg', '138800000000')]
[('country', 'United Kingdom'), ('min', '47000000000'), ('max', '185400000000'), ('avg', '116200000000')]
[('country', 'India'), ('min', '4635000000'), ('max', '300500000000'), ('avg', '107711666666.666666666666667')]
[('country', 'Sweden'), ('min', '37774000000'), ('max', '80004000000'), ('avg', '58889000000')]
[('country', 'Taiwan'), ('min', '56280000000'), ('max', '56280000000'), ('avg', '56280000000')]
[('country', 'Germany'), ('min', '111760000'), ('max', '139800000000'), ('avg', '40829082512.5')]
[('country', 'Spain'), ('min', '38105000000'), ('max', '38105000000'), ('avg', '38105000000')]
[('country', 'Luxembourg'), ('min', '32000000000'), ('max', '32000000000'), ('avg', '32000000000')]
[('country', 'France'), ('min', '157659497'), ('max', '139000000000'), ('avg', '30570379928.142857142857143')]
[('country', 'Norway'), ('min', '22800000000'), ('max', '22800000000'), ('avg', '22800000000')]
[('country', 'Canada'), ('min', '648532358'), ('max', '45900000000'), ('avg', '17810177452.666666666666667')]
[('country', 'Netherlands'), ('min', '16707000'), ('max', '35600000000'), ('avg', '16371469400')]

20

In [21]:
#query for the total assets
queryString = """
SELECT DISTINCT ?country (min(?assets) AS ?min) (max(?assets) AS ?max) (avg(?assets) AS ?avg)
WHERE { 

?p wdt:P31 wd:Q4830453;
    wdt:P2403 ?assets;
    wdt:P17 ?c.

?c sc:name ?country .
FILTER (isNumeric(?assets))
}
GROUP BY ?c ?country
ORDER BY DESC (?avg)
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('country', 'South Korea'), ('min', '6450000000'), ('max', '262174300000000'), ('avg', '53747392301544.4')]
[('country', 'Japan'), ('min', '1412070000'), ('max', '47427597000000'), ('avg', '10170190707000')]
[('country', 'Hong Kong'), ('min', '8289924000000'), ('max', '8289924000000'), ('avg', '8289924000000')]
[('country', "People's Republic of China"), ('min', '3727000000'), ('max', '33345058000000'), ('avg', '4439947726959.48875')]
[('country', 'Hungary'), ('min', '720000000000'), ('max', '4103786000000'), ('avg', '2411893000000')]
[('country', 'Russia'), ('min', '50858000'), ('max', '36016000000000'), ('avg', '1292729712609.523809523809524')]
[('country', 'Cayman Islands'), ('min', '1496525000'), ('max', '2301159000000'), ('avg', '1151327762500')]
[('country', 'Norway'), ('min', '42988000'), ('max', '2793294000000'), ('avg', '740150872000')]
[('country', 'Croatia'), ('min', '675233145000'), ('max', '675233145000'), ('avg', '675233145000')]
[('country', 'Finland'), ('min', '39517000000'), ('max', '615659000000'), ('avg', '327588000000')]
[('country', 'United Kingdom'), ('min', '135646163'), ('max', '2374986000000'), ('avg', '319181544833')]
[('country', 'Taiwan'), ('min', '182373217000'), ('max', '433057069000'), ('avg', '318177620333.333333333333333')]
[('country', 'Belgium'), ('min', '275200000000'), ('max', '275200000000'), ('avg', '275200000000')]
[('country', 'Italy'), ('min', '69899000'), ('max', '601300000000'), ('avg', '274456633000')]
[('country', 'Spain'), ('min', '100000'), ('max', '1340000000000'), ('avg', '272700152875')]
[('country', 'Algeria'), ('min', '230000000000'), ('max', '230000000000'), ('avg', '230000000000')]
[('country', 'United States of America'), ('min', '1'), ('max', '3960490000000'), ('avg', '212870364610.982424778761062')]
[('country', 'Switzerland'), ('min', '284824000'), ('max', '439299000000'), ('avg', '127131876666.666666666666667')]
[('country', 'Crimean Peninsula'), ('min', '126869333000'), ('max', '126869333000'), ('avg', '126869333000')]
[('country', 'Saudi Arabia'), ('min', '32525893'), ('max', '1494126000000'), ('avg', '104463601437.86')]

20

#### 5.3 Which business in each country owns more businesses in other countries?

Firstable group by company to discover the companies owned and append the country

In [22]:
queryString = """
SELECT ?company ?country (COUNT(DISTINCT ?o) AS ?companies_owned)
WHERE { 

    ?p wdt:P31 wd:Q4830453;
        wdt:P17 ?c;
        wdt:P1830 ?o.
    ?o wdt:P17 ?own_c.
    FILTER(?c != ?own_c).

    ?p sc:name ?company .
    ?c sc:name ?country .

}
GROUP BY ?p ?company ?c ?country
ORDER BY DESC (?companies_owned)

LIMIT 10
"""

print("Results")
run_query(queryString)

Results
[('company', 'The Walt Disney Company'), ('country', 'United States of America'), ('companies_owned', '66')]
[('company', 'Sony'), ('country', 'Japan'), ('companies_owned', '29')]
[('company', 'AG für Verkehrswesen'), ('country', 'German Reich'), ('companies_owned', '25')]
[('company', 'WarnerMedia'), ('country', 'United States of America'), ('companies_owned', '23')]
[('company', 'Anheuser-Busch InBev'), ('country', 'Brazil'), ('companies_owned', '22')]
[('company', 'Anheuser-Busch InBev'), ('country', 'Belgium'), ('companies_owned', '21')]
[('company', 'Viacom'), ('country', 'United States of America'), ('companies_owned', '20')]
[('company', 'Discovery Inc.'), ('country', 'United States of America'), ('companies_owned', '17')]
[('company', 'Heineken'), ('country', 'Netherlands'), ('companies_owned', '16')]
[('company', 'LVMH'), ('country', 'France'), ('companies_owned', '13')]

10

Then find for each country the max companies owned

In [23]:
queryString = """
SELECT ?country (max(?companies_owned) AS ?max_owned)
WHERE{
    {
        SELECT ?p ?company ?country (COUNT(DISTINCT ?o) AS ?companies_owned)
        WHERE { 

            ?p wdt:P31 wd:Q4830453;
                wdt:P17 ?c;
                wdt:P1830 ?o.
            ?o wdt:P17 ?own_c.
            FILTER(?c != ?own_c).

            ?p sc:name ?company .
            ?c sc:name ?country .

        }
        GROUP BY ?p ?company ?c ?country
    }
}
GROUP BY ?c ?country
ORDER BY DESC (?max_owned)
LIMIT 10
"""

print("Results")
run_query(queryString)

Results
[('country', 'United States of America'), ('max_owned', '66')]
[('country', 'Japan'), ('max_owned', '29')]
[('country', 'German Reich'), ('max_owned', '25')]
[('country', 'Brazil'), ('max_owned', '22')]
[('country', 'Belgium'), ('max_owned', '21')]
[('country', 'Netherlands'), ('max_owned', '16')]
[('country', 'Luxembourg'), ('max_owned', '13')]
[('country', 'Denmark'), ('max_owned', '13')]
[('country', 'Germany'), ('max_owned', '13')]
[('country', 'France'), ('max_owned', '13')]

10

Put together the two queries above and filter for the same owned companies and same country. In this way I found the company in that country that own more companies.

In [24]:
queryString = """
SELECT ?country ?company1 ?max_owned{
    {
        SELECT ?country (max(?companies_owned) AS ?max_owned)
        WHERE{
            {
                SELECT ?p ?company ?country (COUNT(DISTINCT ?o) AS ?companies_owned)
                WHERE { 

                    ?p wdt:P31 wd:Q4830453;
                        wdt:P17 ?c;
                        wdt:P1830 ?o.
                    ?o wdt:P17 ?own_c.
                    FILTER(?c != ?own_c).

                    ?p sc:name ?company .
                    ?c sc:name ?country .

                }
                GROUP BY ?p ?company ?c ?country
            }
        }
        GROUP BY ?c ?country
        ORDER BY DESC (?max_owned)
    }
    {
        SELECT ?p1 ?company1 ?country1 (COUNT(DISTINCT ?o1) AS ?inside_companies_owned)
        WHERE { 

            ?p1 wdt:P31 wd:Q4830453;
                wdt:P17 ?c1;
                wdt:P1830 ?o1.
            ?o1 wdt:P17 ?own_c1.
            FILTER(?c1 != ?own_c1).

            ?p1 sc:name ?company1 .
            ?c1 sc:name ?country1 .

        }
        GROUP BY ?p1 ?company1 ?c1 ?country1
    }
    FILTER (?inside_companies_owned = ?max_owned && ?country1 = ?country)
}
ORDER BY DESC (?max_owned)
LIMIT 50
"""

print("Results")
run_query(queryString)

Results
[('country', 'United States of America'), ('company1', 'The Walt Disney Company'), ('max_owned', '66')]
[('country', 'Japan'), ('company1', 'Sony'), ('max_owned', '29')]
[('country', 'German Reich'), ('company1', 'AG für Verkehrswesen'), ('max_owned', '25')]
[('country', 'Brazil'), ('company1', 'Anheuser-Busch InBev'), ('max_owned', '22')]
[('country', 'Belgium'), ('company1', 'Anheuser-Busch InBev'), ('max_owned', '21')]
[('country', 'Netherlands'), ('company1', 'Heineken'), ('max_owned', '16')]
[('country', 'France'), ('company1', 'LVMH'), ('max_owned', '13')]
[('country', 'Denmark'), ('company1', 'Carlsberg Group'), ('max_owned', '13')]
[('country', 'Germany'), ('company1', 'Daimler AG'), ('max_owned', '13')]
[('country', 'Luxembourg'), ('company1', 'NexGen'), ('max_owned', '13')]
[('country', 'Sweden'), ('company1', 'Modern Times Group'), ('max_owned', '11')]
[('country', 'South Africa'), ('company1', 'AngloGold Ashanti'), ('max_owned', '10')]
[('country', 'United Kingdom'), ('company1', 'SABMiller'), ('max_owned', '9')]
[('country', 'Spain'), ('company1', 'Telefónica'), ('max_owned', '8')]
[('country', 'Austria'), ('company1', 'Red Bull GmbH'), ('max_owned', '8')]
[('country', 'Singapore'), ('company1', 'GIC Private Limited'), ('max_owned', '7')]
[('country', 'Jersey'), ('company1', 'Penta Investments Limited'), ('max_owned', '7')]
[('country', 'Canada'), ('company1', 'Barrick Gold'), ('max_owned', '6')]
[('country', 'Turkey'), ('company1', 'Yamaha Corporation'), ('max_owned', '6')]
[('country', 'Italy'), ('company1', 'Enel'), ('max_owned', '6')]
[('country', 'Czech Republic'), ('company1', 'EP Power Europe'), ('max_owned', '6')]
[('country', 'Finland'), ('company1', 'Amer Sports'), ('max_owned', '5')]
[('country', 'Dutch Republic'), ('company1', 'Dutch East India Company'), ('max_owned', '5')]
[('country', 'Finland'), ('company1', 'Nokia'), ('max_owned', '5')]
[('country', 'Norway'), ('company1', 'Telenor'), ('max_owned', '5')]
[('country', 'Switzerland'), ('company1', 'Richemont'), ('max_owned', '5')]
[('country', 'British Hong Kong'), ('company1', 'TVB'), ('max_owned', '5')]
[('country', 'Romania'), ('company1', 'Citibank'), ('max_owned', '4')]
[('country', 'Cyprus'), ('company1', 'WCV World Capital Ventures Cyprus'), ('max_owned', '4')]
[('country', 'Cyprus'), ('company1', 'Penta Investments Limited'), ('max_owned', '4')]
[('country', 'Ireland'), ('company1', 'Euronext'), ('max_owned', '4')]
[('country', "People's Republic of China"), ('company1', 'TVB'), ('max_owned', '3')]
[('country', 'Liechtenstein'), ('company1', 'Nemo Fund'), ('max_owned', '3')]
[('country', 'Grand Duchy of Finland'), ('company1', 'Tampella'), ('max_owned', '3')]
[('country', 'Portugal'), ('company1', 'Euronext'), ('max_owned', '3')]
[('country', 'Croatia'), ('company1', 'Agrokor'), ('max_owned', '3')]
[('country', 'Hong Kong'), ('company1', 'China International Group Corporation'), ('max_owned', '3')]
[('country', 'Mexico'), ('company1', 'América Móvil'), ('max_owned', '3')]
[('country', "People's Republic of China"), ('company1', 'Alibaba Group'), ('max_owned', '3')]
[('country', 'Malaysia'), ('company1', 'Axiata'), ('max_owned', '3')]
[('country', 'India'), ('company1', 'Tata Motors'), ('max_owned', '3')]
[('country', 'Kingdom of the Netherlands'), ('company1', 'CZI Holdings'), ('max_owned', '2')]
[('country', 'Russia'), ('company1', 'Sberbank of Russia'), ('max_owned', '2')]
[('country', 'South Korea'), ('company1', 'POSCO'), ('max_owned', '2')]
[('country', 'Malta'), ('company1', 'Priveq Funds'), ('max_owned', '2')]
[('country', 'Russia'), ('company1', 'Basic Element'), ('max_owned', '2')]
[('country', 'Taiwan'), ('company1', 'Acer Inc.'), ('max_owned', '2')]
[('country', 'Slovakia'), ('company1', 'Supernius'), ('max_owned', '2')]
[('country', 'United Arab Emirates'), ('company1', 'Emirates Telecommunications Corporation'), ('max_owned', '2')]
[('country', 'Czechoslovakia'), ('company1', 'ČKD'), ('max_owned', '2')]

50