# General instructions

The goal of the project is to materialize a set of **exploratory workloads** over a real-world, large-scale,  open-domain KG: [WikiData](https://www.wikidata.org/wiki/Wikidata:Main_Page)

An exploratory workload  is composed by a set of queries, where each query is related to the information obtained previously.

An exploratory workload starts with a usually vague, open ended question, and does not assume the person issuing the workload has a clear understanding of the data contained in the target database or its structure.

Remeber that:

1. All the queries must run in the python notebook
2. You can use classes and properties only if you find them via a SPARQL query that must be present in the notebook
3. You do not delete useless queries. Keep everything that is synthatically valid 

```
?p <http://schema.org/name> ?name .
```
    
is the BGP returning a human-readable name of a property or a class in Wikidata.

In [1]:
## SETUP used later

from SPARQLWrapper import SPARQLWrapper, JSON


prefixString = """
##-764433a2ca-##
PREFIX wd: <http://www.wikidata.org/entity/> 
PREFIX wdt: <http://www.wikidata.org/prop/direct/> 
PREFIX sc: <http://schema.org/>
"""

# select and construct queries
def run_query(queryString):
    to_run = prefixString + "\n" + queryString

    sparql = SPARQLWrapper("http://a256-gc1-02.srv.aau.dk:5820/sparql")
    sparql.setTimeout(300)
    sparql.setReturnFormat(JSON)
    sparql.setQuery(to_run)

    try :
       results = sparql.query()
       json_results = results.convert()
       if len(json_results['results']['bindings'])==0:
          print("Empty")
          return 0
    
       for bindings in json_results['results']['bindings']:
          print( [ (var, value['value'])  for var, value in bindings.items() ] )

       return len(json_results['results']['bindings'])

    except Exception as e :
        print("The operation failed", e)
    
# ASk queries
def run_ask_query(queryString):
    to_run = prefixString + "\n" + queryString

    sparql = SPARQLWrapper("http://a256-gc1-02.srv.aau.dk:5820/sparql")
    sparql.setTimeout(300)
    sparql.setReturnFormat(JSON)
    sparql.setQuery(to_run)

    try :
        return sparql.query().convert()

    except Exception as e :
        print("The operation failed", e)

# Companies Workflow Series ("Business People in Germany") 

Consider the following exploratory information need:

> You are investigating important business people in Germany

## Useful URIs for the current workflow


The following are given:

| IRI           | Description   | Role      |
| -----------   | -----------   |-----------|
| `wdt:P1647`   | subproperty   | predicate |
| `wdt:P31`     | instance of   | predicate |
| `wdt:P279`    | subclass      | predicate |
| `wdt:P17`      | country       | predicate |
| `wdt:P27`      | citizenship   | predicate |
| `wdt:P106`     | occupation   | predicate |
| `wd:Q183`      | Germany      | node      |
| `wd:Q2462658`  | manager      | node      |
| `wd:Q40966`    | Opel         | node      |
| `wd:Q56509715` | Michael Lohscheller | node |
| `wd:Q57479`    | Adam Opel    | node |



Also consider

```

?p wdt:P27 wd:Q183  . 
?p wdt:P106 wd:Q2462658  . 

```

is the BGP to retrieve all **german managers**

## Workload Goals

1. Identify the BGP for obtaining C.E.O., managers, directors, or founders of German companies

2. Identify the BGP to retrieve gender and profession of people and industry of companies

3. Are there german companies with C.E.O., managers, or founders that are not German?

4. Are there people related to multiple german companies?

5. Analyze the number of business people per role, type of company, and gender
 
   5.1 How many people for each role and gender are there in Germany?
   
   5.2 Are there companies with multiple german people having important roles?
   
   5.3 In which sectors are important german business people working?
   
   5.4 Are there german business people related to non german companies? How many?

In [2]:
# start your workflow here

In [3]:
queryString = """
SELECT COUNT(*)
WHERE { 

?p wdt:P27 wd:Q183  . 
?p wdt:P106 wd:Q2462658  . 
} 
"""

print("Results")
run_query(queryString)

Results
[('callret-0', '829')]

1

## Part 1
### Identify the BGP for obtaining C.E.O., managers, directors, or founders of German companies

### Search occupations

In [4]:
queryString = """
SELECT DISTINCT ?occupationName ?occupation
WHERE { 

?s wdt:P27 wd:Q183  ;
    wdt:P106 ?occupation  .
?occupation sc:name ?occupationName .   

} ORDER BY ?occupationName
LIMIT 15
"""

print("Results")
run_query(queryString)

Results
[('occupationName', 'Africanist'), ('occupation', 'http://www.wikidata.org/entity/Q15936497')]
[('occupationName', 'Agriculteur'), ('occupation', 'http://www.wikidata.org/entity/Q17123348')]
[('occupationName', 'Alberte'), ('occupation', 'http://www.wikidata.org/entity/Q42677192')]
[('occupationName', 'American football coach'), ('occupation', 'http://www.wikidata.org/entity/Q42331263')]
[('occupationName', 'American football player'), ('occupation', 'http://www.wikidata.org/entity/Q19204627')]
[('occupationName', 'Amtmann'), ('occupation', 'http://www.wikidata.org/entity/Q592996')]
[('occupationName', 'Amtsarzt'), ('occupation', 'http://www.wikidata.org/entity/Q480298')]
[('occupationName', 'Amtshauptmann'), ('occupation', 'http://www.wikidata.org/entity/Q481183')]
[('occupationName', 'Anglican priest'), ('occupation', 'http://www.wikidata.org/entity/Q3409375')]
[('occupationName', 'Anwalt'), ('occupation', 'http://www.wikidata.org/entity/Q613087')]
[('occupationName', 'Arabist'), ('occupation', 'http://www.wikidata.org/entity/Q620573')]
[('occupationName', 'Archaeologist of the ancient Sudan'), ('occupation', 'http://www.wikidata.org/entity/Q52231330')]
[('occupationName', 'Aristocrat'), ('occupation', 'http://www.wikidata.org/entity/Q3859785')]
[('occupationName', 'Armenian Genocide denier'), ('occupation', 'http://www.wikidata.org/entity/Q16334393')]
[('occupationName', 'Assistant physician'), ('occupation', 'http://www.wikidata.org/entity/Q742628')]

15

### Try to restrict occupation

In [5]:
queryString = """
SELECT DISTINCT ?occupationName ?occupation
WHERE { 

    ?s wdt:P27 wd:Q183  ;
        wdt:P106 ?occupation  .
    ?occupation sc:name ?occupationName .
    
    FILTER (regex(?occupationName,"director")||regex(?occupationName,"manager"))

} ORDER BY ?occupationName
LIMIT 15
"""

print("Results")
run_query(queryString)

Results
[('occupationName', 'IT project manager'), ('occupation', 'http://www.wikidata.org/entity/Q33060693')]
[('occupationName', 'Post office manager'), ('occupation', 'http://www.wikidata.org/entity/Q2106113')]
[('occupationName', 'advertising manager'), ('occupation', 'http://www.wikidata.org/entity/Q2560008')]
[('occupationName', 'art director'), ('occupation', 'http://www.wikidata.org/entity/Q706364')]
[('occupationName', 'artistic director'), ('occupation', 'http://www.wikidata.org/entity/Q1797162')]
[('occupationName', 'assistant director'), ('occupation', 'http://www.wikidata.org/entity/Q1757008')]
[('occupationName', 'association football manager'), ('occupation', 'http://www.wikidata.org/entity/Q628099')]
[('occupationName', 'bank manager'), ('occupation', 'http://www.wikidata.org/entity/Q32947888')]
[('occupationName', 'baseball manager'), ('occupation', 'http://www.wikidata.org/entity/Q1186921')]
[('occupationName', 'broadcast programming director'), ('occupation', 'http://www.wikidata.org/entity/Q52085732')]
[('occupationName', 'broadcasting director'), ('occupation', 'http://www.wikidata.org/entity/Q39020492')]
[('occupationName', 'business manager'), ('occupation', 'http://www.wikidata.org/entity/Q832136')]
[('occupationName', 'casting director'), ('occupation', 'http://www.wikidata.org/entity/Q1049296')]
[('occupationName', 'choir director'), ('occupation', 'http://www.wikidata.org/entity/Q1076502')]
[('occupationName', 'circus director'), ('occupation', 'http://www.wikidata.org/entity/Q21061372')]

15

### Try another way to find occupations
See data related to Opel

In [6]:
queryString = """
SELECT DISTINCT ?pName ?oName ?p ?o
WHERE { 
    wd:Q40966 ?p ?o .
    OPTIONAL { ?p sc:name ?pName }
    OPTIONAL { ?o sc:name ?oName }
} 
"""

print("Results")
run_query(queryString)

Results
[('pName', 'director / manager'), ('oName', 'Michael Lohscheller'), ('p', 'http://www.wikidata.org/prop/direct/P1037'), ('o', 'http://www.wikidata.org/entity/Q56509715')]
[('pName', 'product or material produced'), ('oName', 'van'), ('p', 'http://www.wikidata.org/prop/direct/P1056'), ('o', 'http://www.wikidata.org/entity/Q193468')]
[('pName', 'product or material produced'), ('oName', 'motor car'), ('p', 'http://www.wikidata.org/prop/direct/P1056'), ('o', 'http://www.wikidata.org/entity/Q1420')]
[('pName', 'founded by'), ('oName', 'Adam Opel'), ('p', 'http://www.wikidata.org/prop/direct/P112'), ('o', 'http://www.wikidata.org/entity/Q57479')]
[('pName', 'owned by'), ('oName', 'Stellantis'), ('p', 'http://www.wikidata.org/prop/direct/P127'), ('o', 'http://www.wikidata.org/entity/Q97439162')]
[('pName', 'named after'), ('oName', 'Adam Opel'), ('p', 'http://www.wikidata.org/prop/direct/P138'), ('o', 'http://www.wikidata.org/entity/Q57479')]
[('pName', "topic's main template"), ('oName', 'Template:Opel'), ('p', 'http://www.wikidata.org/prop/direct/P1424'), ('o', 'http://www.wikidata.org/entity/Q6372363')]
[('pName', 'legal form'), ('oName', 'GmbH'), ('p', 'http://www.wikidata.org/prop/direct/P1454'), ('o', 'http://www.wikidata.org/entity/Q460178')]
[('pName', 'headquarters location'), ('oName', 'Rüsselsheim am Main'), ('p', 'http://www.wikidata.org/prop/direct/P159'), ('o', 'http://www.wikidata.org/entity/Q4031')]
[('pName', 'chief executive officer'), ('oName', 'Uwe Hochgeschurtz'), ('p', 'http://www.wikidata.org/prop/direct/P169'), ('o', 'http://www.wikidata.org/entity/Q107986135')]
[('pName', 'country'), ('oName', 'Germany'), ('p', 'http://www.wikidata.org/prop/direct/P17'), ('o', 'http://www.wikidata.org/entity/Q183')]
[('pName', 'owner of'), ('oName', 'Opel Performance Center'), ('p', 'http://www.wikidata.org/prop/direct/P1830'), ('o', 'http://www.wikidata.org/entity/Q1499607')]
[('pName', 'different from'), ('oName', 'Buick Opel'), ('p', 'http://www.wikidata.org/prop/direct/P1889'), ('o', 'http://www.wikidata.org/entity/Q1002809')]
[('pName', 'instance of'), ('oName', 'car brand'), ('p', 'http://www.wikidata.org/prop/direct/P31'), ('o', 'http://www.wikidata.org/entity/Q10429667')]
[('pName', 'instance of'), ('oName', 'automobile manufacturer'), ('p', 'http://www.wikidata.org/prop/direct/P31'), ('o', 'http://www.wikidata.org/entity/Q786820')]
[('pName', 'instance of'), ('oName', 'subsidiary'), ('p', 'http://www.wikidata.org/prop/direct/P31'), ('o', 'http://www.wikidata.org/entity/Q658255')]
[('pName', 'board member'), ('oName', 'Fritz von Opel'), ('p', 'http://www.wikidata.org/prop/direct/P3320'), ('o', 'http://www.wikidata.org/entity/Q62734')]
[('pName', 'board member'), ('oName', 'Friedrich Opel'), ('p', 'http://www.wikidata.org/prop/direct/P3320'), ('o', 'http://www.wikidata.org/entity/Q1461364')]
[('pName', 'board member'), ('oName', 'Wilhelm von Opel'), ('p', 'http://www.wikidata.org/prop/direct/P3320'), ('o', 'http://www.wikidata.org/entity/Q106609')]
[('pName', 'subsidiary'), ('oName', 'Opel Performance Center'), ('p', 'http://www.wikidata.org/prop/direct/P355'), ('o', 'http://www.wikidata.org/entity/Q1499607')]
[('pName', 'subsidiary'), ('oName', 'Vauxhall'), ('p', 'http://www.wikidata.org/prop/direct/P355'), ('o', 'http://www.wikidata.org/entity/Q59187')]
[('pName', 'subsidiary'), ('oName', 'Opel Special Vehicles'), ('p', 'http://www.wikidata.org/prop/direct/P355'), ('o', 'http://www.wikidata.org/entity/Q7095669')]
[('pName', 'subsidiary'), ('oName', 'Opel Eisenach'), ('p', 'http://www.wikidata.org/prop/direct/P355'), ('o', 'http://www.wikidata.org/entity/Q1665931')]
[('pName', 'industry'), ('oName', 'automotive industry'), ('p', 'http://www.wikidata.org/prop/direct/P452'), ('o', 'http://www.wikidata.org/entity/Q190117')]
[('pName', 'industry'), ('oName', 'mechanical engineering'), ('p', 'http://www.wikidata.org/prop/direct/P452'), ('o', 'http://www.wikidata.org/entity/Q101333')]
[('pName', 'member of'), ('oName', 'German Road Safety Council'), ('p', 'http://www.wikidata.org/prop/direct/P463'), ('o', 'http://www.wikidata.org/entity/Q1205460')]
[('pName', 'parent organization'), ('oName', 'Stellantis'), ('p', 'http://www.wikidata.org/prop/direct/P749'), ('o', 'http://www.wikidata.org/entity/Q97439162')]
[('pName', "topic's main category"), ('oName', 'Category:Opel'), ('p', 'http://www.wikidata.org/prop/direct/P910'), ('o', 'http://www.wikidata.org/entity/Q8903477')]
[('pName', 'NORAF ID'), ('p', 'http://www.wikidata.org/prop/direct/P1015'), ('o', '90226633')]
[('pName', 'NUKAT ID'), ('p', 'http://www.wikidata.org/prop/direct/P1207'), ('o', 'n2007086774')]
[('pName', 'Encyclopædia Britannica Online ID'), ('p', 'http://www.wikidata.org/prop/direct/P1417'), ('o', 'topic/Opel-AG')]
[('pName', 'logo image'), ('p', 'http://www.wikidata.org/prop/direct/P154'), ('o', 'http://commons.wikimedia.org/wiki/Special:FilePath/Opel-Logo%202017.svg')]
[('pName', 'image'), ('p', 'http://www.wikidata.org/prop/direct/P18'), ('o', 'http://commons.wikimedia.org/wiki/Special:FilePath/Opel%20Werk%20In%20Ruesselsheim%20From%20Train.jpg')]
[('pName', 'owner of'), ('p', 'http://www.wikidata.org/prop/direct/P1830'), ('o', 'http://www.wikidata.org/entity/Q28966212')]
[('pName', 'Twitter username'), ('p', 'http://www.wikidata.org/prop/direct/P2002'), ('o', 'Opel')]
[('pName', 'Instagram username'), ('p', 'http://www.wikidata.org/prop/direct/P2003'), ('o', 'opelturkiye')]
[('pName', 'Facebook ID'), ('p', 'http://www.wikidata.org/prop/direct/P2013'), ('o', 'Opel')]
[('pName', 'Crunchbase organization ID'), ('p', 'http://www.wikidata.org/prop/direct/P2088'), ('o', 'opel-special-vehicles')]
[('pName', 'ISNI'), ('p', 'http://www.wikidata.org/prop/direct/P213'), ('o', '0000 0001 0940 1642')]
[('pName', 'ISNI'), ('p', 'http://www.wikidata.org/prop/direct/P213'), ('o', '0000 0004 0524 2893')]
[('pName', 'VIAF ID'), ('p', 'http://www.wikidata.org/prop/direct/P214'), ('o', '122152911')]
[('pName', 'GND ID'), ('p', 'http://www.wikidata.org/prop/direct/P227'), ('o', '2003429-5')]
[('pName', 'YouTube channel ID'), ('p', 'http://www.wikidata.org/prop/direct/P2397'), ('o', 'UCSr5PuKiJ5Zi00zfsiT-7jA')]
[('pName', 'Library of Congress authority ID'), ('p', 'http://www.wikidata.org/prop/direct/P244'), ('o', 'n90647646')]
[('pName', 'Library of Congress authority ID'), ('p', 'http://www.wikidata.org/prop/direct/P244'), ('o', 'sh85094869')]
[('pName', 'Bibliothèque nationale de France ID'), ('p', 'http://www.wikidata.org/prop/direct/P268'), ('o', '11932918h')]
[('pName', 'Bibliothèque nationale de France ID'), ('p', 'http://www.wikidata.org/prop/direct/P268'), ('o', '15043628f')]
[('pName', 'New York Times topic ID'), ('p', 'http://www.wikidata.org/prop/direct/P3221'), ('o', 'company/adam-opel-gmbh')]
[('pName', 'Zhihu topic ID'), ('p', 'http://www.wikidata.org/prop/direct/P3553'), ('o', '19697675')]
[('pName', 'Commons category'), ('p', 'http://www.wikidata.org/prop/direct/P373'), ('o', 'Opel')]
[('pName', 'PM20 folder ID'), ('p', 'http://www.wikidata.org/prop/direct/P4293'), ('o', 'co/017676')]
[('pName', 'Store norske leksikon ID'), ('p', 'http://www.wikidata.org/prop/direct/P4342'), ('o', 'Opel')]
[('pName', 'inception'), ('p', 'http://www.wikidata.org/prop/direct/P571'), ('o', '1862-01-21T00:00:00Z')]
[('pName', 'Microsoft Academic ID'), ('p', 'http://www.wikidata.org/prop/direct/P6366'), ('o', '1310473015')]
[('pName', 'Freebase ID'), ('p', 'http://www.wikidata.org/prop/direct/P646'), ('o', '/m/05kzl')]
[('pName', 'NKCR AUT ID'), ('p', 'http://www.wikidata.org/prop/direct/P691'), ('o', 'kn20120717009')]
[('pName', 'French Vikidia ID'), ('p', 'http://www.wikidata.org/prop/direct/P7818'), ('o', 'Opel')]
[('pName', 'WorldCat Identities ID'), ('p', 'http://www.wikidata.org/prop/direct/P7859'), ('o', 'lccn-n90647646')]
[('pName', 'CoBiS author ID'), ('p', 'http://www.wikidata.org/prop/direct/P7865'), ('o', 'dnq6ux1h60wkad1q5mpjub9d5mpjub8')]
[('pName', 'OSM Name Suggestion Index identifier'), ('p', 'http://www.wikidata.org/prop/direct/P8253'), ('o', 'opel-13eeb7')]
[('pName', 'OSM Name Suggestion Index identifier'), ('p', 'http://www.wikidata.org/prop/direct/P8253'), ('o', 'opel-dc8719')]
[('pName', 'KBpedia ID'), ('p', 'http://www.wikidata.org/prop/direct/P8408'), ('o', 'OpelCar')]
[('pName', 'official website'), ('p', 'http://www.wikidata.org/prop/direct/P856'), ('o', 'http://www.opel.com/')]
[('pName', 'social media followers'), ('p', 'http://www.wikidata.org/prop/direct/P8687'), ('o', '55400')]
[('pName', 'social media followers'), ('p', 'http://www.wikidata.org/prop/direct/P8687'), ('o', '100720')]
[('pName', 'Commons gallery'), ('p', 'http://www.wikidata.org/prop/direct/P935'), ('o', 'Opel')]
[('pName', 'National Library of Israel ID'), ('p', 'http://www.wikidata.org/prop/direct/P949'), ('o', '000212311')]
[('pName', 'Biblioteca Nacional de España ID'), ('p', 'http://www.wikidata.org/prop/direct/P950'), ('o', 'XX4576610')]
[('pName', 'described at URL'), ('p', 'http://www.wikidata.org/prop/direct/P973'), ('o', 'http://datos.bne.es/tema/XX4576610.html')]
[('pName', 'WMI code'), ('p', 'http://www.wikidata.org/prop/direct/P6793'), ('o', 'W0L')]
[('p', 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), ('o', 'http://wikiba.se/ontology#Item')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P1015'), ('o', 'https://livedata.bibsys.no/authority/90226633')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P214'), ('o', 'http://viaf.org/viaf/122152911')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P227'), ('o', 'https://d-nb.info/gnd/2003429-5')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P244'), ('o', 'https://id.loc.gov/authorities/names/n90647646')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P244'), ('o', 'https://id.loc.gov/authorities/names/sh85094869')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P268'), ('o', 'http://data.bnf.fr/ark:/12148/cb11932918h#about')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P268'), ('o', 'http://data.bnf.fr/ark:/12148/cb15043628f#about')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P6366'), ('o', 'http://ma-graph.org/entity/1310473015')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P646'), ('o', 'http://g.co/kg/m/05kzl')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P8408'), ('o', 'http://kbpedia.org/kko/rc/OpelCar')]
[('p', 'http://www.wikidata.org/prop/direct-normalized/P950'), ('o', 'http://datos.bne.es/resource/XX4576610')]
[('p', 'http://schema.org/name'), ('o', 'Opel')]

83

### Search fo instance of Company property

In [7]:
queryString = """
SELECT DISTINCT ?oName ?o
WHERE { 
    wd:Q40966 wdt:P31|wdt:P279 ?o .
    ?o sc:name ?oName .

} LIMIT 25
"""

print("Results")
run_query(queryString)

Results
[('oName', 'automobile manufacturer'), ('o', 'http://www.wikidata.org/entity/Q786820')]
[('oName', 'car brand'), ('o', 'http://www.wikidata.org/entity/Q10429667')]
[('oName', 'subsidiary'), ('o', 'http://www.wikidata.org/entity/Q658255')]

3

### Search superclass of the above property

In [8]:
queryString = """
SELECT DISTINCT ?subName ?sub
WHERE { 
    wd:Q40966 wdt:P31 ?o .
    OPTIONAL{ ?o wdt:P279 ?sub .}
    ?o sc:name ?oName .
    ?sub sc:name ?subName .
} LIMIT 25
"""

print("Results")
run_query(queryString)

Results
[('subName', 'manufacturer'), ('sub', 'http://www.wikidata.org/entity/Q13235160')]
[('subName', 'profession'), ('sub', 'http://www.wikidata.org/entity/Q28640')]
[('subName', 'brand'), ('sub', 'http://www.wikidata.org/entity/Q431289')]
[('subName', 'enterprise'), ('sub', 'http://www.wikidata.org/entity/Q6881511')]
[('subName', 'subsidiary entity'), ('sub', 'http://www.wikidata.org/entity/Q62079110')]
[('subName', 'commercial company'), ('sub', 'http://www.wikidata.org/entity/Q567521')]

6

### Find the managers/directors and founder of german companies

In [9]:
queryString = """
SELECT DISTINCT ?companyName (GROUP_CONCAT(distinct ?workerName ; SEPARATOR="; ") AS ?managers)
WHERE {
    {
        SELECT ?companyName ?workerName
        WHERE {
            ?company wdt:P1037 ?worker ; #manager
                 wdt:P112 ?founder ;
                 wdt:P17 wd:Q183 ;
                 sc:name ?companyName .
            ?worker sc:name ?workerName .
        }
    }
    UNION
    {
        SELECT ?companyName ?workerName
        WHERE {
            ?company wdt:P112 ?worker ; #founder
                 wdt:P17 wd:Q183 ;
                 sc:name ?companyName .
            ?worker sc:name ?workerName .
        }
    
    } 
           
} GROUP BY ?companyName
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('companyName', 'Die Burg'), ('managers', 'Willi Burth')]
[('companyName', 'Römheld & Moelle'), ('managers', 'Julius Römheld')]
[('companyName', 'Verlag Ferdinand Schöningh'), ('managers', 'Ferdinand Schöningh')]
[('companyName', 'Grafit Verlag'), ('managers', 'Rutger Booß')]
[('companyName', 'Aurelius Group'), ('managers', 'Dirk Markus')]
[('companyName', 'Freies Jüdisches Lehrhaus'), ('managers', 'Franz Rosenzweig')]
[('companyName', 'Aachener Domchor'), ('managers', 'Alcuin; Berthold Botzet; Charlemagne')]
[('companyName', 'Hulk Räckorz'), ('managers', 'Wizo')]
[('companyName', 'Chemische Fabrik Gebrüder Gravenhorst'), ('managers', 'Christoph Julius Gravenhorst; Johann Heinrich Gravenhorst')]
[('companyName', 'Max Bahr'), ('managers', 'Max Bahr')]
[('companyName', 'Bismarck-Gymnasium Karlsruhe'), ('managers', 'Johann Pistorius the Younger')]
[('companyName', 'K. G. Saur Verlag'), ('managers', 'Karl-Otto Saur')]
[('companyName', 'Kaiser-Wilhelm-Institut für Eisenforschung'), ('managers', 'Fritz Wüst')]
[('companyName', 'Clinic St. Hedwig'), ('managers', 'Blue sisters of St. Elisabeth')]
[('companyName', 'Allgemeiner Deutscher Fahrrad-Club'), ('managers', 'Jan Tebbe')]
[('companyName', 'Busstops'), ('managers', 'Stiftung Niedersachsen')]
[('companyName', 'Kolls'), ('managers', 'Heinrich Kolls')]
[('companyName', 'Theater Blaue Maus'), ('managers', 'Robert Spitz; Sigi Siegert')]
[('companyName', 'Berger memorial'), ('managers', 'Turngemeinde Witten von 1848')]
[('companyName', 'Reiff-Museum Aachen'), ('managers', 'Franz Reiff')]

20

### Search instance of human property

In [10]:
queryString = """
SELECT DISTINCT  ?oName ?o
WHERE { 
    wd:Q56509715 wdt:P31 ?o .
    ?o sc:name ?oName .
} 
"""

print("Results")
run_query(queryString)

Results
[('oName', 'human'), ('o', 'http://www.wikidata.org/entity/Q5')]

1

### Search human worker and their role in Germany company

In [11]:
queryString = """
SELECT DISTINCT ?workerName ?roleName ?role
WHERE {

    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P279 wd:Q567521 ;
         sc:name ?companyName .
    
    ?worker sc:name ?workerName ;
            wdt:P31 wdt:Q5 .
    
    ?role sc:name ?roleName .
           
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
Empty

0

### Remove some predicates

In [12]:
queryString = """
SELECT DISTINCT ?companyName ?company
WHERE {

    ?company wdt:P17 wd:Q183 ;
         wdt:P279* wd:Q567521 ;
         sc:name ?companyName .           
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('companyName', 'Gemeinnützige GmbH'), ('company', 'http://www.wikidata.org/entity/Q1500859')]
[('companyName', 'Aktiengesellschaft'), ('company', 'http://www.wikidata.org/entity/Q422062')]
[('companyName', 'Offene Handelsgesellschaft'), ('company', 'http://www.wikidata.org/entity/Q19340991')]
[('companyName', 'Stiftung & Co. KG'), ('company', 'http://www.wikidata.org/entity/Q2348856')]
[('companyName', 'Entrepreneurial company (Germany)'), ('company', 'http://www.wikidata.org/entity/Q2498526')]
[('companyName', 'Stiftung & Co. KGaA'), ('company', 'http://www.wikidata.org/entity/Q2348860')]
[('companyName', 'Stiftung GmbH & Co. KG'), ('company', 'http://www.wikidata.org/entity/Q2348994')]

7

### Correct query (add * to wdt:P279)

In [13]:
queryString = """
SELECT DISTINCT ?workerName ?roleName ?role
WHERE {

    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P279* wd:Q567521 ;
         sc:name ?companyName .
    
    ?worker sc:name ?workerName ;
            wdt:P31 wdt:Q5 .
    
    ?role sc:name ?roleName .
           
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
Empty

0

### Correct again the query: removed the subclass of and added the instance of predicate. Then it check if the instance is subclass of company

In [14]:
queryString = """
SELECT DISTINCT ?roleName ?role
WHERE {

    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         sc:name ?companyName .
         
    ?instance wdt:P279* wd:Q567521 .
    
    ?worker wdt:P31 wd:Q5 .
    OPTIONAL{ ?worker sc:name ?workerName .}
    
    ?role sc:name ?roleName .
           
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('roleName', 'founded by'), ('role', 'http://www.wikidata.org/prop/direct/P112')]
[('roleName', 'named after'), ('role', 'http://www.wikidata.org/prop/direct/P138')]
[('roleName', 'owned by'), ('role', 'http://www.wikidata.org/prop/direct/P127')]
[('roleName', 'chief executive officer'), ('role', 'http://www.wikidata.org/prop/direct/P169')]
[('roleName', 'director / manager'), ('role', 'http://www.wikidata.org/prop/direct/P1037')]
[('roleName', 'board member'), ('role', 'http://www.wikidata.org/prop/direct/P3320')]
[('roleName', 'significant person'), ('role', 'http://www.wikidata.org/prop/direct/P3342')]
[('roleName', 'chairperson'), ('role', 'http://www.wikidata.org/prop/direct/P488')]
[('roleName', 'supervisory board member'), ('role', 'http://www.wikidata.org/prop/direct/P5052')]
[('roleName', 'owner of'), ('role', 'http://www.wikidata.org/prop/direct/P1830')]
[('roleName', 'investor'), ('role', 'http://www.wikidata.org/prop/direct/P1951')]

11

### Try reverse path

In [15]:
queryString = """
SELECT DISTINCT ?roleName ?role
WHERE {

    ?company wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         sc:name ?companyName .
         
    ?instance wdt:P279* wd:Q567521 .
    
    ?worker wdt:P31 wd:Q5 ;
            ?role ?company .
    OPTIONAL { ?worker sc:name ?workerName . }
    
    ?role sc:name ?roleName .
           
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('roleName', 'employer'), ('role', 'http://www.wikidata.org/prop/direct/P108')]
[('roleName', 'affiliation'), ('role', 'http://www.wikidata.org/prop/direct/P1416')]
[('roleName', 'field of work'), ('role', 'http://www.wikidata.org/prop/direct/P101')]
[('roleName', 'chief executive officer'), ('role', 'http://www.wikidata.org/prop/direct/P169')]
[('roleName', 'described by source'), ('role', 'http://www.wikidata.org/prop/direct/P1343')]
[('roleName', 'owner of'), ('role', 'http://www.wikidata.org/prop/direct/P1830')]
[('roleName', 'oral history at'), ('role', 'http://www.wikidata.org/prop/direct/P9600')]
[('roleName', 'member of'), ('role', 'http://www.wikidata.org/prop/direct/P463')]
[('roleName', 'has works in the collection'), ('role', 'http://www.wikidata.org/prop/direct/P6379')]
[('roleName', 'sponsor'), ('role', 'http://www.wikidata.org/prop/direct/P859')]
[('roleName', 'has written for'), ('role', 'http://www.wikidata.org/prop/direct/P6872')]
[('roleName', 'educated at'), ('role', 'http://www.wikidata.org/prop/direct/P69')]
[('roleName', 'member of sports team'), ('role', 'http://www.wikidata.org/prop/direct/P54')]
[('roleName', 'director / manager'), ('role', 'http://www.wikidata.org/prop/direct/P1037')]

14

### Result part 1
We can see that the last query return also the employees, so the previous one is better because it retrieves only "important" role of the companies.
It is fondamental the triple (?instance wdt:P279* wd:Q567521) to retrieve only the companies.

The next 2 query retreive:
* all the C.E.O., managers, directors or founders with thier role;
* all the C.E.O., managers, directors or founders with thier role grouped by company.

#### all the C.E.O., managers, directors or founders with thier role

In [16]:
queryString = """
SELECT ?workerName (GROUP_CONCAT(DISTINCT ?roleName; SEPARATOR="; ") AS ?roles)
WHERE {

    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         sc:name ?companyName .
         
    ?instance wdt:P279* wd:Q567521 .
    
    ?worker wdt:P31 wd:Q5 .
    OPTIONAL{ ?worker sc:name ?workerName .}
    
    ?role sc:name ?roleName .
           
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Wilhelm Haspel'), ('roles', 'board member')]
[('workerName', 'Thomas Eichelmann'), ('roles', 'chairperson; supervisory board member')]
[('workerName', 'Robert Pferdmenges'), ('roles', 'supervisory board member')]
[('workerName', 'Robert Gentz'), ('roles', 'founded by')]
[('workerName', 'Karl Rapp'), ('roles', 'founded by')]
[('workerName', 'Hermann Schilling'), ('roles', 'board member')]
[('workerName', 'Norbert Reithofer'), ('roles', 'director / manager')]
[('workerName', 'Walter J. Zable'), ('roles', 'founded by')]
[('workerName', 'Edzard Reuter'), ('roles', 'board member')]
[('workerName', 'Tobias Meyer'), ('roles', 'board member')]
[('workerName', 'Werner Baumann'), ('roles', 'chief executive officer')]
[('workerName', 'Helmut Gottschalk'), ('roles', 'director / manager')]
[('workerName', 'Carsten Spohr'), ('roles', 'board member; chief executive officer')]
[('workerName', 'Oliver Bäte'), ('roles', 'director / manager')]
[('workerName', 'Ulrich Schmack'), ('roles', 'founded by')]
[('workerName', 'Carl Duisberg'), ('roles', 'board member')]
[('workerName', 'Werner Wenning'), ('roles', 'director / manager')]
[('workerName', 'Angela Titzrath'), ('roles', 'chief executive officer')]
[('workerName', 'Christian Reinaudo'), ('roles', 'director / manager')]
[('workerName', 'Dirk Markus'), ('roles', 'founded by')]

20

### all the C.E.O., managers, directors or founders with thier role grouped by company

In [17]:
queryString = """
SELECT ?companyName (GROUP_CONCAT(DISTINCT ?workerInfo; SEPARATOR="; ") AS ?workersInfo)
WHERE {
    
    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         sc:name ?companyName .

    ?instance wdt:P279* wd:Q567521 .

    ?worker wdt:P31 wd:Q5 ;
        sc:name ?workerName .

    ?role sc:name ?roleName .
    
    BIND(CONCAT(?roleName,": ",?workerName) as ?workerInfo)
      
} GROUP BY ?companyName
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('companyName', 'BMW'), ('workersInfo', 'board member: Helmut Panke; board member: Karl-Heinz Sonne; chief executive officer: Oliver Zipse; director / manager: Norbert Reithofer; founded by: Camillo Castiglioni; founded by: Franz Josef Popp; founded by: Karl Rapp; owned by: Stefan Quandt; owned by: Susanne Klatten; supervisory board member: Reinhard Hüttl')]
[('companyName', 'Dachser Group SE & Co. KG'), ('workersInfo', 'director / manager: Bernhard Simon; founded by: Thomas Dachser')]
[('companyName', 'Vattenfall'), ('workersInfo', 'director / manager: Tuomo Hatakka')]
[('companyName', 'Lanxess'), ('workersInfo', 'director / manager: Matthias Zachert')]
[('companyName', 'Friedrich Krupp AG'), ('workersInfo', 'board member: Alfred Hugenberg; board member: Alfried Krupp von Bohlen und Halbach; board member: Bertha Krupp; board member: Friedrich Janssen; board member: Otto Wiedfeldt; founded by: Friedrich Krupp; supervisory board member: Gustav Krupp von Bohlen und Halbach; supervisory board member: Kurt Sorge')]
[('companyName', 'TÜV Nord'), ('workersInfo', 'director / manager: Dirk Stenkamp')]
[('companyName', 'Odeon Film'), ('workersInfo', 'director / manager: Mischa Hofmann')]
[('companyName', 'Hochtief'), ('workersInfo', 'board member: Eugen Vögler; founded by: Balthasar Helfmann; founded by: Philipp Helfmann')]
[('companyName', 'Wiley'), ('workersInfo', 'founded by: Charles Wiley')]
[('companyName', 'Walter Bau AG'), ('workersInfo', 'board member: Ignaz Walter; owned by: Ignaz Walter; supervisory board member: Ignaz Walter')]
[('companyName', 'Jefferies & Company'), ('workersInfo', 'chief executive officer: Richard B. Handler')]
[('companyName', 'Dieter-Schwarz-Stiftung'), ('workersInfo', 'named after: Dieter Schwarz')]
[('companyName', 'Volkswagen Group'), ('workersInfo', 'board member: Heinrich Nordhoff; board member: Rudolf Leiding; board member: Toni Schmücker; chief executive officer: Herbert Diess; director / manager: Herbert Diess; founded by: Ferdinand Porsche')]
[('companyName', 'Vonovia'), ('workersInfo', 'chief executive officer: Rolf Buch')]
[('companyName', 'Deutsche Bank'), ('workersInfo', 'board member: Arthur von Gwinner; board member: Clemens Plassmann; board member: Eduard Mosler; board member: Georg Adolf Solmssen; board member: Georg von Siemens; board member: Hans Rummel; board member: Karl Kimmich; board member: Karl Theodor Helfferich; board member: Paul Millington-Herrmann; chief executive officer: Christian Sewing; director / manager: Christian Sewing; founded by: Ludwig Bamberger; supervisory board member: Arthur Salomonsohn; supervisory board member: Franz Urbig; supervisory board member: Hugo Henkel; supervisory board member: Max Steinthal; supervisory board member: Oskar Schlitter; supervisory board member: Wolfgang Kapp')]
[('companyName', 'Bruker'), ('workersInfo', 'founded by: Günther Laukien')]
[('companyName', 'Aktiengesellschaft für Seeschiffahrt'), ('workersInfo', 'founded by: Hugo Stinnes')]
[('companyName', 'Air Berlin'), ('workersInfo', 'chief executive officer: Thomas Winkelmann')]
[('companyName', 'Opel'), ('workersInfo', 'board member: Friedrich Opel; board member: Fritz von Opel; board member: Wilhelm von Opel; chief executive officer: Uwe Hochgeschurtz; director / manager: Michael Lohscheller; founded by: Adam Opel; named after: Adam Opel')]
[('companyName', 'L-Bank'), ('workersInfo', 'chief executive officer: Axel Nawrath')]

20

### Same as previous query but for every person in a company has been grouped his/her roles (if more than one are present)

In [18]:
queryString = """
#SELECT ?companyName (GROUP_CONCAT(DISTINCT ?workerInfo; SEPARATOR="; ") AS ?workersInfo)
SELECT ?workerName ?roles ?workerInfo
WHERE {
    {
        SELECT ?companyName ?workerName (GROUP_CONCAT(DISTINCT ?roleName; SEPARATOR=", ") AS ?roles)
        WHERE{
            ?company ?role ?worker ;
                 wdt:P17 wd:Q183 ;
                 wdt:P31 ?instance ;
                 sc:name ?companyName .

            ?instance wdt:P279* wd:Q567521 .

            ?worker wdt:P31 wd:Q5 ;
                sc:name ?workerName .

            ?role sc:name ?roleName .
        } GROUP BY ?companyName ?workerName
    }
    BIND( CONCAT(?workerName," : ",?roles) AS ?workerInfo)
    
} GROUP BY ?companyName
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Werner Wenning'), ('roles', 'director / manager'), ('workerInfo', 'Werner Wenning : director / manager')]
[('workerName', 'Ernst Tengelmann'), ('roles', 'board member'), ('workerInfo', 'Ernst Tengelmann : board member')]
[('workerName', 'Dr. Marcus Chromik'), ('roles', 'board member'), ('workerInfo', 'Dr. Marcus Chromik : board member')]
[('workerName', 'Klaus Rehnig'), ('roles', 'supervisory board member'), ('workerInfo', 'Klaus Rehnig : supervisory board member')]
[('workerName', 'Adolf Dassler'), ('roles', 'founded by, named after'), ('workerInfo', 'Adolf Dassler : founded by, named after')]
[('workerName', 'Adolf von Brüning'), ('roles', 'founded by, named after'), ('workerInfo', 'Adolf von Brüning : founded by, named after')]
[('workerName', 'Oliver Zipse'), ('roles', 'chief executive officer'), ('workerInfo', 'Oliver Zipse : chief executive officer')]
[('workerName', 'Ernst Leitz senior'), ('roles', 'founded by, named after'), ('workerInfo', 'Ernst Leitz senior : founded by, named after')]
[('workerName', 'Hans Schippel'), ('roles', 'board member'), ('workerInfo', 'Hans Schippel : board member')]
[('workerName', 'Thomas Winkelmann'), ('roles', 'chief executive officer'), ('workerInfo', 'Thomas Winkelmann : chief executive officer')]
[('workerName', 'Melanie Kreis'), ('roles', 'board member'), ('workerInfo', 'Melanie Kreis : board member')]
[('workerName', 'Brian Cassin'), ('roles', 'chief executive officer'), ('workerInfo', 'Brian Cassin : chief executive officer')]
[('workerName', 'Karl Rapp'), ('roles', 'founded by'), ('workerInfo', 'Karl Rapp : founded by')]
[('workerName', 'Richard B. Handler'), ('roles', 'chief executive officer'), ('workerInfo', 'Richard B. Handler : chief executive officer')]
[('workerName', 'Wilhelm Meister'), ('roles', 'founded by, named after'), ('workerInfo', 'Wilhelm Meister : founded by, named after')]
[('workerName', 'Mathias Döpfner'), ('roles', 'chief executive officer'), ('workerInfo', 'Mathias Döpfner : chief executive officer')]
[('workerName', 'Sucheta Govil'), ('roles', 'board member'), ('workerInfo', 'Sucheta Govil : board member')]
[('workerName', 'Walter J. Zable'), ('roles', 'founded by'), ('workerInfo', 'Walter J. Zable : founded by')]
[('workerName', 'Rice Powell'), ('roles', 'director / manager'), ('workerInfo', 'Rice Powell : director / manager')]
[('workerName', 'Edzard Reuter'), ('roles', 'board member'), ('workerInfo', 'Edzard Reuter : board member')]

20

### See the results written above for the Part 1

## Part 2
### Identify the BGP to retrieve gender and profession of people and industry of companies
Note: this is the last part done, so the predicate has been retrieved from the other queries

In [19]:
queryString = """
SELECT DISTINCT ?workerName ?genderType (GROUP_CONCAT(DISTINCT ?roleName; SEPARATOR="; ") AS ?prefession) (GROUP_CONCAT(DISTINCT ?sector; SEPARATOR="; ") AS ?sectors)
WHERE {

    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         wdt:P452 ?industry ;
         sc:name ?companyName .
         
    ?instance wdt:P279* wd:Q567521 .
    ?industry sc:name ?sector .
    
    ?worker wdt:P31 wd:Q5 ;
         wdt:P21 ?gender ;     #gender detail
        sc:name ?workerName .
        
    ?gender sc:name ?genderType .
    
    ?role sc:name ?roleName .
           
}
GROUP BY ?workerName ?genderType
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Friedrich Engelhorn'), ('genderType', 'male'), ('prefession', 'founded by'), ('sectors', 'chemical industry; crop protection; extraction of petroleum; pharmaceutical industry')]
[('workerName', 'Jürgen E. Schrempp'), ('genderType', 'male'), ('prefession', 'chief executive officer'), ('sectors', 'Manufacture of motor vehicles; arms industry; automotive industry; aviation industry; vehicle construction')]
[('workerName', 'Uğur Şahin'), ('genderType', 'male'), ('prefession', 'board member; chief executive officer'), ('sectors', 'pharmaceutical industry')]
[('workerName', 'Ken Allen'), ('genderType', 'male'), ('prefession', 'board member'), ('sectors', 'logistics; mail; postal and telecommunications services')]
[('workerName', 'Eugen Vögler'), ('genderType', 'male'), ('prefession', 'board member'), ('sectors', 'Construction; construction industry')]
[('workerName', 'Karl Winnacker'), ('genderType', 'male'), ('prefession', 'board member'), ('sectors', 'chemical industry; information technology; paint industry; pharmaceutical industry; plastics industry')]
[('workerName', 'Sabine Schmittroth'), ('genderType', 'female'), ('prefession', 'board member'), ('sectors', 'Financial service activities, except insurance and pension funding; financial services')]
[('workerName', 'Alexander von Knoop'), ('genderType', 'male'), ('prefession', 'board member'), ('sectors', 'financial services')]
[('workerName', 'Leo Ellinger'), ('genderType', 'male'), ('prefession', 'founded by'), ('sectors', 'food industry')]
[('workerName', 'Ulrich Lehner'), ('genderType', 'male'), ('prefession', 'chief executive officer'), ('sectors', 'arms industry; ferrous metallurgy')]
[('workerName', 'Karl Benz'), ('genderType', 'male'), ('prefession', 'founded by; named after'), ('sectors', 'Manufacture of motor vehicles; arms industry; automotive industry; aviation industry; vehicle construction')]
[('workerName', 'Michael Lohscheller'), ('genderType', 'male'), ('prefession', 'director / manager'), ('sectors', 'automotive industry; mechanical engineering')]
[('workerName', 'Paul Bauer-Schlichtegroll'), ('genderType', 'male'), ('prefession', 'supervisory board member'), ('sectors', 'financial services')]
[('workerName', "Vuyiswa V. M'Cwabeni"), ('genderType', 'female'), ('prefession', 'supervisory board member'), ('sectors', 'financial services')]
[('workerName', 'William Lever, 1st Viscount Leverhulme'), ('genderType', 'male'), ('prefession', 'founded by'), ('sectors', 'Manufacture of bakery and farinaceous products; Manufacture of grain mill products, starches and starch products; Manufacture of soap and detergents, cleaning and polishing preparations, perfumes and toilet preparations; Manufacture of vegetable and animal oils and fats; chemical industry; dairy industry; fast-moving consumer goods; food and tobacco industry; food industry; perfumery; personal care products')]
[('workerName', 'Mathias Döpfner'), ('genderType', 'male'), ('prefession', 'chief executive officer'), ('sectors', 'publishing')]
[('workerName', 'Carl Wurster'), ('genderType', 'male'), ('prefession', 'board member'), ('sectors', 'chemical industry; crop protection; extraction of petroleum; pharmaceutical industry')]
[('workerName', 'Alfred Hugenberg'), ('genderType', 'male'), ('prefession', 'board member'), ('sectors', 'Manufacture of basic metals; heavy industry; metal industry')]
[('workerName', 'Eduard Schleicher'), ('genderType', 'male'), ('prefession', 'owned by'), ('sectors', 'Manufacture of medical and dental instruments and supplies; industry')]
[('workerName', 'Tuomo Hatakka'), ('genderType', 'male'), ('prefession', 'director / manager'), ('sectors', 'energy company')]

20

### Try to find work predicate or similar

In [20]:
queryString = """
SELECT DISTINCT ?pName ?p
WHERE { 
    wd:Q56509715 ?p ?o .
    ?p sc:name ?pName .
    FILTER (regex(?pName, ".*[Ww]ork.*")||regex(?pName, ".*[Ee]mploe.*"))
} 
"""

print("Results")
run_query(queryString)

Results
Empty

0

### Try to see all the predicate associated to Michael Lohscheller

In [21]:
queryString = """
SELECT DISTINCT  ?pName ?p
WHERE { 
    wd:Q56509715 ?p ?o .
    ?p sc:name ?pName .
} 
"""

print("Results")
run_query(queryString)

Results
[('pName', 'occupation'), ('p', 'http://www.wikidata.org/prop/direct/P106')]
[('pName', 'Munzinger person ID'), ('p', 'http://www.wikidata.org/prop/direct/P1284')]
[('pName', 'languages spoken, written or signed'), ('p', 'http://www.wikidata.org/prop/direct/P1412')]
[('pName', 'image'), ('p', 'http://www.wikidata.org/prop/direct/P18')]
[('pName', 'place of birth'), ('p', 'http://www.wikidata.org/prop/direct/P19')]
[('pName', 'sex or gender'), ('p', 'http://www.wikidata.org/prop/direct/P21')]
[('pName', 'Google Knowledge Graph ID'), ('p', 'http://www.wikidata.org/prop/direct/P2671')]
[('pName', 'country of citizenship'), ('p', 'http://www.wikidata.org/prop/direct/P27')]
[('pName', 'instance of'), ('p', 'http://www.wikidata.org/prop/direct/P31')]
[('pName', 'Commons category'), ('p', 'http://www.wikidata.org/prop/direct/P373')]
[('pName', 'date of birth'), ('p', 'http://www.wikidata.org/prop/direct/P569')]
[('pName', 'family name'), ('p', 'http://www.wikidata.org/prop/direct/P734')]
[('pName', 'given name'), ('p', 'http://www.wikidata.org/prop/direct/P735')]

13

### Retrieve all the workers with: their gender, their roles and the sectors where they work.

In [22]:
queryString = """
SELECT DISTINCT ?workerName ?genderType 
(GROUP_CONCAT(DISTINCT ?occupationName; SEPARATOR="; ") AS ?prefession) (GROUP_CONCAT(DISTINCT ?sector; SEPARATOR="; ") AS ?sectors)
WHERE {

    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         wdt:P452 ?industry ;
         sc:name ?companyName .
         
    ?instance wdt:P279* wd:Q567521 .
    ?industry sc:name ?sector .
    
    ?worker wdt:P31 wd:Q5 ;
         wdt:P21 ?gender ;     #gender detail
         wdt:P106 ?occupation ;
        sc:name ?workerName .
        
    ?gender sc:name ?genderType .
    ?occupation sc:name ?occupationName .
           
}
GROUP BY ?workerName ?genderType
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Friedrich Engelhorn'), ('genderType', 'male'), ('prefession', 'entrepreneur'), ('sectors', 'chemical industry; crop protection; extraction of petroleum; pharmaceutical industry')]
[('workerName', 'Jürgen E. Schrempp'), ('genderType', 'male'), ('prefession', 'business executive'), ('sectors', 'Manufacture of motor vehicles; arms industry; automotive industry; aviation industry; vehicle construction')]
[('workerName', 'Uğur Şahin'), ('genderType', 'male'), ('prefession', 'entrepreneur; oncologist; researcher; university teacher'), ('sectors', 'pharmaceutical industry')]
[('workerName', 'Ken Allen'), ('genderType', 'male'), ('prefession', 'manager'), ('sectors', 'logistics; mail; postal and telecommunications services')]
[('workerName', 'Eugen Vögler'), ('genderType', 'male'), ('prefession', 'manager'), ('sectors', 'Construction; construction industry')]
[('workerName', 'Karl Winnacker'), ('genderType', 'male'), ('prefession', 'chemist; university teacher'), ('sectors', 'chemical industry; information technology; paint industry; pharmaceutical industry; plastics industry')]
[('workerName', 'Sabine Schmittroth'), ('genderType', 'female'), ('prefession', 'bank manager'), ('sectors', 'Financial service activities, except insurance and pension funding; financial services')]
[('workerName', 'Leo Ellinger'), ('genderType', 'male'), ('prefession', 'entrepreneur'), ('sectors', 'food industry')]
[('workerName', 'Ulrich Lehner'), ('genderType', 'male'), ('prefession', 'manager'), ('sectors', 'arms industry; ferrous metallurgy')]
[('workerName', 'Karl Benz'), ('genderType', 'male'), ('prefession', 'engineer; inventor'), ('sectors', 'Manufacture of motor vehicles; arms industry; automotive industry; aviation industry; vehicle construction')]
[('workerName', 'Michael Lohscheller'), ('genderType', 'male'), ('prefession', 'manager'), ('sectors', 'automotive industry; mechanical engineering')]
[('workerName', "Vuyiswa V. M'Cwabeni"), ('genderType', 'female'), ('prefession', 'manager'), ('sectors', 'financial services')]
[('workerName', 'William Lever, 1st Viscount Leverhulme'), ('genderType', 'male'), ('prefession', 'businessperson; philanthropist; politician; soap-maker'), ('sectors', 'Manufacture of bakery and farinaceous products; Manufacture of grain mill products, starches and starch products; Manufacture of soap and detergents, cleaning and polishing preparations, perfumes and toilet preparations; Manufacture of vegetable and animal oils and fats; chemical industry; dairy industry; fast-moving consumer goods; food and tobacco industry; food industry; perfumery; personal care products')]
[('workerName', 'Mathias Döpfner'), ('genderType', 'male'), ('prefession', 'businessperson; journalist; lobbyist; supervisory board member'), ('sectors', 'publishing')]
[('workerName', 'Carl Wurster'), ('genderType', 'male'), ('prefession', 'chemist'), ('sectors', 'chemical industry; crop protection; extraction of petroleum; pharmaceutical industry')]
[('workerName', 'Alfred Hugenberg'), ('genderType', 'male'), ('prefession', 'diplomat; financier; media proprietor; politician; publisher'), ('sectors', 'Manufacture of basic metals; heavy industry; metal industry')]
[('workerName', 'Eduard Schleicher'), ('genderType', 'male'), ('prefession', 'entrepreneur'), ('sectors', 'Manufacture of medical and dental instruments and supplies; industry')]
[('workerName', 'Tuomo Hatakka'), ('genderType', 'male'), ('prefession', 'businessperson; manager'), ('sectors', 'energy company')]
[('workerName', 'Wolfgang Kapp'), ('genderType', 'male'), ('prefession', 'jurist; politician'), ('sectors', 'Financial service activities, except insurance and pension funding; Other monetary intermediation; financial services')]
[('workerName', 'Gerhard Prinz'), ('genderType', 'male'), ('prefession', 'manager'), ('sectors', 'Manufacture of motor vehicles; arms industry; automotive industry; aviation industry; vehicle construction')]

20

### Result part 2
I tried to retreive "work" (or similar) predicate but I did not find it. But then I found "occupation" predicate and after using this predicate I can conclude that it is much more correct to use this predicate instead their role in the company. We can also see that most of them do different works.

## Part 3
### Are there german companies with C.E.O., managers, or founders that are not German?

In [23]:
queryString = """
SELECT DISTINCT ?companyName
WHERE {

    {
        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance ;
             sc:name ?companyName .

        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P27 ?nationality .
        ?worker sc:name ?workerName .
        ?nationality sc:name ?nationName .

        ?role sc:name ?roleName .
    }
    MINUS
    {
        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance .
         
        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P27 wd:Q183 .    
    }         
}
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('companyName', 'Hugo Boss')]
[('companyName', 'BMW')]
[('companyName', 'Siemens')]
[('companyName', 'Siemens Healthineers')]
[('companyName', 'Deutsche Bank')]
[('companyName', 'Metro AG')]
[('companyName', 'E.ON SE')]
[('companyName', 'TUI AG')]
[('companyName', 'Donner & Reuschel')]
[('companyName', 'Bayer')]
[('companyName', 'SAP SE')]
[('companyName', 'Dieter-Schwarz-Stiftung')]
[('companyName', 'Leica Camera')]
[('companyName', 'Grillo-Werke')]
[('companyName', 'Agfa-Gevaert')]
[('companyName', 'HHLA')]
[('companyName', 'Wiley')]
[('companyName', 'Willy Bogner GmbH & Co. KGaA')]
[('companyName', 'Südzucker')]
[('companyName', 'Deutsche Post AG')]

20

### Create the same as before but with an ASK query

In [24]:
queryString = """
ASK WHERE {
        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance .

        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P27 ?nationality .
        
        ?nationality sc:name ?nationName .

    FILTER ( ?nationality != wd:Q183 )
   
           
}
"""

print("Results")
run_ask_query(queryString)

Results

{'head': {'link': []}, 'boolean': True}

### Try to display not only the companies but also the nationality of not german worker 
Wrong result... it retrieves also companies with only german worker

In [25]:
queryString = """
SELECT DISTINCT ?companyName (GROUP_CONCAT(DISTINCT ?nationName; SEPARATOR=", ") AS ?nationalities)
WHERE {
        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance ;
             sc:name ?companyName .

        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P27 ?nationality .
        ?worker sc:name ?workerName .
        ?nationality sc:name ?nationName .

        ?role sc:name ?roleName .
    
    MINUS
    {
        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance .
         
        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P27 wd:Q183 . 
    }
}
GROUP BY ?companyName
LIMIT 15
"""

print("Results")
run_query(queryString)

Results
[('companyName', 'BMW'), ('nationalities', 'Austria, Austria-Hungary, Italy')]
[('companyName', 'Vattenfall'), ('nationalities', 'Finland')]
[('companyName', 'Lanxess'), ('nationalities', 'Germany')]
[('companyName', 'Hochtief'), ('nationalities', 'Germany')]
[('companyName', 'Wiley'), ('nationalities', 'United States of America')]
[('companyName', 'Jefferies & Company'), ('nationalities', 'United States of America')]
[('companyName', 'Volkswagen Group'), ('nationalities', 'Austria, Austria-Hungary, Czechoslovakia, Germany, Republic of German-Austria')]
[('companyName', 'Vonovia'), ('nationalities', 'Germany')]
[('companyName', 'Deutsche Bank'), ('nationalities', 'German Reich, Kingdom of Prussia')]
[('companyName', 'Aktiengesellschaft für Seeschiffahrt'), ('nationalities', 'German Reich')]
[('companyName', 'Air Berlin'), ('nationalities', 'Germany')]
[('companyName', 'Opel'), ('nationalities', 'German Reich')]
[('companyName', 'Siemens'), ('nationalities', 'Denmark, German Reich')]
[('companyName', 'Hoechst'), ('nationalities', 'German Empire, German Reich, Germany, United Kingdom of Great Britain and Ireland')]
[('companyName', 'Bayer'), ('nationalities', 'Germany')]

15

### Rewriting the query to remove wrong rows

In [26]:
queryString = """
SELECT DISTINCT ?companyName (GROUP_CONCAT(DISTINCT ?nationName; SEPARATOR=", ") AS ?nationalities)
WHERE {

    
    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         sc:name ?companyName .

    ?instance wdt:P279* wd:Q567521 .

    ?worker wdt:P31 wd:Q5 ;
            wdt:P27 ?nationality .
    ?worker sc:name ?workerName .
    ?nationality sc:name ?nationName .

    ?role sc:name ?roleName .
    
    FILTER (?nationality != wd:Q183)
    
}
GROUP BY ?companyName
LIMIT 15
"""

print("Results")
run_query(queryString)

Results
[('companyName', 'BMW'), ('nationalities', 'Austria, Austria-Hungary, Italy')]
[('companyName', 'Vattenfall'), ('nationalities', 'Finland')]
[('companyName', 'Wiley'), ('nationalities', 'United States of America')]
[('companyName', 'Jefferies & Company'), ('nationalities', 'United States of America')]
[('companyName', 'Volkswagen Group'), ('nationalities', 'Austria, Austria-Hungary, Czechoslovakia, Republic of German-Austria')]
[('companyName', 'Deutsche Bank'), ('nationalities', 'German Reich, Kingdom of Prussia, United States of America')]
[('companyName', 'Aktiengesellschaft für Seeschiffahrt'), ('nationalities', 'German Reich')]
[('companyName', 'Opel'), ('nationalities', 'German Reich')]
[('companyName', 'Siemens'), ('nationalities', 'Denmark, German Empire, German Reich')]
[('companyName', 'Hoechst'), ('nationalities', 'German Empire, German Reich, United Kingdom of Great Britain and Ireland')]
[('companyName', 'Deutsche Post AG'), ('nationalities', 'Austria, Kingdom of England, United States of America')]
[('companyName', 'BioNTech'), ('nationalities', 'Austria, Hungary, Turkey')]
[('companyName', 'CureVac'), ('nationalities', "Polish People's Republic")]
[('companyName', 'Gelsenkirchener Bergwerks-AG'), ('nationalities', 'German Empire, German Reich')]
[('companyName', 'Lufthansa'), ('nationalities', 'German Empire, German Reich, Nazi Germany, Weimar Republic, West Germany')]

15

### Result part 3
As we can see there are companies with C.E.O., managers, or founders that are not German. In particular from the first one we can see the companies' name and from the last one we can see also the nationalities of the workers.

After seeing the problems and the correction of the last query we can conclude that the results of the first query could be wrong.

## Part 4
### Are there people related to multiple german companies?

### Create a query to group companies for each worker

In [27]:
queryString = """
SELECT DISTINCT ?workerName (GROUP_CONCAT(DISTINCT ?companyName; SEPARATOR=", ") AS ?companies)
WHERE {

        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance ;
             sc:name ?companyName .

        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P27 ?nationality .
        ?worker sc:name ?workerName .
        ?nationality sc:name ?nationName .

        ?role sc:name ?roleName .
           
} GROUP BY ?workerName
LIMIT 20
"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Wilhelm Haspel'), ('companies', 'Daimler-Benz')]
[('workerName', 'Thomas Eichelmann'), ('companies', 'Wirecard')]
[('workerName', 'Robert Pferdmenges'), ('companies', 'Dresdner Bank')]
[('workerName', 'Robert Gentz'), ('companies', 'Zalando SE')]
[('workerName', 'Karl Rapp'), ('companies', 'BMW')]
[('workerName', 'Hermann Schilling'), ('companies', 'E.ON SE')]
[('workerName', 'Norbert Reithofer'), ('companies', 'BMW')]
[('workerName', 'Walter J. Zable'), ('companies', 'Cubic Corporation')]
[('workerName', 'Edzard Reuter'), ('companies', 'Daimler-Benz')]
[('workerName', 'Tobias Meyer'), ('companies', 'Deutsche Post AG')]
[('workerName', 'Werner Baumann'), ('companies', 'Bayer')]
[('workerName', 'Carsten Spohr'), ('companies', 'Lufthansa')]
[('workerName', 'Oliver Bäte'), ('companies', 'Allianz SE')]
[('workerName', 'Ulrich Schmack'), ('companies', 'Schmack Biogas Service')]
[('workerName', 'Carl Duisberg'), ('companies', 'Bayer')]
[('workerName', 'Werner Wenning'), ('companies', 'E.ON SE')]
[('workerName', 'Angela Titzrath'), ('companies', 'HHLA')]
[('workerName', 'Christian Reinaudo'), ('companies', 'Agfa-Gevaert')]
[('workerName', 'Dirk Markus'), ('companies', 'Aurelius Group')]
[('workerName', 'Wilhelm Kissel'), ('companies', 'Daimler-Benz')]

20

### Add a counter of companies to find who works for at least 2 companies

In [28]:
queryString = """
SELECT DISTINCT ?workerName (GROUP_CONCAT(DISTINCT ?companyName; SEPARATOR=", ") AS ?companies)
WHERE {

        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance ;
             sc:name ?companyName .

        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P27 ?nationality ;
                sc:name ?workerName .

        ?role sc:name ?roleName .
           
}
GROUP BY ?workerName 
HAVING ( (COUNT(DISTINCT ?companyName) AS ?howManyCompanies)  > 1 )
LIMIT 25
"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Dieter Zetsche'), ('companies', 'Daimler AG, TUI AG')]
[('workerName', 'Ernst Werner von Siemens'), ('companies', 'Siemens, Siemens Healthineers')]
[('workerName', 'Dietmar Hopp'), ('companies', 'CureVac, SAP SE')]
[('workerName', 'Günther Quandt'), ('companies', 'Daimler-Benz, KUKA')]
[('workerName', 'Georg Adolf Solmssen'), ('companies', 'Dahlbusch Verwaltungs-AG, Deutsche Bank')]
[('workerName', 'Hugo Henkel'), ('companies', 'Deutsche Bank, Henkel AG & Co. KGaA')]

6

### Result part 4
We can see that there are 6 person (in our database) which are/were related to more than one company.

## Part 5

### Part 5.1 How many people for each role and gender are there in Germany?

In [29]:
queryString = """
SELECT DISTINCT ?roleName (COUNT(DISTINCT ?worker) as ?howManyWorkers) 
WHERE {

        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance ;
             sc:name ?companyName .

        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 .

        ?role sc:name ?roleName .
           
}
GROUP BY ?roleName 
"""

print("Results")
run_query(queryString)

Results
[('roleName', 'chairperson'), ('howManyWorkers', '8')]
[('roleName', 'chief executive officer'), ('howManyWorkers', '33')]
[('roleName', 'director / manager'), ('howManyWorkers', '33')]
[('roleName', 'founded by'), ('howManyWorkers', '60')]
[('roleName', 'named after'), ('howManyWorkers', '16')]
[('roleName', 'board member'), ('howManyWorkers', '92')]
[('roleName', 'owner of'), ('howManyWorkers', '1')]
[('roleName', 'owned by'), ('howManyWorkers', '11')]
[('roleName', 'significant person'), ('howManyWorkers', '4')]
[('roleName', 'supervisory board member'), ('howManyWorkers', '35')]
[('roleName', 'investor'), ('howManyWorkers', '1')]

11

### Search gender predicate

In [30]:
queryString = """
SELECT DISTINCT ?pName ?oName ?p ?o
WHERE { 
    wd:Q56509715 ?p ?o .
    ?p sc:name ?pName .
    ?o sc:name ?oName .
    
    FILTER regex(?pName,"gender")
} 
"""

print("Results")
run_query(queryString)

Results
[('pName', 'sex or gender'), ('oName', 'male'), ('p', 'http://www.wikidata.org/prop/direct/P21'), ('o', 'http://www.wikidata.org/entity/Q6581097')]

1

### Add gender predicate

In [31]:
queryString = """
SELECT DISTINCT ?roleName ?genderType (COUNT(DISTINCT ?worker) as ?howManyWorkers) 
WHERE {

        ?company ?role ?worker ;
             wdt:P17 wd:Q183 ;
             wdt:P31 ?instance ;
             sc:name ?companyName .

        ?instance wdt:P279* wd:Q567521 .

        ?worker wdt:P31 wd:Q5 ;
                wdt:P21 ?gender . #gender detail
        
        ?gender sc:name ?genderType .      

        ?role sc:name ?roleName .
           
}
GROUP BY ?roleName ?genderType
ORDER BY ?roleName ?genderType
"""

print("Results")
run_query(queryString)

Results
[('roleName', 'board member'), ('genderType', 'female'), ('howManyWorkers', '8')]
[('roleName', 'board member'), ('genderType', 'male'), ('howManyWorkers', '83')]
[('roleName', 'chairperson'), ('genderType', 'female'), ('howManyWorkers', '1')]
[('roleName', 'chairperson'), ('genderType', 'male'), ('howManyWorkers', '7')]
[('roleName', 'chief executive officer'), ('genderType', 'female'), ('howManyWorkers', '2')]
[('roleName', 'chief executive officer'), ('genderType', 'male'), ('howManyWorkers', '31')]
[('roleName', 'director / manager'), ('genderType', 'female'), ('howManyWorkers', '1')]
[('roleName', 'director / manager'), ('genderType', 'male'), ('howManyWorkers', '32')]
[('roleName', 'founded by'), ('genderType', 'male'), ('howManyWorkers', '60')]
[('roleName', 'investor'), ('genderType', 'male'), ('howManyWorkers', '1')]
[('roleName', 'named after'), ('genderType', 'male'), ('howManyWorkers', '16')]
[('roleName', 'owned by'), ('genderType', 'female'), ('howManyWorkers', '1')]
[('roleName', 'owned by'), ('genderType', 'male'), ('howManyWorkers', '10')]
[('roleName', 'owner of'), ('genderType', 'male'), ('howManyWorkers', '1')]
[('roleName', 'significant person'), ('genderType', 'female'), ('howManyWorkers', '1')]
[('roleName', 'significant person'), ('genderType', 'male'), ('howManyWorkers', '3')]
[('roleName', 'supervisory board member'), ('genderType', 'female'), ('howManyWorkers', '3')]
[('roleName', 'supervisory board member'), ('genderType', 'male'), ('howManyWorkers', '29')]

18

### Result part 5.1
We can notice that (in our database) for each role the male workers are much more than the females workers.The first 2 rows have the highest difference.

Another thing is that for some roles there are not female figures (for example: founded by, investor and named after)

### Part 5.2 Are there companies with multiple german people having important roles?

In [32]:
queryString = """
ASK WHERE {
    {
        SELECT (COUNT(DISTINCT ?company) AS ?howManyComapanies) WHERE
        {
            {
                SELECT ?company
                WHERE{
                    ?company ?role ?worker ;
                         wdt:P17 wd:Q183 ;
                         wdt:P31 ?instance .

                    ?instance wdt:P279* wd:Q567521 .

                    ?worker wdt:P31 wd:Q5 ;
                            wdt:P27 wd:Q183 .    
                } GROUP BY ?company
                HAVING (COUNT(DISTINCT ?workers) > 1)
            }
        }
    }
    FILTER ( ?howManyComapanies > 1)
             
}


"""

print("Results")
run_ask_query(queryString)

Results

{'head': {'link': []}, 'boolean': False}

### See the retrieved results 
Frome the results we can see that there are at least 2 company with more than one german having important roles. So we can conclude that the previus query was wrong.

In [33]:
queryString = """

SELECT ?companyName (COUNT(DISTINCT ?worker) AS ?howManyGerman)
WHERE{
    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         sc:name ?companyName .

    ?instance wdt:P279* wd:Q567521 .

    ?worker wdt:P31 wd:Q5 ;
            wdt:P27 wd:Q183 .    

} 
GROUP BY ?companyName
ORDER BY DESC(?howManyGerman)
LIMIT 10

"""

print("Results")
run_query(queryString)

Results
[('companyName', 'Deutsche Bank'), ('howManyGerman', '10')]
[('companyName', 'Daimler-Benz'), ('howManyGerman', '10')]
[('companyName', 'BMW'), ('howManyGerman', '9')]
[('companyName', 'Friedrich Krupp AG'), ('howManyGerman', '8')]
[('companyName', 'BASF'), ('howManyGerman', '8')]
[('companyName', 'Hoechst'), ('howManyGerman', '6')]
[('companyName', 'Allianz SE'), ('howManyGerman', '6')]
[('companyName', 'Opel'), ('howManyGerman', '5')]
[('companyName', 'Bayer'), ('howManyGerman', '5')]
[('companyName', 'Gelsenkirchener Bergwerks-AG'), ('howManyGerman', '5')]

10

### Try the correct ask query

In [34]:
queryString = """
ASK WHERE{
    FILTER (?howManyCompany > 1)
    {
    SELECT (COUNT(?company) AS ?howManyCompany) WHERE
        {
            SELECT DISTINCT ?company
            WHERE{
                ?company ?role ?worker ;
                     wdt:P17 wd:Q183 ;
                     wdt:P31 ?instance ;
                     sc:name ?companyName .

                ?instance wdt:P279* wd:Q567521 .

                ?worker wdt:P31 wd:Q5 ;
                        wdt:P27 wd:Q183 .    

            } 
            GROUP BY ?company
            HAVING ((COUNT(DISTINCT ?worker) AS ?howManyGerman)>1)
        }
    }
     
}

"""

print("Results")
run_ask_query(queryString)

Results

{'head': {'link': []}, 'boolean': True}

### Results part 5.2
We can conclude that there are companies that have important person who are not german. So there is not discrimination based on place of origin.

### Part 5.3 In which sectors are important german business people working?

In [35]:
queryString = """

SELECT DISTINCT ?workerName (GROUP_CONCAT(DISTINCT ?sector; SEPARATOR=", ") AS ?sectors)
WHERE{
    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         sc:name ?companyName .
    
    ?instance wdt:P279* wd:Q567521 ;
        sc:name ?sector .

    ?worker wdt:P31 wd:Q5 ;
        wdt:P27 wd:Q183 ;
        sc:name ?workerName .

} 
GROUP BY ?workerName
LIMIT 10

"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Wilhelm Haspel'), ('sectors', 'public company')]
[('workerName', 'Thomas Eichelmann'), ('sectors', 'public company')]
[('workerName', 'Robert Gentz'), ('sectors', 'public company')]
[('workerName', 'Robert Pferdmenges'), ('sectors', 'public company')]
[('workerName', 'Karl Rapp'), ('sectors', 'public company')]
[('workerName', 'Norbert Reithofer'), ('sectors', 'public company')]
[('workerName', 'Hermann Schilling'), ('sectors', 'public company')]
[('workerName', 'Edzard Reuter'), ('sectors', 'public company')]
[('workerName', 'Werner Baumann'), ('sectors', 'public company')]
[('workerName', 'Carsten Spohr'), ('sectors', 'public company')]

10

### Use wdt:P452 industry predicate retrieved in part 1

In [36]:
queryString = """

SELECT DISTINCT ?workerName (GROUP_CONCAT(DISTINCT ?sector; SEPARATOR=", ") AS ?sectors)
WHERE{
    ?company ?role ?worker ;
         wdt:P17 wd:Q183 ;
         wdt:P31 ?instance ;
         wdt:P452 ?industry ;
         sc:name ?companyName .
    
    ?instance wdt:P279* wd:Q567521 .
    ?industry sc:name ?sector .

    ?worker wdt:P31 wd:Q5 ;
        wdt:P27 wd:Q183 ;
        sc:name ?workerName .

} 
GROUP BY ?workerName
LIMIT 10

"""

print("Results")
run_query(queryString)

Results
[('workerName', 'Wilhelm Haspel'), ('sectors', 'Manufacture of motor vehicles, arms industry, automotive industry, aviation industry, vehicle construction')]
[('workerName', 'Thomas Eichelmann'), ('sectors', 'financial services')]
[('workerName', 'Robert Gentz'), ('sectors', 'retail')]
[('workerName', 'Robert Pferdmenges'), ('sectors', 'Financial service activities, except insurance and pension funding, Other monetary intermediation, financial services')]
[('workerName', 'Karl Rapp'), ('sectors', 'Manufacture of motor vehicles, automotive industry, vehicle construction')]
[('workerName', 'Norbert Reithofer'), ('sectors', 'Manufacture of motor vehicles, automotive industry, vehicle construction')]
[('workerName', 'Hermann Schilling'), ('sectors', 'energy and water industries, energy sector')]
[('workerName', 'Edzard Reuter'), ('sectors', 'Manufacture of motor vehicles, arms industry, automotive industry, aviation industry, vehicle construction')]
[('workerName', 'Werner Baumann'), ('sectors', 'chemical industry, pharmaceutical industry, phytopharmaceuticals, plastic')]
[('workerName', 'Carsten Spohr'), ('sectors', 'Freight air transport, Passenger air transport, air transport')]

10

### Result 5.3 
We can notice that there are people who are working in more than one secotr and other people in only one.

### Part 5.4 Are there german business people related to non german companies? How many?

In [37]:
queryString = """

SELECT DISTINCT ?companyName ?nationName (GROUP_CONCAT(DISTINCT ?workerName; SEPARATOR=", ") AS ?workers)
WHERE{
    ?company ?role ?worker ;
         wdt:P17 ?nation ;
         wdt:P31 ?instance ;
         wdt:P452 ?industry ;
         sc:name ?companyName .
    
    ?nation sc:name ?nationName .
    
    ?instance wdt:P279* wd:Q567521 .
    ?industry sc:name ?sector .

    ?worker wdt:P31 wd:Q5 ;
        wdt:P27 wd:Q183 ;
        sc:name ?workerName .
    
    FILTER( ?nation != wd:Q183 )
} 
GROUP BY ?companyName ?nationName
LIMIT 10

"""

print("Results")
run_query(queryString)

Results
[('companyName', 'MMX Mineração'), ('nationName', 'Brazil'), ('workers', 'Eike Batista')]
[('companyName', 'Lloyds Banking Group'), ('nationName', 'United Kingdom'), ('workers', 'Winfried Bischoff')]
[('companyName', 'Imperial Brands'), ('nationName', 'United Kingdom'), ('workers', 'Stefan Bomhard')]
[('companyName', 'Bâloise'), ('nationName', 'Switzerland'), ('workers', 'Alexander Bockelmann')]
[('companyName', 'ams AG'), ('nationName', 'Austria'), ('workers', 'Alexander Everke')]
[('companyName', 'Demandware'), ('nationName', 'United States of America'), ('workers', 'Stephan Schambach')]
[('companyName', 'Rolls-Royce'), ('nationName', 'United Kingdom'), ('workers', 'Jasmin Staiblin')]
[('companyName', 'Dreamville, Inc.'), ('nationName', 'United States of America'), ('workers', 'J Cole')]
[('companyName', 'Inchcape plc'), ('nationName', 'United Kingdom'), ('workers', 'Stefan Bomhard')]
[('companyName', 'Maersk'), ('nationName', 'Denmark'), ('workers', 'Dorothee Blessing')]

10

### Retrieve the number of german workers that are working for a non german company

In [38]:
queryString = """

SELECT (COUNT(DISTINCT ?worker) AS ?howManyGermanWorksOutside)
WHERE{
    ?company ?role ?worker ;
         wdt:P17 ?nation ;
         wdt:P31 ?instance .
    
    ?nation sc:name ?nationName .
    
    ?instance wdt:P279* wd:Q567521 .

    ?worker wdt:P31 wd:Q5 ;
        wdt:P27 wd:Q183 .
    
    FILTER( ?nation != wd:Q183 )
}

"""

print("Results")
run_query(queryString)

Results
[('howManyGermanWorksOutside', '43')]

1

### Result part 5.4
There are 43 german person who are working in non german company. Note that they are covering important roles in these company.