# General instructions

The goal of the project is to materialize a set of **exploratory workloads** over a real-world, large-scale,  open-domain KG: [WikiData](https://www.wikidata.org/wiki/Wikidata:Main_Page)

An exploratory workload  is composed by a set of queries, where each query is related to the information obtained previously.

An exploratory workload starts with a usually vague, open ended question, and does not assume the person issuing the workload has a clear understanding of the data contained in the target database or its structure.

Remeber that:

1. All the queries must run in the python notebook
2. You can use classes and properties only if you find them via a SPARQL query that must be present in the notebook
3. You do not delete useless queries. Keep everything that is synthatically valid 

```
?p <http://schema.org/name> ?name .
```
    
is the BGP returning a human-readable name of a property or a class in Wikidata.

In [1]:
## SETUP used later

from SPARQLWrapper import SPARQLWrapper, JSON


prefixString = """
##-84291ccba1-##
PREFIX wd: <http://www.wikidata.org/entity/> 
PREFIX wdt: <http://www.wikidata.org/prop/direct/> 
PREFIX sc: <http://schema.org/>
"""

# select and construct queries
def run_query(queryString):
    to_run = prefixString + "\n" + queryString

    sparql = SPARQLWrapper("http://a256-gc1-02.srv.aau.dk:5820/sparql")
    sparql.setTimeout(300)
    sparql.setReturnFormat(JSON)
    sparql.setQuery(to_run)

    try :
       results = sparql.query()
       json_results = results.convert()
       if len(json_results['results']['bindings'])==0:
          print("Empty")
          return 0
    
       for bindings in json_results['results']['bindings']:
          print( [ (var, value['value'])  for var, value in bindings.items() ] )

       return len(json_results['results']['bindings'])

    except Exception as e :
        print("The operation failed", e)
    
# ASk queries
def run_ask_query(queryString):
    to_run = prefixString + "\n" + queryString

    sparql = SPARQLWrapper("http://a256-gc1-02.srv.aau.dk:5820/sparql")
    sparql.setTimeout(300)
    sparql.setReturnFormat(JSON)
    sparql.setQuery(to_run)

    try :
        return sparql.query().convert()

    except Exception as e :
        print("The operation failed", e)

# Politics Workflow Series ("Monarchies") 

Consider the following exploratory information need:

> You investigating existing and past historical monarchies

## Useful URIs for the current workflow


The following are given:

| IRI           | Description   | Role      |
| -----------   | -----------   |-----------|
| `wdt:P1647`   | subproperty   | predicate |
| `wdt:P31`     | instance of   | predicate |
| `wdt:P279`    | subclass      | predicate |
| `wdt:P17`     | country       | predicate |
| `wdt:P27`     | citizenship   | predicate |
| `wdt:P1366`   | replaced by    | predicate |
| `wdt:P122`    | basic form of government    | predicate |
| `wd:Q38`      | Italy          | node |
| `wd:Q145`     | United Kingdom           | node |
| `wd:Q7269`    | monarchy           | node |




Also consider

```
?p (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269  . 
```

is the BGP to retrieve all **countries that are some instance of a monarchy**

## Workload Goals


1. Identify the BGP to retrieve states that were monarchies and have been replaced by some other state

2. Identify the BGP for obtaining statistical information of monarchies, e.g., poluation or inception date

3. Which is or was  the country with the highest population?

4. How many countries are or have been monarchies across continents?

5. Analyze the number of countries that were monarchies
 
   5.1 How many sub-types of monarchy exist?  How many instances of exist of each one?
   
   5.2 Are there cities that have been capital of multiple kingdoms?
   
   5.3 Which are the top-3 monarchies with the earliest inception and still existing?

In [1]:
# start your workflow here

In [7]:
queryString = """
SELECT COUNT(*)
WHERE { 

?p (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269  . 
} 
"""

print("Results")
run_query(queryString)

Results
[('callret-0', '2344')]

1

## Task 1 - Identify the BGP to retrieve states that were monarchies and have been replaced by some other state

#### I inspect Properties of the Monarchies

In [5]:
queryString = """
SELECT DISTINCT ?p ?pname (COUNT(?p) AS ?number) WHERE { 

?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
     ?p ?obj.
    
?p <http://schema.org/name> ?pname.
} 
GROUP BY ?p ?pname
ORDER BY DESC (?number)
LIMIT 100
"""

print("Results")
run_query(queryString)

Results
[('p', 'http://www.wikidata.org/prop/direct/P2936'), ('pname', 'language used'), ('number', '4945')]
[('p', 'http://www.wikidata.org/prop/direct/P31'), ('pname', 'instance of'), ('number', '3785')]
[('p', 'http://www.wikidata.org/prop/direct/P530'), ('pname', 'diplomatic relation'), ('number', '3052')]
[('p', 'http://www.wikidata.org/prop/direct/P463'), ('pname', 'member of'), ('number', '2141')]
[('p', 'http://www.wikidata.org/prop/direct/P150'), ('pname', 'contains administrative territorial entity'), ('number', '1711')]
[('p', 'http://www.wikidata.org/prop/direct/P36'), ('pname', 'capital'), ('number', '1511')]
[('p', 'http://www.wikidata.org/prop/direct/P571'), ('pname', 'inception'), ('number', '1474')]
[('p', 'http://www.wikidata.org/prop/direct/P576'), ('pname', 'dissolved, abolished or demolished date'), ('number', '1332')]
[('p', 'http://www.wikidata.org/prop/direct/P646'), ('pname', 'Freebase ID'), ('number', '1290')]
[('p', 'http://www.wikidata.org/prop/direct/P122'), ('pname', 'basic form of government'), ('number', '1286')]
[('p', 'http://www.wikidata.org/prop/direct/P242'), ('pname', 'locator map image'), ('number', '1099')]
[('p', 'http://www.wikidata.org/prop/direct/P1343'), ('pname', 'described by source'), ('number', '1053')]
[('p', 'http://www.wikidata.org/prop/direct/P37'), ('pname', 'official language'), ('number', '1028')]
[('p', 'http://www.wikidata.org/prop/direct/P17'), ('pname', 'country'), ('number', '982')]
[('p', 'http://www.wikidata.org/prop/direct/P910'), ('pname', "topic's main category"), ('number', '974')]
[('p', 'http://www.wikidata.org/prop/direct/P373'), ('pname', 'Commons category'), ('number', '907')]
[('p', 'http://www.wikidata.org/prop/direct/P30'), ('pname', 'continent'), ('number', '899')]
[('p', 'http://www.wikidata.org/prop/direct/P94'), ('pname', 'coat of arms image'), ('number', '846')]
[('p', 'http://www.wikidata.org/prop/direct/P2671'), ('pname', 'Google Knowledge Graph ID'), ('number', '842')]
[('p', 'http://www.wikidata.org/prop/direct/P41'), ('pname', 'flag image'), ('number', '791')]
[('p', 'http://www.wikidata.org/prop/direct/P47'), ('pname', 'shares border with'), ('number', '748')]
[('p', 'http://www.wikidata.org/prop/direct/P1365'), ('pname', 'replaces'), ('number', '659')]
[('p', 'http://www.wikidata.org/prop/direct/P214'), ('pname', 'VIAF ID'), ('number', '535')]
[('p', 'http://www.wikidata.org/prop/direct/P1366'), ('pname', 'replaced by'), ('number', '534')]
[('p', 'http://www.wikidata.org/prop/direct/P38'), ('pname', 'currency'), ('number', '532')]
[('p', 'http://www.wikidata.org/prop/direct/P140'), ('pname', 'religion'), ('number', '413')]
[('p', 'http://www.wikidata.org/prop/direct/P3075'), ('pname', 'official religion'), ('number', '409')]
[('p', 'http://www.wikidata.org/prop/direct/P1417'), ('pname', 'Encyclopædia Britannica Online ID'), ('number', '396')]
[('p', 'http://www.wikidata.org/prop/direct/P35'), ('pname', 'head of state'), ('number', '384')]
[('p', 'http://www.wikidata.org/prop/direct/P7859'), ('pname', 'WorldCat Identities ID'), ('number', '380')]
[('p', 'http://www.wikidata.org/prop/direct/P227'), ('pname', 'GND ID'), ('number', '369')]
[('p', 'http://www.wikidata.org/prop/direct/P244'), ('pname', 'Library of Congress authority ID'), ('number', '362')]
[('p', 'http://www.wikidata.org/prop/direct/P156'), ('pname', 'followed by'), ('number', '357')]
[('p', 'http://www.wikidata.org/prop/direct/P1889'), ('pname', 'different from'), ('number', '353')]
[('p', 'http://www.wikidata.org/prop/direct/P1082'), ('pname', 'population'), ('number', '343')]
[('p', 'http://www.wikidata.org/prop/direct/P2046'), ('pname', 'area'), ('number', '339')]
[('p', 'http://www.wikidata.org/prop/direct/P361'), ('pname', 'part of'), ('number', '326')]
[('p', 'http://www.wikidata.org/prop/direct/P155'), ('pname', 'follows'), ('number', '316')]
[('p', 'http://www.wikidata.org/prop/direct/P131'), ('pname', 'located in the administrative territorial entity'), ('number', '313')]
[('p', 'http://www.wikidata.org/prop/direct/P527'), ('pname', 'has part'), ('number', '295')]
[('p', 'http://www.wikidata.org/prop/direct/P2924'), ('pname', 'Great Russian Encyclopedia Online ID'), ('number', '286')]
[('p', 'http://www.wikidata.org/prop/direct/P3417'), ('pname', 'Quora topic ID'), ('number', '236')]
[('p', 'http://www.wikidata.org/prop/direct/P1906'), ('pname', 'office held by head of state'), ('number', '217')]
[('p', 'http://www.wikidata.org/prop/direct/P1296'), ('pname', 'Gran Enciclopèdia Catalana ID'), ('number', '214')]
[('p', 'http://www.wikidata.org/prop/direct/P85'), ('pname', 'anthem'), ('number', '212')]
[('p', 'http://www.wikidata.org/prop/direct/P691'), ('pname', 'NKCR AUT ID'), ('number', '209')]
[('p', 'http://www.wikidata.org/prop/direct/P443'), ('pname', 'pronunciation audio'), ('number', '207')]
[('p', 'http://www.wikidata.org/prop/direct/P18'), ('pname', 'image'), ('number', '204')]
[('p', 'http://www.wikidata.org/prop/direct/P421'), ('pname', 'located in time zone'), ('number', '200')]
[('p', 'http://www.wikidata.org/prop/direct/P194'), ('pname', 'legislative body'), ('number', '194')]
[('p', 'http://www.wikidata.org/prop/direct/P6404'), ('pname', "Treccani's Dizionario di Storia ID"), ('number', '194')]
[('p', 'http://www.wikidata.org/prop/direct/P206'), ('pname', 'located in or next to body of water'), ('number', '194')]
[('p', 'http://www.wikidata.org/prop/direct/P8476'), ('pname', 'BTI Governance Index'), ('number', '189')]
[('p', 'http://www.wikidata.org/prop/direct/P8477'), ('pname', 'BTI Status Index'), ('number', '186')]
[('p', 'http://www.wikidata.org/prop/direct/P832'), ('pname', 'public holiday'), ('number', '184')]
[('p', 'http://www.wikidata.org/prop/direct/P3219'), ('pname', 'Encyclopædia Universalis ID'), ('number', '180')]
[('p', 'http://www.wikidata.org/prop/direct/P268'), ('pname', 'Bibliothèque nationale de France ID'), ('number', '179')]
[('p', 'http://www.wikidata.org/prop/direct/P1549'), ('pname', 'demonym'), ('number', '179')]
[('p', 'http://www.wikidata.org/prop/direct/P1464'), ('pname', 'category for people born here'), ('number', '174')]
[('p', 'http://www.wikidata.org/prop/direct/P163'), ('pname', 'flag'), ('number', '173')]
[('p', 'http://www.wikidata.org/prop/direct/P1344'), ('pname', 'participant in'), ('number', '171')]
[('p', 'http://www.wikidata.org/prop/direct/P2852'), ('pname', 'emergency telephone number'), ('number', '168')]
[('p', 'http://www.wikidata.org/prop/direct/P7867'), ('pname', 'category for maps'), ('number', '163')]
[('p', 'http://www.wikidata.org/prop/direct/P1792'), ('pname', 'category of associated people'), ('number', '160')]
[('p', 'http://www.wikidata.org/prop/direct/P2853'), ('pname', 'electrical plug type'), ('number', '155')]
[('p', 'http://www.wikidata.org/prop/direct/P237'), ('pname', 'coat of arms'), ('number', '154')]
[('p', 'http://www.wikidata.org/prop/direct/P6'), ('pname', 'head of government'), ('number', '153')]
[('p', 'http://www.wikidata.org/prop/direct/P856'), ('pname', 'official website'), ('number', '144')]
[('p', 'http://www.wikidata.org/prop/direct/P6262'), ('pname', 'Fandom article ID'), ('number', '143')]
[('p', 'http://www.wikidata.org/prop/direct/P172'), ('pname', 'ethnic group'), ('number', '142')]
[('p', 'http://www.wikidata.org/prop/direct/P1441'), ('pname', 'present in work'), ('number', '139')]
[('p', 'http://www.wikidata.org/prop/direct/P1667'), ('pname', 'Getty Thesaurus of Geographic Names ID'), ('number', '136')]
[('p', 'http://www.wikidata.org/prop/direct/P2184'), ('pname', 'history of topic'), ('number', '134')]
[('p', 'http://www.wikidata.org/prop/direct/P793'), ('pname', 'significant event'), ('number', '129')]
[('p', 'http://www.wikidata.org/prop/direct/P7818'), ('pname', 'French Vikidia ID'), ('number', '123')]
[('p', 'http://www.wikidata.org/prop/direct/P138'), ('pname', 'named after'), ('number', '121')]
[('p', 'http://www.wikidata.org/prop/direct/P8408'), ('pname', 'KBpedia ID'), ('number', '121')]
[('p', 'http://www.wikidata.org/prop/direct/P935'), ('pname', 'Commons gallery'), ('number', '120')]
[('p', 'http://www.wikidata.org/prop/direct/P1465'), ('pname', 'category for people who died here'), ('number', '116')]
[('p', 'http://www.wikidata.org/prop/direct/P948'), ('pname', 'page banner'), ('number', '114')]
[('p', 'http://www.wikidata.org/prop/direct/P2959'), ('pname', 'permanent duplicated item'), ('number', '113')]
[('p', 'http://www.wikidata.org/prop/direct/P898'), ('pname', 'IPA transcription'), ('number', '112')]
[('p', 'http://www.wikidata.org/prop/direct/P1313'), ('pname', 'office held by head of government'), ('number', '108')]
[('p', 'http://www.wikidata.org/prop/direct/P1151'), ('pname', "topic's main Wikimedia portal"), ('number', '105')]
[('p', 'http://www.wikidata.org/prop/direct/P4839'), ('pname', 'Wolfram Language entity code'), ('number', '105')]
[('p', 'http://www.wikidata.org/prop/direct/P8744'), ('pname', 'economy of topic'), ('number', '105')]
[('p', 'http://www.wikidata.org/prop/direct/P269'), ('pname', 'IdRef ID'), ('number', '104')]
[('p', 'http://www.wikidata.org/prop/direct/P998'), ('pname', 'Curlie ID'), ('number', '103')]
[('p', 'http://www.wikidata.org/prop/direct/P5063'), ('pname', 'Interlingual Index ID'), ('number', '103')]
[('p', 'http://www.wikidata.org/prop/direct/P3842'), ('pname', 'located in present-day administrative territorial entity'), ('number', '102')]
[('p', 'http://www.wikidata.org/prop/direct/P2347'), ('pname', 'YSO ID'), ('number', '102')]
[('p', 'http://www.wikidata.org/prop/direct/P349'), ('pname', 'National Diet Library ID'), ('number', '102')]
[('p', 'http://www.wikidata.org/prop/direct/P1830'), ('pname', 'owner of'), ('number', '101')]
[('p', 'http://www.wikidata.org/prop/direct/P2979'), ('pname', 'maritime identification digits'), ('number', '101')]
[('p', 'http://www.wikidata.org/prop/direct/P1566'), ('pname', 'GeoNames ID'), ('number', '100')]
[('p', 'http://www.wikidata.org/prop/direct/P8406'), ('pname', 'Grove Art Online ID'), ('number', '99')]
[('p', 'http://www.wikidata.org/prop/direct/P706'), ('pname', 'located in/on physical feature'), ('number', '98')]
[('p', 'http://www.wikidata.org/prop/direct/P4841'), ('pname', 'total fertility rate'), ('number', '97')]
[('p', 'http://www.wikidata.org/prop/direct/P474'), ('pname', 'country calling code'), ('number', '95')]
[('p', 'http://www.wikidata.org/prop/direct/P6766'), ('pname', "Who's on First ID"), ('number', '92')]

100

#### I use "replaced by" (wdt:P1366)

In [ ]:
queryString = """
SELECT DISTINCT ?name ?Replace WHERE { 

?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
    wdt:P1366 ?m.
    
?mon <http://schema.org/name> ?name.
?m <http://schema.org/name> ?Replace.

} 
"""

print("Results")
run_query(queryString)

## Task 2 - Identify the BGP for obtaining statistical information of monarchies, e.g., population or inception date

#### I use "inception"(wdt:P571), "currency" (wdt:P38), "population" (wdt:P1082), "area" (wdt:P2046)

In [12]:
queryString = """
SELECT DISTINCT ?name ?inc ?curname (MAX(?pop) AS ?latest_pop) ?area WHERE { 

?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269.

OPTIONAL{?mon wdt:P571 ?inc.}
OPTIONAL{?mon wdt:P38 ?cur.}
OPTIONAL{?mon wdt:P1082 ?pop.}
OPTIONAL{?mon wdt:P2046 ?area.}
    
?mon <http://schema.org/name> ?name.
?cur <http://schema.org/name> ?curname.
} 
GROUP BY ?name ?inc ?curname ?area
"""

print("Results")
run_query(queryString)

Results
[('name', 'Grand Duchy of Lithuania'), ('inc', '1236-01-01T00:00:00Z'), ('curname', 'groschen'), ('latest_pop', '3500000'), ('area', '930000')]
[('name', 'Kingdom of Kongo'), ('inc', '1395-01-01T00:00:00Z'), ('curname', 'Shell money'), ('area', '129400')]
[('name', 'Grand Duchy of Lithuania'), ('inc', '1236-01-01T00:00:00Z'), ('curname', 'złoty'), ('latest_pop', '3500000'), ('area', '250000')]
[('name', 'Thailand'), ('inc', '1768-12-28T00:00:00Z'), ('curname', 'baht'), ('latest_pop', '65931550'), ('area', '513119.5')]
[('name', 'Greenland'), ('inc', '1979-01-01T00:00:00Z'), ('curname', 'Danish krone'), ('latest_pop', '56081'), ('area', '2166086')]
[('name', 'Grand Duchy of Lithuania'), ('inc', '1236-01-01T00:00:00Z'), ('curname', 'Lithuanian long currency'), ('latest_pop', '3500000'), ('area', '320000')]
[('name', 'Belize'), ('inc', '1981-09-21T00:00:00Z'), ('curname', 'Belize dollar'), ('latest_pop', '374681'), ('area', '22966')]
[('name', 'Principality of Sealand'), ('inc', '1967-09-02T00:00:00Z'), ('curname', 'Coins and postage stamps of Sealand'), ('latest_pop', '27'), ('area', '0.004')]
[('name', 'Kingdom of Spain under Joseph Bonaparte'), ('inc', '1808-06-06T00:00:00Z'), ('curname', 'Spanish real')]
[('name', 'Saint Vincent and the Grenadines'), ('inc', '1979-01-01T00:00:00Z'), ('curname', 'Eastern Caribbean dollar'), ('latest_pop', '109897'), ('area', '389')]
[('name', 'Kingdom of Burundi'), ('inc', '1680-01-01T00:00:00Z'), ('curname', 'Congolese franc')]
[('name', 'Grand Duchy of Lithuania'), ('inc', '1236-01-01T00:00:00Z'), ('curname', 'złoty'), ('latest_pop', '3500000'), ('area', '200000')]
[('name', 'Kingdom of Sardinia'), ('inc', '1324-01-01T00:00:00Z'), ('curname', 'Piedmontese scudo'), ('latest_pop', '5167000'), ('area', '73810')]
[('name', 'Irish Free State'), ('inc', '1922-12-06T00:00:00Z'), ('curname', 'pound sterling')]
[('name', 'Denmark'), ('inc', '0800-01-01T00:00:00Z'), ('curname', 'Danish krone'), ('latest_pop', '5827463'), ('area', '42925.46')]
[('name', 'captaincy of Brazil'), ('inc', '1534-01-01T00:00:00Z'), ('curname', 'Portuguese real')]
[('name', 'Dominion of New Zealand'), ('inc', '1907-01-01T00:00:00Z'), ('curname', 'New Zealand pound')]
[('name', 'West Indies Federation'), ('inc', '1958-01-01T00:00:00Z'), ('curname', 'British West Indies dollar')]
[('name', 'Kingdom of Egypt'), ('inc', '1922-02-28T00:00:00Z'), ('curname', 'Egyptian pound'), ('area', '3418400')]
[('name', 'Romanov Empire'), ('inc', '2011-07-20T00:00:00Z'), ('curname', 'bitcoin')]
[('name', 'Kingdom of Georgia'), ('inc', '1008-01-01T00:00:00Z'), ('curname', 'Georgian lari'), ('latest_pop', '2500000')]
[('name', 'State of Malta'), ('inc', '1964-09-21T00:00:00Z'), ('curname', 'Maltese pound'), ('area', '316')]
[('name', 'Sunda Kingdom'), ('inc', '0669-01-01T00:00:00Z'), ('curname', 'silver coin')]
[('name', 'Mataram Sultanate'), ('inc', '1586-01-01T00:00:00Z'), ('curname', 'dinar')]
[('name', 'Kingdom of Serbia'), ('inc', '1882-01-01T00:00:00Z'), ('curname', 'Serbian dinar'), ('area', '92208')]
[('name', 'Ancient Carthage'), ('inc', '-813-01-01T00:00:00Z'), ('curname', 'Carthaginian currency'), ('latest_pop', '4300000')]
[('name', 'Kingdom of Hungary'), ('inc', '1920-02-29T00:00:00Z'), ('curname', 'Hungarian pengő')]
[('name', 'Sunda Kingdom'), ('inc', '0669-01-01T00:00:00Z'), ('curname', 'gold coin')]
[('name', 'Malaysia'), ('inc', '1957-01-01T00:00:00Z'), ('curname', 'Malaysian ringgit'), ('latest_pop', '31624264'), ('area', '330290')]
[('name', 'Russian Empire'), ('inc', '1721-11-02T00:00:00Z'), ('curname', 'rubles'), ('latest_pop', '181537800'), ('area', '21800251')]
[('name', 'South Kasai'), ('inc', '1960-01-01T00:00:00Z'), ('curname', 'Congolese franc'), ('latest_pop', '1000000'), ('area', '30000')]
[('name', 'Chagatai Khanate'), ('inc', '1225-01-01T00:00:00Z'), ('curname', 'coin'), ('area', '3500000')]
[('name', 'Empire of China'), ('inc', '1915-12-12T00:00:00Z'), ('curname', 'Chinese yuan')]
[('name', 'Taungoo Dynasty'), ('inc', '1485-01-01T00:00:00Z'), ('curname', 'kyat'), ('latest_pop', '3000000'), ('area', '750000')]
[('name', 'Duchy of Bremen and Verden'), ('inc', '1648-01-01T00:00:00Z'), ('curname', 'Reichsthaler')]
[('name', 'Wu'), ('inc', '-900-01-01T00:00:00Z'), ('curname', 'ancient Chinese coinage')]
[('name', 'Dominion of India'), ('inc', '1947-08-15T00:00:00Z'), ('curname', 'Indian rupee')]
[('name', 'Andorra'), ('inc', '1278-01-01T00:00:00Z'), ('curname', 'euro'), ('latest_pop', '78151'), ('area', '468')]
[('name', 'Kingdom of Prussia'), ('inc', '1701-01-18T00:00:00Z'), ('curname', 'Reichsthaler')]
[('name', 'Kingdom of the Lombards'), ('inc', '0568-01-01T00:00:00Z'), ('curname', 'Tremissis')]
[('name', 'Byzantine Empire'), ('inc', '0395-01-18T00:00:00Z'), ('curname', 'solidus'), ('latest_pop', '17000000')]
[('name', 'Kingdom of Sicily'), ('inc', '1848-03-25T00:00:00Z'), ('curname', 'Tornesel')]
[('name', 'Ottoman Empire'), ('inc', '1299-08-05T00:00:00Z'), ('curname', 'Akçe'), ('area', '5200000')]
[('name', 'Kingdom of Sardinia'), ('inc', '1720-01-01T00:00:00Z'), ('curname', 'Sardinian lira'), ('latest_pop', '5167000'), ('area', '73810')]
[('name', 'Zengid dynasty'), ('inc', '1127-01-01T00:00:00Z'), ('curname', 'dinar')]
[('name', 'Kingdom of Burundi'), ('inc', '1680-01-01T00:00:00Z'), ('curname', 'Rwanda and Burundi franc')]
[('name', 'Muscat and Oman'), ('inc', '1820-01-01T00:00:00Z'), ('curname', 'Gulf rupee')]
[('name', 'Captaincy General of the Philippines'), ('inc', '1565-05-17T00:00:00Z'), ('curname', 'spanish dollar')]
[('name', 'Roman Empire'), ('curname', 'denarius')]
[('name', 'Safavid Empire'), ('inc', '1501-01-01T00:00:00Z'), ('curname', 'Abbasi'), ('latest_pop', '20000000'), ('area', '2850000')]
[('name', 'Kingdom of Westphalia'), ('inc', '1807-01-01T00:00:00Z'), ('curname', 'Westphalian frank')]
[('name', 'Bahrain'), ('inc', '1971-08-14T00:00:00Z'), ('curname', 'Bahraini dinar'), ('latest_pop', '1492584'), ('area', '785.08')]
[('name', 'Bourbon Restoration'), ('inc', '1814-01-01T00:00:00Z'), ('curname', 'French franc')]
[('name', 'Carolingian Empire'), ('inc', '0768-01-01T00:00:00Z'), ('curname', 'Catalan peseta')]
[('name', 'British Solomon Islands'), ('inc', '1893-03-15T00:00:00Z'), ('curname', 'pound sterling'), ('latest_pop', '196823')]
[('name', 'Spain'), ('inc', '1479-01-01T00:00:00Z'), ('curname', 'euro'), ('latest_pop', '46733038'), ('area', '505990')]
[('name', 'Kingdom of Italy'), ('inc', '1861-03-17T00:00:00Z'), ('curname', 'Italian lira'), ('latest_pop', '42399000'), ('area', '310196')]
[('name', 'Kamakura shogunate'), ('inc', '1200-01-01T00:00:00Z'), ('curname', 'ryō')]
[('name', 'Province of North Carolina'), ('inc', '1712-01-24T00:00:00Z'), ('curname', 'North Carolina pound'), ('latest_pop', '197200')]
[('name', 'Taifa of Algeciras'), ('inc', '1035-01-01T00:00:00Z'), ('curname', 'dirham')]
[('name', 'Kingdom of Naples'), ('inc', '1282-04-06T00:00:00Z'), ('curname', 'Neapolitan piastra')]
[('name', 'Yugoslavia'), ('inc', '1918-12-01T00:00:00Z'), ('curname', 'Yugoslav dinar'), ('latest_pop', '23271000'), ('area', '255804')]
[('name', 'Chu'), ('inc', '-721-01-01T00:00:00Z'), ('curname', 'ancient Chinese coinage')]
[('name', 'Second French Empire'), ('inc', '1852-12-02T00:00:00Z'), ('curname', 'French franc')]
[('name', 'Egypt Eyalet'), ('inc', '1517-01-01T00:00:00Z'), ('curname', 'Egyptian piastre')]
[('name', 'Zayyanid Dynasty'), ('inc', '1236-01-01T00:00:00Z'), ('curname', 'dinar')]
[('name', 'Viceroyalty of New Spain'), ('inc', '1535-10-22T00:00:00Z'), ('curname', 'peso'), ('latest_pop', '20000000'), ('area', '7657000')]
[('name', 'Qing dynasty'), ('inc', '1636-01-01T00:00:00Z'), ('curname', 'Hubu Guanpiao'), ('latest_pop', '432000000'), ('area', '14700000')]
[('name', 'Qi'), ('inc', '-1044-01-01T00:00:00Z'), ('curname', 'Knife money')]
[('name', 'Kingdom of Württemberg'), ('inc', '1806-01-01T00:00:00Z'), ('curname', 'German Papiermark'), ('latest_pop', '2437574'), ('area', '19508')]
[('name', 'Thailand'), ('inc', '1238-01-01T00:00:00Z'), ('curname', 'baht'), ('latest_pop', '65931550'), ('area', '513119.5')]
[('name', 'Northern Ireland'), ('inc', '1921-05-08T00:00:00Z'), ('curname', 'pound sterling'), ('latest_pop', '1852168'), ('area', '14130')]
[('name', 'Norway'), ('inc', '1814-05-17T00:00:00Z'), ('curname', 'Norwegian krone'), ('latest_pop', '5391369'), ('area', '385207')]
[('name', "Kievan Rus'"), ('inc', '0860-01-01T00:00:00Z'), ('curname', 'nogata'), ('latest_pop', '5400000'), ('area', '1330000')]
[('name', 'Kingdom of Prussia'), ('inc', '1701-01-18T00:00:00Z'), ('curname', 'Prussian thaler')]
[('name', 'Dominion of Ceylon'), ('inc', '1948-02-04T00:00:00Z'), ('curname', 'Sri Lankan rupee')]
[('name', 'Almohad Caliphate'), ('inc', '1121-01-01T00:00:00Z'), ('curname', 'gold dinar')]
[('name', 'Monaco'), ('inc', '1297-01-15T00:00:00Z'), ('curname', 'euro'), ('latest_pop', '38695'), ('area', '2.02')]
[('name', 'Kingdom of Sardinia'), ('inc', '1720-01-01T00:00:00Z'), ('curname', 'Sardinian scudo'), ('latest_pop', '5167000'), ('area', '73810')]
[('name', 'Kingdom of Lombardy–Venetia'), ('inc', '1815-04-07T00:00:00Z'), ('curname', 'Austro-Hungarian gulden')]
[('name', 'Kingdom of France'), ('inc', '0987-01-01T00:00:00Z'), ('curname', 'livre tournois')]
[('name', 'Jamaica'), ('inc', '1962-01-01T00:00:00Z'), ('curname', 'Jamaican dollar'), ('latest_pop', '2890299'), ('area', '10991.90954')]
[('name', 'Ryukyu Kingdom'), ('inc', '1429-01-01T00:00:00Z'), ('curname', 'Ryūkyū tsūhō')]
[('name', 'Austrian Empire'), ('inc', '1804-08-11T00:00:00Z'), ('curname', 'thaler'), ('latest_pop', '21200000'), ('area', '698700')]
[('name', 'Karabakh Khanate'), ('inc', '1750-01-01T00:00:00Z'), ('curname', 'Abbasi'), ('area', '17000')]
[('name', 'Pasai'), ('inc', '1267-01-01T00:00:00Z'), ('curname', 'dirham')]
[('name', 'Qatar'), ('inc', '1870-01-01T00:00:00Z'), ('curname', 'Qatari riyal'), ('latest_pop', '2639211'), ('area', '11437')]
[('name', 'Luxembourg'), ('inc', '1815-01-01T00:00:00Z'), ('curname', 'euro'), ('latest_pop', '626108'), ('area', '2586.4')]
[('name', 'Dacia'), ('inc', '-059-01-01T00:00:00Z'), ('curname', 'Coson')]
[('name', 'Qing dynasty'), ('inc', '1636-01-01T00:00:00Z'), ('curname', 'Sycee'), ('latest_pop', '432000000'), ('area', '14700000')]
[('name', "Kievan Rus'"), ('inc', '0860-01-01T00:00:00Z'), ('curname', 'kuna'), ('latest_pop', '5400000'), ('area', '1330000')]
[('name', 'Kingdom of Burundi'), ('inc', '1680-01-01T00:00:00Z'), ('curname', 'Burundian franc')]
[('name', 'East Francia'), ('inc', '0843-01-01T00:00:00Z'), ('curname', 'Tremissis')]
[('name', 'Principality of Moldavia'), ('inc', '1346-01-01T00:00:00Z'), ('curname', 'thaler')]
[('name', 'Sallarid dynasty'), ('inc', '0941-01-01T00:00:00Z'), ('curname', 'dinar')]
[('name', 'Federation of Rhodesia and Nyasaland'), ('inc', '1953-01-01T00:00:00Z'), ('curname', 'Rhodesia and Nyasaland pound')]
[('name', 'Yue'), ('inc', '-1100-01-01T00:00:00Z'), ('curname', 'ancient Chinese coinage')]
[('name', 'Kingdom of Araucanía and Patagonia'), ('inc', '1860-11-17T00:00:00Z'), ('curname', 'peso')]
[('name', 'Joseon'), ('inc', '1392-08-13T00:00:00Z'), ('curname', 'Korean mun'), ('latest_pop', '13000000'), ('area', '220000')]
[('name', 'Oman'), ('inc', '1970-07-23T00:00:00Z'), ('curname', 'Omani rial'), ('latest_pop', '4829480'), ('area', '309500')]
[('name', 'Kingdom of Laos'), ('inc', '1947-01-01T00:00:00Z'), ('curname', 'Lao kip'), ('latest_pop', '3100000'), ('area', '236800')]
[('name', 'Southern Rhodesia'), ('inc', '1923-09-12T00:00:00Z'), ('curname', 'Southern Rhodesian pound')]
[('name', 'Croatia in personal union with Hungary'), ('inc', '1102-01-01T00:00:00Z'), ('curname', 'Frizatik')]
[('name', 'Islamic State of Iraq and the Levant'), ('inc', '2006-01-01T00:00:00Z'), ('curname', 'Islamic State Dinar')]
[('name', 'Kingdom of Sikkim'), ('inc', '1642-01-01T00:00:00Z'), ('curname', 'rupee')]
[('name', 'Kingdom of Funan'), ('inc', '0068-01-01T00:00:00Z'), ('curname', 'pearl')]
[('name', 'German Empire'), ('inc', '1871-01-01T00:00:00Z'), ('curname', 'German gold mark'), ('latest_pop', '67790000'), ('area', '540858')]
[('name', 'Kingdom of Hawaiʻi'), ('inc', '1795-01-01T00:00:00Z'), ('curname', 'United States dollar'), ('latest_pop', '1217000'), ('area', '28337')]
[('name', 'State of Brazil'), ('inc', '1621-06-13T00:00:00Z'), ('curname', 'Portuguese real')]
[('name', 'Great Britain'), ('inc', '1707-05-12T00:00:00Z'), ('curname', 'pound sterling'), ('latest_pop', '10500000'), ('area', '230977')]
[('name', 'Volga Bulgaria'), ('inc', '0601-01-01T00:00:00Z'), ('curname', 'dinar'), ('latest_pop', '2000000')]
[('name', 'Kingdom of Sicily'), ('inc', '1130-01-01T00:00:00Z'), ('curname', 'Sicilian piastra')]
[('name', 'Austria-Hungary'), ('inc', '1867-03-01T00:00:00Z'), ('curname', 'Austro-Hungarian gulden'), ('latest_pop', '52800000'), ('area', '622269.55')]
[('name', 'Tuvalu'), ('inc', '1978-01-01T00:00:00Z'), ('curname', 'Australian dollar'), ('latest_pop', '11192'), ('area', '26')]
[('name', 'Tibet'), ('inc', '1912-01-01T00:00:00Z'), ('curname', 'Tibetan tangka'), ('area', '1221600')]
[('name', 'Tang Empire'), ('inc', '0618-01-01T00:00:00Z'), ('curname', 'ancient Chinese coinage'), ('area', '5400000')]
[('name', 'Francoist Spain'), ('inc', '1939-04-01T00:00:00Z'), ('curname', 'peseta'), ('latest_pop', '35563535'), ('area', '504030')]
[('name', 'Kingdom of Croatia-Slavonia'), ('inc', '1868-01-01T00:00:00Z'), ('curname', 'Austro-Hungarian krone'), ('latest_pop', '2621954'), ('area', '42535.25')]
[('name', 'Volga Bulgaria'), ('inc', '0601-01-01T00:00:00Z'), ('curname', 'som'), ('latest_pop', '2000000')]
[('name', 'Cutch State'), ('inc', '1147-01-01T00:00:00Z'), ('curname', 'Kutch kori'), ('latest_pop', '488022'), ('area', '45630')]
[('name', 'Commonwealth realm of Guyana'), ('inc', '1966-05-26T00:00:00Z'), ('curname', 'Guyanese dollar')]
[('name', 'Austria-Hungary'), ('inc', '1867-03-01T00:00:00Z'), ('curname', 'Austro-Hungarian krone'), ('latest_pop', '52800000'), ('area', '676615')]
[('name', 'Duchy of Florence'), ('inc', '1532-01-01T00:00:00Z'), ('curname', 'florin')]
[('name', 'Khanate of Khiva'), ('inc', '1511-01-01T00:00:00Z'), ('curname', 'Khwarazmi tenga'), ('latest_pop', '800000')]
[('name', 'Kingdom of Nepal'), ('inc', '1768-09-25T00:00:00Z'), ('curname', 'Nepalese rupee')]
[('name', 'Kingdom of Hanover'), ('inc', '1814-10-12T00:00:00Z'), ('curname', 'Hanoverian thaler')]
[('name', 'Kingdom of Cambodia'), ('inc', '1953-11-09T00:00:00Z'), ('curname', 'riel')]
[('name', 'Dominion of Newfoundland'), ('inc', '1907-01-01T00:00:00Z'), ('curname', 'Newfoundland dollar')]
[('name', 'Kingdom of Saxony'), ('inc', '1806-01-01T00:00:00Z'), ('curname', 'Saxon thaler'), ('latest_pop', '4806661'), ('area', '14993')]
[('name', 'Mataram Sultanate'), ('inc', '1586-01-01T00:00:00Z'), ('curname', 'Netherlands Indies gulden')]
[('name', 'Safavid Empire'), ('inc', '1501-01-01T00:00:00Z'), ('curname', 'Iranian toman'), ('latest_pop', '20000000'), ('area', '2850000')]
[('name', 'Holy Roman Empire'), ('inc', '0962-01-01T00:00:00Z'), ('curname', 'ducat'), ('latest_pop', '26265000')]
[('name', 'Kingdom of Poland'), ('inc', '1916-01-01T00:00:00Z'), ('curname', 'Polish marka')]
[('name', 'Norway'), ('inc', '1905-06-07T00:00:00Z'), ('curname', 'Norwegian krone'), ('latest_pop', '5391369'), ('area', '385207')]
[('name', 'Principality of Bulgaria'), ('inc', '1878-03-03T00:00:00Z'), ('curname', 'Bulgarian lev')]
[('name', 'Liechtenstein'), ('inc', '1806-07-12T00:00:00Z'), ('curname', 'Swiss franc'), ('latest_pop', '37922'), ('area', '160')]
[('name', 'Archbishopric of Bremen'), ('inc', '1180-01-01T00:00:00Z'), ('curname', 'Reichsthaler')]
[('name', 'Kingdom of Sardinia'), ('inc', '1713-01-01T00:00:00Z'), ('curname', 'Sardinian scudo'), ('latest_pop', '5167000'), ('area', '73810')]
[('name', 'Ryukyu Kingdom'), ('inc', '1429-01-01T00:00:00Z'), ('curname', 'Sekō Tsūhō')]
[('name', 'British Solomon Islands'), ('inc', '1893-03-15T00:00:00Z'), ('curname', 'Solomon Islands pound'), ('latest_pop', '196823')]
[('name', 'Saskatchewan'), ('inc', '1905-01-01T00:00:00Z'), ('curname', 'Canadian dollar'), ('latest_pop', '1168057'), ('area', '651900')]
[('name', 'Ryukyu Kingdom'), ('inc', '1429-01-01T00:00:00Z'), ('curname', 'Taise Tsūhō')]
[('name', 'Irish Free State'), ('inc', '1922-12-06T00:00:00Z'), ('curname', 'Irish pound')]
[('name', 'Hyderabad State'), ('inc', '1724-01-01T00:00:00Z'), ('curname', 'Hyderabadi rupee')]
[('name', 'Russian Empire'), ('inc', '1721-11-02T00:00:00Z'), ('curname', 'gold rouble'), ('latest_pop', '181537800'), ('area', '21800251')]
[('name', 'Swedish Empire'), ('inc', '1611-01-01T00:00:00Z'), ('curname', 'Swedish riksdaler')]
[('name', 'Kingdom of Hawaiʻi'), ('inc', '1795-01-01T00:00:00Z'), ('curname', 'Hawaiian dollar'), ('latest_pop', '1217000'), ('area', '28337')]
[('name', 'Kingdom of France'), ('inc', '0987-01-01T00:00:00Z'), ('curname', 'Livre parisis')]
[('name', 'Bechuanaland Protectorate'), ('inc', '1885-01-01T00:00:00Z'), ('curname', 'South African rand')]
[('name', 'Malayan Union'), ('inc', '1946-01-01T00:00:00Z'), ('curname', 'Malayan dollar')]
[('name', 'Mongol Empire'), ('inc', '1206-01-01T00:00:00Z'), ('curname', 'Balysh'), ('latest_pop', '160000000'), ('area', '24000000')]
[('name', 'Kingdom of Lombardy–Venetia'), ('inc', '1815-04-07T00:00:00Z'), ('curname', 'Lombardy-Venetia pound')]
[('name', 'Kingdom of Powys'), ('inc', '0500-01-01T00:00:00Z'), ('curname', 'Ceiniog')]
[('name', 'Kuwait'), ('inc', '1991-02-26T00:00:00Z'), ('curname', 'Kuwaiti dinar'), ('latest_pop', '4600000'), ('area', '17818')]
[('name', 'United Arab Emirates'), ('inc', '1971-01-01T00:00:00Z'), ('curname', 'United Arab Emirates dirham'), ('latest_pop', '9890400'), ('area', '83600')]
[('name', 'Bhutan'), ('inc', '1949-08-08T00:00:00Z'), ('curname', 'ngultrum'), ('latest_pop', '807610'), ('area', '38394')]
[('name', 'Ottoman Empire'), ('inc', '1299-08-05T00:00:00Z'), ('curname', 'sultani'), ('area', '5200000')]
[('name', 'Crown of Castile'), ('inc', '1230-01-01T00:00:00Z'), ('curname', 'Spanish real'), ('area', '382000')]
[('name', 'Duchy of Milan'), ('inc', '1395-05-19T00:00:00Z'), ('curname', 'soldo')]
[('name', 'New France'), ('inc', '1534-01-01T00:00:00Z'), ('curname', 'French livre')]
[('name', 'Kingdom of Portugal'), ('inc', '1139-07-26T00:00:00Z'), ('curname', 'Portuguese dinheiro'), ('latest_pop', '5400000')]
[('name', 'Kingdom of Hungary'), ('inc', '1526-11-21T00:00:00Z'), ('curname', 'Austro-Hungarian gulden')]
[('name', 'Kingdom of Dalmatia'), ('inc', '1815-06-22T00:00:00Z'), ('curname', 'Austro-Hungarian gulden'), ('latest_pop', '645666'), ('area', '12831')]
[('name', 'Grand Duchy of Oldenburg'), ('inc', '1814-01-01T00:00:00Z'), ('curname', 'thaler')]
[('name', 'Union of South Africa'), ('inc', '1910-05-31T00:00:00Z'), ('curname', 'South African pound'), ('latest_pop', '18216000'), ('area', '2045320')]
[('name', 'Mongol Empire'), ('inc', '1206-01-01T00:00:00Z'), ('curname', 'Balysh'), ('latest_pop', '160000000'), ('area', '12000000')]
[('name', 'Saudi Arabia'), ('inc', '1727-01-01T00:00:00Z'), ('curname', 'Saudi riyal'), ('latest_pop', '33000000'), ('area', '2250000')]
[('name', 'Kingdom of Württemberg'), ('inc', '1806-01-01T00:00:00Z'), ('curname', 'German gold mark'), ('latest_pop', '2437574'), ('area', '19508')]
[('name', 'Solomon Islands'), ('inc', '1978-01-01T00:00:00Z'), ('curname', 'Solomon Islands dollar'), ('latest_pop', '611343'), ('area', '28400')]
[('name', 'Viceroyalty of New Spain'), ('inc', '1535-10-22T00:00:00Z'), ('curname', 'Spanish colonial real'), ('latest_pop', '20000000'), ('area', '7657000')]
[('name', 'Rhodesia'), ('inc', '1965-11-11T00:00:00Z'), ('curname', 'Rhodesian dollar'), ('latest_pop', '6930000'), ('area', '390580')]
[('name', 'Mongol Empire'), ('inc', '1206-01-01T00:00:00Z'), ('curname', 'Balysh'), ('latest_pop', '160000000'), ('area', '23500000')]

425

#### I see that there are a lot of repetitions as some monarchies have more inception dates, so i clean the results to get the oldest inception date and latest measurement of the population

In [24]:
queryString = """
SELECT DISTINCT ?name ?date ?latest_pop (GROUP_CONCAT(?curname;separator=",") as ?currencies)  WHERE { 

?mon wdt:P38 ?cur.
#OPTIONAL{?mon wdt:P2046 ?area.}

#Subquery to find the oldest inception date
{SELECT ?mon (MIN(?inc) AS ?date) WHERE {
        ?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
             wdt:P571 ?inc.
}GROUP BY ?mon
}

#Subquery to find the latest population
{SELECT ?mon2 (MAX(?pop) AS ?latest_pop) WHERE {
        ?mon2 (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
               wdt:P1082 ?pop.
}GROUP BY ?mon2
}

?mon <http://schema.org/name> ?name.
?cur <http://schema.org/name> ?curname.
FILTER(?mon=?mon2)
} 

"""

print("Results")
run_query(queryString)

Results
[('name', 'Bahrain'), ('date', '1971-08-14T00:00:00Z'), ('latest_pop', '1492584'), ('currencies', 'Bahraini dinar')]
[('name', 'United Kingdom of Great Britain and Ireland'), ('date', '1801-01-01T00:00:00Z'), ('latest_pop', '45370530'), ('currencies', 'pound sterling')]
[('name', 'Kingdom of Italy'), ('date', '1861-03-17T00:00:00Z'), ('latest_pop', '42399000'), ('currencies', 'Italian lira')]
[('name', 'Saint Vincent and the Grenadines'), ('date', '1979-01-01T00:00:00Z'), ('latest_pop', '109897'), ('currencies', 'Eastern Caribbean dollar')]
[('name', 'Malaysia'), ('date', '1957-01-01T00:00:00Z'), ('latest_pop', '31624264'), ('currencies', 'Malaysian ringgit')]
[('name', 'Saint Kitts and Nevis'), ('date', '1967-02-27T00:00:00Z'), ('latest_pop', '55345'), ('currencies', 'Eastern Caribbean dollar')]
[('name', 'Byzantine Empire'), ('date', '0395-01-18T00:00:00Z'), ('latest_pop', '17000000'), ('currencies', 'Byzantine coinage,ducat,solidus')]
[('name', 'Bogd Khanate'), ('date', '1911-12-01T00:00:00Z'), ('latest_pop', '542504'), ('currencies', 'rubles,tael,Mongolian dollar')]
[('name', 'Union of South Africa'), ('date', '1910-05-31T00:00:00Z'), ('latest_pop', '18216000'), ('currencies', 'South African rand,South African pound')]
[('name', 'Austro-Hungarian rule in Bosnia and Herzegovina'), ('date', '1878-01-01T00:00:00Z'), ('latest_pop', '1898044'), ('currencies', 'Austro-Hungarian krone')]
[('name', 'Taungoo Dynasty'), ('date', '1485-01-01T00:00:00Z'), ('latest_pop', '3000000'), ('currencies', 'kyat')]
[('name', 'Kingdom of England'), ('date', '0927-01-01T00:00:00Z'), ('latest_pop', '5750000'), ('currencies', 'pound sterling')]
[('name', 'Margraviate of Baden-Durlach'), ('date', '1515-01-01T00:00:00Z'), ('latest_pop', '90000'), ('currencies', 'guilder')]
[('name', 'Kingdom of Scotland'), ('date', '0843-01-01T00:00:00Z'), ('latest_pop', '1250000'), ('currencies', 'pound Scots')]
[('name', 'Colony of Natal'), ('date', '1843-01-01T00:00:00Z'), ('latest_pop', '1108754'), ('currencies', 'pound sterling')]
[('name', 'Austria-Hungary'), ('date', '1867-03-01T00:00:00Z'), ('latest_pop', '52800000'), ('currencies', 'Austro-Hungarian krone,Austro-Hungarian gulden')]
[('name', 'Kingdom of Libya'), ('date', '1951-12-24T00:00:00Z'), ('latest_pop', '1091830'), ('currencies', 'Libyan pound')]
[('name', 'Sultanate of Zanzibar'), ('date', '1856-10-19T00:00:00Z'), ('latest_pop', '300000'), ('currencies', 'East African shilling,Zanzibari rupee')]
[('name', 'Kingdom of Albania'), ('date', '1928-09-01T00:00:00Z'), ('latest_pop', '1003097'), ('currencies', 'Franga')]
[('name', 'Liechtenstein'), ('date', '1806-07-12T00:00:00Z'), ('latest_pop', '37922'), ('currencies', 'Swiss franc')]
[('name', 'Dominion of Fiji'), ('date', '1970-01-01T00:00:00Z'), ('latest_pop', '588068'), ('currencies', 'Fijian dollar')]
[('name', 'Francoist Spain'), ('date', '1939-04-01T00:00:00Z'), ('latest_pop', '35563535'), ('currencies', 'peseta')]
[('name', 'Umayyad Caliphate'), ('date', '0661-01-01T00:00:00Z'), ('latest_pop', '70000000'), ('currencies', 'Umayyad fals (currency unit),Umayyad dinar (currency unit),Umayyad dirham (currency unit)')]
[('name', 'Joseon'), ('date', '1392-08-13T00:00:00Z'), ('latest_pop', '13000000'), ('currencies', 'Korean mun')]
[('name', 'Kingdom of Georgia'), ('date', '1008-01-01T00:00:00Z'), ('latest_pop', '2500000'), ('currencies', 'Georgian lari')]
[('name', 'Northern Ireland'), ('date', '1921-05-08T00:00:00Z'), ('latest_pop', '1852168'), ('currencies', 'pound sterling')]
[('name', 'Kingdom of Sardinia'), ('date', '1324-01-01T00:00:00Z'), ('latest_pop', '5167000'), ('currencies', 'Sardinian lira,Piedmontese scudo,Sardinian scudo')]
[('name', 'Danish Realm'), ('date', '0800-01-01T00:00:00Z'), ('latest_pop', '5930987'), ('currencies', 'Danish krone,Faroese króna')]
[('name', 'Tuvalu'), ('date', '1978-01-01T00:00:00Z'), ('latest_pop', '11192'), ('currencies', 'Australian dollar,Tuvaluan dollar')]
[('name', 'Norway'), ('date', '0900-01-01T00:00:00Z'), ('latest_pop', '5391369'), ('currencies', 'Norwegian krone')]
[('name', 'Japan'), ('date', '1947-05-03T00:00:00Z'), ('latest_pop', '126434565'), ('currencies', 'Japanese yen')]
[('name', 'First Mexican Empire'), ('date', '1822-05-19T00:00:00Z'), ('latest_pop', '6500000'), ('currencies', 'Mexican real')]
[('name', 'Denmark'), ('date', '0800-01-01T00:00:00Z'), ('latest_pop', '5827463'), ('currencies', 'Danish krone')]
[('name', 'Kuwait'), ('date', '1991-02-26T00:00:00Z'), ('latest_pop', '4600000'), ('currencies', 'Kuwaiti dinar')]
[('name', 'Erivan Khanate'), ('date', '1736-01-01T00:00:00Z'), ('latest_pop', '110120'), ('currencies', 'Iranian toman,Qarapul')]
[('name', 'Tsardom of Russia'), ('date', '1547-01-01T00:00:00Z'), ('latest_pop', '14000000'), ('currencies', 'rubles')]
[('name', 'Kingdom of Serbs, Croats and Slovenes'), ('date', '1918-12-01T00:00:00Z'), ('latest_pop', '11984911'), ('currencies', 'Yugoslav dinar')]
[('name', 'Safavid Empire'), ('date', '1501-01-01T00:00:00Z'), ('latest_pop', '20000000'), ('currencies', 'Abbasi,dinar,Iranian toman')]
[('name', 'Canada'), ('date', '1867-07-01T00:00:00Z'), ('latest_pop', '37894799'), ('currencies', 'Canadian dollar')]
[('name', 'Duchy of Nassau'), ('date', '1806-01-01T00:00:00Z'), ('latest_pop', '465636'), ('currencies', 'Kronenthaler')]
[('name', 'Jamaica'), ('date', '1962-01-01T00:00:00Z'), ('latest_pop', '2890299'), ('currencies', 'Jamaican dollar')]
[('name', 'Netherlands Antilles'), ('date', '1954-12-15T00:00:00Z'), ('latest_pop', '197041'), ('currencies', 'Netherlands Antillean guilder')]
[('name', 'South Kasai'), ('date', '1960-01-01T00:00:00Z'), ('latest_pop', '1000000'), ('currencies', 'Congolese franc')]
[('name', 'Kingdom of Laos'), ('date', '1947-01-01T00:00:00Z'), ('latest_pop', '3100000'), ('currencies', 'Lao kip')]
[('name', "Kievan Rus'"), ('date', '0860-01-01T00:00:00Z'), ('latest_pop', '5400000'), ('currencies', 'nogata,Grivna,kuna')]
[('name', 'Goryeo'), ('date', '0918-01-01T00:00:00Z'), ('latest_pop', '2100000'), ('currencies', 'Korean mun')]
[('name', 'United Arab Emirates'), ('date', '1971-01-01T00:00:00Z'), ('latest_pop', '9890400'), ('currencies', 'United Arab Emirates dirham')]
[('name', 'Principality of Sealand'), ('date', '1967-09-02T00:00:00Z'), ('latest_pop', '27'), ('currencies', 'Coins and postage stamps of Sealand')]
[('name', 'Sultanate of Egypt'), ('date', '1914-12-19T00:00:00Z'), ('latest_pop', '12751000'), ('currencies', 'Egyptian pound')]
[('name', 'Spanish Empire'), ('date', '1492-01-01T00:00:00Z'), ('latest_pop', '60000000'), ('currencies', 'Spanish real,peseta,spanish dollar')]
[('name', 'Kingdom of Iraq'), ('date', '1921-01-01T00:00:00Z'), ('latest_pop', '6488000'), ('currencies', 'Iraqi dinar')]
[('name', 'Duchy of Courland and Semigallia'), ('date', '1561-01-01T00:00:00Z'), ('latest_pop', '200000'), ('currencies', 'thaler')]
[('name', 'Bhutan'), ('date', '1949-08-08T00:00:00Z'), ('latest_pop', '807610'), ('currencies', 'ngultrum')]
[('name', 'Province of North Carolina'), ('date', '1712-01-24T00:00:00Z'), ('latest_pop', '197200'), ('currencies', 'North Carolina pound')]
[('name', 'Luxembourg'), ('date', '1815-01-01T00:00:00Z'), ('latest_pop', '626108'), ('currencies', 'euro')]
[('name', 'Ancient Carthage'), ('date', '-813-01-01T00:00:00Z'), ('latest_pop', '4300000'), ('currencies', 'Carthaginian currency')]
[('name', 'Australia'), ('date', '1901-01-01T00:00:00Z'), ('latest_pop', '24511800'), ('currencies', 'Australian dollar')]
[('name', 'Spain'), ('date', '1479-01-01T00:00:00Z'), ('latest_pop', '46733038'), ('currencies', 'euro')]
[('name', 'Russian Empire'), ('date', '1721-11-02T00:00:00Z'), ('latest_pop', '181537800'), ('currencies', 'rubles,gold rouble')]
[('name', 'Kingdom of Saxony'), ('date', '1806-01-01T00:00:00Z'), ('latest_pop', '4806661'), ('currencies', 'Saxon thaler')]
[('name', 'Oman'), ('date', '1970-07-23T00:00:00Z'), ('latest_pop', '4829480'), ('currencies', 'Omani rial')]
[('name', 'Antigua and Barbuda'), ('date', '1981-11-01T00:00:00Z'), ('latest_pop', '102012'), ('currencies', 'Eastern Caribbean dollar')]
[('name', 'Rhodesia'), ('date', '1965-11-11T00:00:00Z'), ('latest_pop', '6930000'), ('currencies', 'Rhodesian pound,Rhodesian dollar')]
[('name', 'Principality of Montenegro'), ('date', '1852-01-01T00:00:00Z'), ('latest_pop', '317856'), ('currencies', 'Austro-Hungarian krone')]
[('name', 'Kingdom of Portugal'), ('date', '1139-07-26T00:00:00Z'), ('latest_pop', '5400000'), ('currencies', 'Portuguese dinheiro,Portuguese real')]
[('name', 'Barbados'), ('date', '1966-11-30T00:00:00Z'), ('latest_pop', '285719'), ('currencies', 'Barbadian dollar')]
[('name', 'United Kingdom'), ('date', '1927-04-12T00:00:00Z'), ('latest_pop', '66022273'), ('currencies', 'pound sterling')]
[('name', 'German Empire'), ('date', '1871-01-01T00:00:00Z'), ('latest_pop', '67790000'), ('currencies', 'German gold mark')]
[('name', 'Great Britain'), ('date', '1707-05-12T00:00:00Z'), ('latest_pop', '10500000'), ('currencies', 'pound sterling')]
[('name', 'British Solomon Islands'), ('date', '1893-03-15T00:00:00Z'), ('latest_pop', '196823'), ('currencies', 'Australian pound,Australian dollar,Solomon Islands dollar,pound sterling,Solomon Islands pound')]
[('name', 'Yugoslavia'), ('date', '1918-12-01T00:00:00Z'), ('latest_pop', '23271000'), ('currencies', 'Yugoslav dinar')]
[('name', 'Thailand'), ('date', '1238-01-01T00:00:00Z'), ('latest_pop', '65931550'), ('currencies', 'baht')]
[('name', 'Greenland'), ('date', '1979-01-01T00:00:00Z'), ('latest_pop', '56081'), ('currencies', 'Danish krone')]
[('name', 'Belgium'), ('date', '1830-10-04T00:00:00Z'), ('latest_pop', '11431406'), ('currencies', 'euro')]
[('name', 'Qing dynasty'), ('date', '1636-01-01T00:00:00Z'), ('latest_pop', '432000000'), ('currencies', 'Sycee,Hubu Guanpiao,tael,Dà Qīng Bǎo Chāo')]
[('name', 'Volga Bulgaria'), ('date', '0601-01-01T00:00:00Z'), ('latest_pop', '2000000'), ('currencies', 'dinar,som')]
[('name', 'Emirate of Afghanistan'), ('date', '1823-01-01T00:00:00Z'), ('latest_pop', '5000000'), ('currencies', 'Afghan afghani,Afghan rupee')]
[('name', 'Belize'), ('date', '1981-09-21T00:00:00Z'), ('latest_pop', '374681'), ('currencies', 'Belize dollar')]
[('name', 'Papua New Guinea'), ('date', '1975-01-01T00:00:00Z'), ('latest_pop', '8935000'), ('currencies', 'kina')]
[('name', 'Qatar'), ('date', '1870-01-01T00:00:00Z'), ('latest_pop', '2639211'), ('currencies', 'Qatari riyal')]
[('name', 'British Empire'), ('date', '1583-01-01T00:00:00Z'), ('latest_pop', '680000000'), ('currencies', 'pound sterling')]
[('name', 'Central African Empire'), ('date', '1976-12-04T00:00:00Z'), ('latest_pop', '3000000'), ('currencies', 'Central African CFA franc')]
[('name', 'Kingdom of Bavaria'), ('date', '1806-01-01T00:00:00Z'), ('latest_pop', '3231570'), ('currencies', 'Bavarian gulden')]
[('name', 'Vatican City'), ('date', '1929-02-11T00:00:00Z'), ('latest_pop', '1000'), ('currencies', 'euro')]
[('name', 'Sweden'), ('date', '0700-01-01T00:00:00Z'), ('latest_pop', '10409248'), ('currencies', 'Swedish krona')]
[('name', 'Grenada'), ('date', '1974-01-01T00:00:00Z'), ('latest_pop', '107825'), ('currencies', 'Eastern Caribbean dollar')]
[('name', 'Lesotho'), ('date', '1966-01-01T00:00:00Z'), ('latest_pop', '2233339'), ('currencies', 'South African rand,Lesotho loti')]
[('name', 'Cutch State'), ('date', '1147-01-01T00:00:00Z'), ('latest_pop', '488022'), ('currencies', 'Kutch kori')]
[('name', 'Cambodia'), ('date', '1953-11-09T00:00:00Z'), ('latest_pop', '16005373'), ('currencies', 'riel')]
[('name', 'Saudi Arabia'), ('date', '1727-01-01T00:00:00Z'), ('latest_pop', '33000000'), ('currencies', 'Saudi riyal')]
[('name', 'Kingdom of Hejaz'), ('date', '1916-06-10T00:00:00Z'), ('latest_pop', '850000'), ('currencies', 'Hejaz riyal')]
[('name', 'Jordan'), ('date', '1946-01-01T00:00:00Z'), ('latest_pop', '10428241'), ('currencies', 'Jordanian dinar')]
[('name', 'Andorra'), ('date', '1278-01-01T00:00:00Z'), ('latest_pop', '78151'), ('currencies', 'euro')]
[('name', 'Saint Lucia'), ('date', '1967-03-01T00:00:00Z'), ('latest_pop', '178844'), ('currencies', 'Eastern Caribbean dollar')]
[('name', 'Parthian Empire'), ('date', '-246-01-01T00:00:00Z'), ('latest_pop', '20000000'), ('currencies', 'Parthian coins')]
[('name', 'Khanate of Khiva'), ('date', '1511-01-01T00:00:00Z'), ('latest_pop', '800000'), ('currencies', 'Khwarazmi tenga')]
[('name', 'Holy Roman Empire'), ('date', '0962-01-01T00:00:00Z'), ('latest_pop', '26265000'), ('currencies', 'ducat')]
[('name', 'Kingdom of Montenegro'), ('date', '1910-01-01T00:00:00Z'), ('latest_pop', '500000'), ('currencies', 'Montenegrin perper')]
[('name', 'Morocco'), ('date', '-399-01-01T00:00:00Z'), ('latest_pop', '36029138'), ('currencies', 'Moroccan dirham')]
[('name', 'Jersey'), ('date', '1651-12-12T00:00:00Z'), ('latest_pop', '105500'), ('currencies', 'pound sterling,Jersey pound')]
[('name', 'July Monarchy'), ('date', '1830-01-01T00:00:00Z'), ('latest_pop', '34689000'), ('currencies', 'French franc')]
[('name', 'Mughal Empire'), ('date', '1526-01-01T00:00:00Z'), ('latest_pop', '150000000'), ('currencies', 'rupee')]
[('name', 'Kingdom of Dalmatia'), ('date', '1815-06-22T00:00:00Z'), ('latest_pop', '645666'), ('currencies', 'Austro-Hungarian gulden')]
[('name', 'Kingdom of the Netherlands'), ('date', '1815-03-16T00:00:00Z'), ('latest_pop', '17100715'), ('currencies', 'euro')]
[('name', 'Kingdom of Croatia-Slavonia'), ('date', '1868-01-01T00:00:00Z'), ('latest_pop', '2621954'), ('currencies', 'Austro-Hungarian krone,Austro-Hungarian gulden')]
[('name', 'Austrian Empire'), ('date', '1804-08-11T00:00:00Z'), ('latest_pop', '21200000'), ('currencies', 'thaler')]
[('name', 'Eastern Rumelia'), ('date', '1878-01-01T00:00:00Z'), ('latest_pop', '975030'), ('currencies', 'Ottoman lira')]
[('name', 'Javad khanate'), ('date', '1747-01-01T00:00:00Z'), ('latest_pop', '9000'), ('currencies', 'Abbasi')]
[('name', 'Netherlands'), ('date', '1954-12-15T00:00:00Z'), ('latest_pop', '17282163'), ('currencies', 'euro')]
[('name', 'Monaco'), ('date', '1297-01-15T00:00:00Z'), ('latest_pop', '38695'), ('currencies', 'euro')]
[('name', 'Grand Duchy of Lithuania'), ('date', '1236-01-01T00:00:00Z'), ('latest_pop', '3500000'), ('currencies', 'złoty,groschen,Lithuanian long currency')]
[('name', 'Viceroyalty of New Spain'), ('date', '1535-10-22T00:00:00Z'), ('latest_pop', '20000000'), ('currencies', 'peso,Spanish colonial real')]
[('name', 'The Bahamas'), ('date', '1973-01-01T00:00:00Z'), ('latest_pop', '395361'), ('currencies', 'Bahamian dollar')]
[('name', 'Achaemenid Empire'), ('date', '-549-01-01T00:00:00Z'), ('latest_pop', '35000000'), ('currencies', 'siglos,Persian daric')]
[('name', 'Mongol Empire'), ('date', '1206-01-01T00:00:00Z'), ('latest_pop', '160000000'), ('currencies', 'Balysh')]
[('name', 'New Zealand'), ('date', '1907-09-26T00:00:00Z'), ('latest_pop', '5112300'), ('currencies', 'New Zealand dollar')]
[('name', 'Empire of Japan'), ('date', '1868-01-03T00:00:00Z'), ('latest_pop', '97770000'), ('currencies', 'Japanese yen')]
[('name', 'Saskatchewan'), ('date', '1905-01-01T00:00:00Z'), ('latest_pop', '1168057'), ('currencies', 'Canadian dollar')]
[('name', 'Kingdom of Bulgaria'), ('date', '1908-01-01T00:00:00Z'), ('latest_pop', '7029349'), ('currencies', 'Bulgarian lev')]
[('name', 'Kingdom of Württemberg'), ('date', '1806-01-01T00:00:00Z'), ('latest_pop', '2437574'), ('currencies', 'German gold mark,Württemberg gulden,German Papiermark')]
[('name', 'Brunei'), ('date', '1984-01-01T00:00:00Z'), ('latest_pop', '428697'), ('currencies', 'Brunei dollar')]
[('name', 'Solomon Islands'), ('date', '1978-01-01T00:00:00Z'), ('latest_pop', '611343'), ('currencies', 'Solomon Islands dollar')]
[('name', 'Eswatini'), ('date', '1968-09-06T00:00:00Z'), ('latest_pop', '1124753'), ('currencies', 'lilangeni')]
[('name', 'Kingdom of Hawaiʻi'), ('date', '1795-01-01T00:00:00Z'), ('latest_pop', '1217000'), ('currencies', 'United States dollar,Hawaiian dollar')]

124

#### I find for each monarchy inception(wdt:P571), population(wdt:P1082) and area(wdt:P2046)

In [29]:
queryString = """
SELECT DISTINCT ?name ?inception ?latest_pop ?area WHERE { 

#Subquery to find the oldest inception date
{SELECT ?mon (MIN(?inc) AS ?inception) WHERE {
        ?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
             wdt:P571 ?inc.
}GROUP BY ?mon
}

#Subquery to find the latest population
{SELECT ?mon2 (MAX(?pop) AS ?latest_pop) WHERE {
        ?mon2 (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
               wdt:P1082 ?pop.
}GROUP BY ?mon2
}

#Subquery to find the maximum area
{SELECT ?mon3 (MAX(?a) AS ?area) WHERE {
        ?mon3 (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
               wdt:P2046 ?a.
}GROUP BY ?mon3
}

?mon <http://schema.org/name> ?name.
FILTER(?mon=?mon2 && ?mon2=?mon3)
} 

"""

print("Results")
run_query(queryString)

Results
[('name', 'Kingdom of the Netherlands'), ('inception', '1815-03-16T00:00:00Z'), ('latest_pop', '17100715'), ('area', '42201')]
[('name', 'Austro-Hungarian rule in Bosnia and Herzegovina'), ('inception', '1878-01-01T00:00:00Z'), ('latest_pop', '1898044'), ('area', '51082')]
[('name', 'Kingdom of Libya'), ('inception', '1951-12-24T00:00:00Z'), ('latest_pop', '1091830'), ('area', '1759530')]
[('name', 'Principality of Sealand'), ('inception', '1967-09-02T00:00:00Z'), ('latest_pop', '27'), ('area', '0.004')]
[('name', 'Saskatchewan'), ('inception', '1905-01-01T00:00:00Z'), ('latest_pop', '1168057'), ('area', '651900')]
[('name', 'Emirate of Ras Al Khaimah'), ('inception', '1869-01-01T00:00:00Z'), ('latest_pop', '241000'), ('area', '1684')]
[('name', 'Austria-Hungary'), ('inception', '1867-03-01T00:00:00Z'), ('latest_pop', '52800000'), ('area', '676615')]
[('name', 'First Toungoo Empire'), ('inception', '1510-10-26T00:00:00Z'), ('latest_pop', '6000000'), ('area', '1550000')]
[('name', 'Belize'), ('inception', '1981-09-21T00:00:00Z'), ('latest_pop', '374681'), ('area', '22966')]
[('name', 'Schaumburg-Lippe'), ('inception', '1643-01-01T00:00:00Z'), ('latest_pop', '43132'), ('area', '340.2')]
[('name', 'Bijawar State'), ('inception', '1765-01-01T00:00:00Z'), ('latest_pop', '110500'), ('area', '2520')]
[('name', 'Waldeck'), ('inception', '1180-01-01T00:00:00Z'), ('latest_pop', '59000'), ('area', '1121')]
[('name', 'Banswara State'), ('inception', '1497-01-01T00:00:00Z'), ('latest_pop', '165350'), ('area', '4160')]
[('name', 'Principality of Montenegro'), ('inception', '1852-01-01T00:00:00Z'), ('latest_pop', '317856'), ('area', '5.4759')]
[('name', 'Rajpipla State'), ('inception', '1340-01-01T00:00:00Z'), ('latest_pop', '249032'), ('area', '3929')]
[('name', 'Duchy of Courland and Semigallia'), ('inception', '1561-01-01T00:00:00Z'), ('latest_pop', '200000'), ('area', '32000')]
[('name', 'Kingdom of Dalmatia'), ('inception', '1815-06-22T00:00:00Z'), ('latest_pop', '645666'), ('area', '12831')]
[('name', 'Polish–Lithuanian Commonwealth'), ('inception', '1569-06-21T00:00:00Z'), ('latest_pop', '12300000'), ('area', '878000')]
[('name', 'Malaysia'), ('inception', '1957-01-01T00:00:00Z'), ('latest_pop', '31624264'), ('area', '330290')]
[('name', 'Tenochtitlan'), ('inception', '1325-03-21T00:00:00Z'), ('latest_pop', '212500'), ('area', '1350')]
[('name', 'Spain'), ('inception', '1479-01-01T00:00:00Z'), ('latest_pop', '46733038'), ('area', '505990')]
[('name', 'Jersey'), ('inception', '1651-12-12T00:00:00Z'), ('latest_pop', '105500'), ('area', '118.2')]
[('name', 'Jordan'), ('inception', '1946-01-01T00:00:00Z'), ('latest_pop', '10428241'), ('area', '89341')]
[('name', 'Sweden'), ('inception', '0700-01-01T00:00:00Z'), ('latest_pop', '10409248'), ('area', '528861.06')]
[('name', 'Kingdom of Croatia-Slavonia'), ('inception', '1868-01-01T00:00:00Z'), ('latest_pop', '2621954'), ('area', '42535.25')]
[('name', 'Duchy of Anhalt'), ('inception', '1863-01-01T00:00:00Z'), ('latest_pop', '351045'), ('area', '2.299')]
[('name', 'Safavid Empire'), ('inception', '1501-01-01T00:00:00Z'), ('latest_pop', '20000000'), ('area', '2850000')]
[('name', 'Grand Duchy of Lithuania'), ('inception', '1236-01-01T00:00:00Z'), ('latest_pop', '3500000'), ('area', '930000')]
[('name', 'Kingdom of Bavaria'), ('inception', '1806-01-01T00:00:00Z'), ('latest_pop', '3231570'), ('area', '1636.5')]
[('name', 'Western Xia'), ('inception', '1038-01-01T00:00:00Z'), ('latest_pop', '3000000'), ('area', '1000000')]
[('name', 'Grand Duchy of Hesse'), ('inception', '1806-01-01T00:00:00Z'), ('latest_pop', '1282051'), ('area', '7688.3')]
[('name', 'Oman'), ('inception', '1970-07-23T00:00:00Z'), ('latest_pop', '4829480'), ('area', '309500')]
[('name', 'Grand Duchy of Berg'), ('inception', '1806-01-01T00:00:00Z'), ('latest_pop', '878157'), ('area', '17500')]
[('name', 'Benares State'), ('inception', '1770-01-01T00:00:00Z'), ('latest_pop', '115773'), ('area', '2266')]
[('name', 'Bahrain'), ('inception', '1971-08-14T00:00:00Z'), ('latest_pop', '1492584'), ('area', '785.08')]
[('name', 'Mughal Empire'), ('inception', '1526-01-01T00:00:00Z'), ('latest_pop', '150000000'), ('area', '4000000')]
[('name', 'Duchy of Brunswick'), ('inception', '1815-01-01T00:00:00Z'), ('latest_pop', '494339'), ('area', '3690')]
[('name', 'Schwarzburg-Sondershausen'), ('inception', '1599-01-01T00:00:00Z'), ('latest_pop', '89917'), ('area', '862')]
[('name', 'South Kasai'), ('inception', '1960-01-01T00:00:00Z'), ('latest_pop', '1000000'), ('area', '30000')]
[('name', 'Greenland'), ('inception', '1979-01-01T00:00:00Z'), ('latest_pop', '56081'), ('area', '2166086')]
[('name', 'Jhalawar State'), ('inception', '1838-01-01T00:00:00Z'), ('latest_pop', '90175'), ('area', '2106')]
[('name', 'Tuvalu'), ('inception', '1978-01-01T00:00:00Z'), ('latest_pop', '11192'), ('area', '26')]
[('name', 'Thailand'), ('inception', '1238-01-01T00:00:00Z'), ('latest_pop', '65931550'), ('area', '513119.5')]
[('name', 'Taungoo Dynasty'), ('inception', '1485-01-01T00:00:00Z'), ('latest_pop', '3000000'), ('area', '750000')]
[('name', 'Tsardom of Russia'), ('inception', '1547-01-01T00:00:00Z'), ('latest_pop', '14000000'), ('area', '14500000')]
[('name', 'Principality of Reuss-Gera'), ('inception', '1806-01-01T00:00:00Z'), ('latest_pop', '144600'), ('area', '827')]
[('name', 'New Zealand'), ('inception', '1907-09-26T00:00:00Z'), ('latest_pop', '5112300'), ('area', '268021')]
[('name', 'Lippe'), ('inception', '1123-01-01T00:00:00Z'), ('latest_pop', '138952'), ('area', '1222')]
[('name', 'Russian Empire'), ('inception', '1721-11-02T00:00:00Z'), ('latest_pop', '181537800'), ('area', '21800251')]
[('name', 'Bhutan'), ('inception', '1949-08-08T00:00:00Z'), ('latest_pop', '807610'), ('area', '38394')]
[('name', 'Junagadh State'), ('inception', '1748-01-01T00:00:00Z'), ('latest_pop', '465493'), ('area', '8643')]
[('name', 'Jind State'), ('inception', '1763-01-01T00:00:00Z'), ('latest_pop', '324676'), ('area', '3460')]
[('name', 'Roman Catholic Archdiocese of Riga'), ('inception', '1918-01-01T00:00:00Z'), ('latest_pop', '1201975'), ('area', '23587')]
[('name', 'Danish Realm'), ('inception', '0800-01-01T00:00:00Z'), ('latest_pop', '5930987'), ('area', '2220930')]
[('name', 'Barbados'), ('inception', '1966-11-30T00:00:00Z'), ('latest_pop', '285719'), ('area', '439')]
[('name', 'Hesse-Homburg'), ('inception', '1622-01-01T00:00:00Z'), ('latest_pop', '27563'), ('area', '221')]
[('name', 'Javad khanate'), ('inception', '1747-01-01T00:00:00Z'), ('latest_pop', '9000'), ('area', '4.956')]
[('name', 'Brunei'), ('inception', '1984-01-01T00:00:00Z'), ('latest_pop', '428697'), ('area', '5765.313533')]
[('name', 'Sirohi State'), ('inception', '1405-01-01T00:00:00Z'), ('latest_pop', '216528'), ('area', '5164')]
[('name', 'Sikh Empire'), ('inception', '1733-01-01T00:00:00Z'), ('latest_pop', '1500000'), ('area', '491.464')]
[('name', 'Faridkot State'), ('inception', '1803-01-01T00:00:00Z'), ('latest_pop', '97034'), ('area', '1652')]
[('name', 'Sultanate of Egypt'), ('inception', '1914-12-19T00:00:00Z'), ('latest_pop', '12751000'), ('area', '3418400')]
[('name', 'Solomon Islands'), ('inception', '1978-01-01T00:00:00Z'), ('latest_pop', '611343'), ('area', '28400')]
[('name', 'Sultanate of Zanzibar'), ('inception', '1856-10-19T00:00:00Z'), ('latest_pop', '300000'), ('area', '1651')]
[('name', 'Grand Duchy of Mecklenburg-Strelitz'), ('inception', '1815-01-01T00:00:00Z'), ('latest_pop', '102602'), ('area', '2929')]
[('name', 'Tarascan State'), ('inception', '1300-01-01T00:00:00Z'), ('latest_pop', '1500000'), ('area', '75000')]
[('name', 'Sasanian Empire'), ('inception', '0226-01-01T00:00:00Z'), ('latest_pop', '40000000'), ('area', '3500000')]
[('name', 'Kingdom of Italy'), ('inception', '1861-03-17T00:00:00Z'), ('latest_pop', '42399000'), ('area', '310196')]
[('name', 'Morocco'), ('inception', '-399-01-01T00:00:00Z'), ('latest_pop', '36029138'), ('area', '710850')]
[('name', 'Francoist Spain'), ('inception', '1939-04-01T00:00:00Z'), ('latest_pop', '35563535'), ('area', '504030')]
[('name', 'The Bahamas'), ('inception', '1973-01-01T00:00:00Z'), ('latest_pop', '395361'), ('area', '13878')]
[('name', 'Kingdom of Iceland'), ('inception', '1918-12-01T00:00:00Z'), ('latest_pop', '127791'), ('area', '103000')]
[('name', 'Qatar'), ('inception', '1870-01-01T00:00:00Z'), ('latest_pop', '2639211'), ('area', '11437')]
[('name', 'Kingdom of Iraq'), ('inception', '1921-01-01T00:00:00Z'), ('latest_pop', '6488000'), ('area', '4370722')]
[('name', 'Union of South Africa'), ('inception', '1910-05-31T00:00:00Z'), ('latest_pop', '18216000'), ('area', '2045320')]
[('name', 'New South Wales'), ('inception', '1788-01-01T00:00:00Z'), ('latest_pop', '7480228'), ('area', '801150')]
[('name', 'Norway'), ('inception', '0900-01-01T00:00:00Z'), ('latest_pop', '5391369'), ('area', '385207')]
[('name', 'Tabasaran Principality'), ('inception', '0901-01-01T00:00:00Z'), ('latest_pop', '10000'), ('area', '1500')]
[('name', 'Goryeo'), ('inception', '0918-01-01T00:00:00Z'), ('latest_pop', '2100000'), ('area', '220750')]
[('name', 'Han dynasty'), ('inception', '-205-01-01T00:00:00Z'), ('latest_pop', '59594978'), ('area', '6000000')]
[('name', 'Lesotho'), ('inception', '1966-01-01T00:00:00Z'), ('latest_pop', '2233339'), ('area', '30355')]
[('name', 'Denmark'), ('inception', '0800-01-01T00:00:00Z'), ('latest_pop', '5827463'), ('area', '42925.46')]
[('name', 'Tripura'), ('inception', '1809-01-01T00:00:00Z'), ('latest_pop', '513000'), ('area', '10660')]
[('name', 'Mongol Empire'), ('inception', '1206-01-01T00:00:00Z'), ('latest_pop', '160000000'), ('area', '24000000')]
[('name', 'United Kingdom of Great Britain and Ireland'), ('inception', '1801-01-01T00:00:00Z'), ('latest_pop', '45370530'), ('area', '315093')]
[('name', 'Bhavnagar State'), ('inception', '1723-01-01T00:00:00Z'), ('latest_pop', '464671'), ('area', '7669')]
[('name', 'Barwani State'), ('inception', '0836-01-01T00:00:00Z'), ('latest_pop', '176666'), ('area', '3051.02')]
[('name', 'Alwar State'), ('inception', '1770-01-01T00:00:00Z'), ('latest_pop', '682926'), ('area', '8547')]
[('name', 'Kingdom of the Two Sicilies'), ('inception', '1738-01-01T00:00:00Z'), ('latest_pop', '8703000'), ('area', '111900')]
[('name', 'Vatican City'), ('inception', '1929-02-11T00:00:00Z'), ('latest_pop', '1000'), ('area', '0.440297')]
[('name', 'Andorra'), ('inception', '1278-01-01T00:00:00Z'), ('latest_pop', '78151'), ('area', '468')]
[('name', 'Kingdom of Laos'), ('inception', '1947-01-01T00:00:00Z'), ('latest_pop', '3100000'), ('area', '236800')]
[('name', 'Duchy of Warsaw'), ('inception', '1807-01-01T00:00:00Z'), ('latest_pop', '4300000'), ('area', '155000')]
[('name', 'United Arab Emirates'), ('inception', '1971-01-01T00:00:00Z'), ('latest_pop', '9890400'), ('area', '83600')]
[('name', 'South Australia'), ('inception', '1836-12-28T00:00:00Z'), ('latest_pop', '1676653'), ('area', '984321')]
[('name', 'Prussia'), ('inception', '1525-01-01T00:00:00Z'), ('latest_pop', '41915040'), ('area', '297007')]
[('name', 'Grand Duchy of Mecklenburg-Schwerin'), ('inception', '1815-01-01T00:00:00Z'), ('latest_pop', '607770'), ('area', '13161')]
[('name', 'Japan'), ('inception', '1947-05-03T00:00:00Z'), ('latest_pop', '126434565'), ('area', '377972.28')]
[('name', 'Seleucid Empire'), ('inception', '-311-01-01T00:00:00Z'), ('latest_pop', '35000000'), ('area', '4000000')]
[('name', 'Liechtenstein'), ('inception', '1806-07-12T00:00:00Z'), ('latest_pop', '37922'), ('area', '160')]
[('name', 'Central African Empire'), ('inception', '1976-12-04T00:00:00Z'), ('latest_pop', '3000000'), ('area', '622984')]
[('name', 'Joseon'), ('inception', '1392-08-13T00:00:00Z'), ('latest_pop', '13000000'), ('area', '220000')]
[('name', 'Janjira State'), ('inception', '1489-01-01T00:00:00Z'), ('latest_pop', '110389'), ('area', '839')]
[('name', 'Schwarzburg-Rudolstadt'), ('inception', '1599-01-01T00:00:00Z'), ('latest_pop', '93000'), ('area', '940.7')]
[('name', 'Luxembourg'), ('inception', '1815-01-01T00:00:00Z'), ('latest_pop', '626108'), ('area', '2586.4')]
[('name', 'Kingdom of Württemberg'), ('inception', '1806-01-01T00:00:00Z'), ('latest_pop', '2437574'), ('area', '19508')]
[('name', 'United Kingdom'), ('inception', '1927-04-12T00:00:00Z'), ('latest_pop', '66022273'), ('area', '242495.406794')]
[('name', 'Roman Catholic Diocese of Metz'), ('inception', '0201-01-01T00:00:00Z'), ('latest_pop', '1046873'), ('area', '6226')]
[('name', 'Porbandar State'), ('inception', '1193-01-01T00:00:00Z'), ('latest_pop', '115673'), ('area', '1647')]
[('name', 'Kuwait'), ('inception', '1991-02-26T00:00:00Z'), ('latest_pop', '4600000'), ('area', '17818')]
[('name', 'Pratapgarh State'), ('inception', '1775-01-01T00:00:00Z'), ('latest_pop', '52025'), ('area', '2303')]
[('name', 'Emirate of Fujairah'), ('inception', '1953-01-01T00:00:00Z'), ('latest_pop', '256256'), ('area', '1165')]
[('name', 'Umayyad Caliphate'), ('inception', '0661-01-01T00:00:00Z'), ('latest_pop', '70000000'), ('area', '6000000')]
[('name', 'Yugoslavia'), ('inception', '1918-12-01T00:00:00Z'), ('latest_pop', '23271000'), ('area', '255804')]
[('name', 'Kingdom of Bulgaria'), ('inception', '1908-01-01T00:00:00Z'), ('latest_pop', '7029349'), ('area', '153459.6')]
[('name', 'Belgium'), ('inception', '1830-10-04T00:00:00Z'), ('latest_pop', '11431406'), ('area', '30528')]
[('name', 'Grenada'), ('inception', '1974-01-01T00:00:00Z'), ('latest_pop', '107825'), ('area', '348.5')]
[('name', 'First Mexican Empire'), ('inception', '1822-05-19T00:00:00Z'), ('latest_pop', '6500000'), ('area', '4925283')]
[('name', 'Principality of Reuss-Greiz'), ('inception', '1778-01-01T00:00:00Z'), ('latest_pop', '70590'), ('area', '317')]
[('name', 'Spanish Empire'), ('inception', '1492-01-01T00:00:00Z'), ('latest_pop', '60000000'), ('area', '20000000')]
[('name', 'Netherlands'), ('inception', '1954-12-15T00:00:00Z'), ('latest_pop', '17282163'), ('area', '41543')]
[('name', 'Saudi Arabia'), ('inception', '1727-01-01T00:00:00Z'), ('latest_pop', '33000000'), ('area', '2250000')]
[('name', 'Erivan Khanate'), ('inception', '1736-01-01T00:00:00Z'), ('latest_pop', '110120'), ('area', '19400')]
[('name', 'Kingdom of Scotland'), ('inception', '0843-01-01T00:00:00Z'), ('latest_pop', '1250000'), ('area', '78782')]
[('name', 'Roman Catholic Diocese of Bolzano-Brixen'), ('inception', '0600-01-01T00:00:00Z'), ('latest_pop', '525092'), ('area', '7400')]
[('name', 'Aerican Empire'), ('inception', '1987-05-08T00:00:00Z'), ('latest_pop', '181'), ('area', '90000000000')]
[('name', 'Netherlands Antilles'), ('inception', '1954-12-15T00:00:00Z'), ('latest_pop', '197041'), ('area', '800')]
[('name', 'Great Britain'), ('inception', '1707-05-12T00:00:00Z'), ('latest_pop', '10500000'), ('area', '230977')]
[('name', 'Ratlam State'), ('inception', '1652-01-01T00:00:00Z'), ('latest_pop', '83773'), ('area', '2336')]
[('name', 'Prince-Bishopric of Paderborn'), ('inception', '1281-01-01T00:00:00Z'), ('latest_pop', '96000'), ('area', '1700')]
[('name', 'Achaemenid Empire'), ('inception', '-549-01-01T00:00:00Z'), ('latest_pop', '35000000'), ('area', '5500000')]
[('name', 'Kingdom of Hawaiʻi'), ('inception', '1795-01-01T00:00:00Z'), ('latest_pop', '1217000'), ('area', '28337')]
[('name', 'Cambodia'), ('inception', '1953-11-09T00:00:00Z'), ('latest_pop', '16005373'), ('area', '181035')]
[('name', 'Antigua and Barbuda'), ('inception', '1981-11-01T00:00:00Z'), ('latest_pop', '102012'), ('area', '440.29')]
[('name', 'Ashanti kingdom'), ('inception', '1670-01-01T00:00:00Z'), ('latest_pop', '3000000'), ('area', '259000')]
[('name', 'Austrian Empire'), ('inception', '1804-08-11T00:00:00Z'), ('latest_pop', '21200000'), ('area', '698700')]
[('name', 'Saint Kitts and Nevis'), ('inception', '1967-02-27T00:00:00Z'), ('latest_pop', '55345'), ('area', '269.358763')]
[('name', 'Jamaica'), ('inception', '1962-01-01T00:00:00Z'), ('latest_pop', '2890299'), ('area', '10991.90954')]
[('name', 'Monaco'), ('inception', '1297-01-15T00:00:00Z'), ('latest_pop', '38695'), ('area', '2.02')]
[('name', 'Saint Lucia'), ('inception', '1967-03-01T00:00:00Z'), ('latest_pop', '178844'), ('area', '617.012867')]
[('name', 'Rhodesia'), ('inception', '1965-11-11T00:00:00Z'), ('latest_pop', '6930000'), ('area', '390580')]
[('name', 'Australia'), ('inception', '1901-01-01T00:00:00Z'), ('latest_pop', '24511800'), ('area', '7692024')]
[('name', 'Saxe-Meiningen'), ('inception', '1675-01-01T00:00:00Z'), ('latest_pop', '268859'), ('area', '2468')]
[('name', 'Kapurthala State'), ('inception', '1772-01-01T00:00:00Z'), ('latest_pop', '314341'), ('area', '352')]
[('name', 'Kingdom of Serbs, Croats and Slovenes'), ('inception', '1918-12-01T00:00:00Z'), ('latest_pop', '11984911'), ('area', '247542')]
[('name', 'Eswatini'), ('inception', '1968-09-06T00:00:00Z'), ('latest_pop', '1124753'), ('area', '17364')]
[('name', 'Kingdom of Sardinia'), ('inception', '1324-01-01T00:00:00Z'), ('latest_pop', '5167000'), ('area', '73810')]
[('name', 'Roman Catholic Diocese of Fulda'), ('inception', '1752-10-05T00:00:00Z'), ('latest_pop', '1721000'), ('area', '10318')]
[('name', 'Jaora State'), ('inception', '1817-01-01T00:00:00Z'), ('latest_pop', '84202'), ('area', '1471')]
[('name', 'Jaisalmer State'), ('inception', '1156-01-01T00:00:00Z'), ('latest_pop', '76255'), ('area', '41600')]
[('name', 'Colony of Natal'), ('inception', '1843-01-01T00:00:00Z'), ('latest_pop', '1108754'), ('area', '91610')]
[('name', 'Papua New Guinea'), ('inception', '1975-01-01T00:00:00Z'), ('latest_pop', '8935000'), ('area', '462840')]
[('name', 'Emirate of Afghanistan'), ('inception', '1823-01-01T00:00:00Z'), ('latest_pop', '5000000'), ('area', '652225')]
[('name', 'Dhrangadhra State'), ('inception', '1742-01-01T00:00:00Z'), ('latest_pop', '100000'), ('area', '3023')]
[('name', 'German Empire'), ('inception', '1871-01-01T00:00:00Z'), ('latest_pop', '67790000'), ('area', '540858')]
[('name', 'Emirate of Sharjah'), ('inception', '1793-12-02T00:00:00Z'), ('latest_pop', '1405843'), ('area', '2590')]
[('name', 'Saint Vincent and the Grenadines'), ('inception', '1979-01-01T00:00:00Z'), ('latest_pop', '109897'), ('area', '389')]
[('name', 'Kingdom of Saxony'), ('inception', '1806-01-01T00:00:00Z'), ('latest_pop', '4806661'), ('area', '14993')]
[('name', 'Northern Ireland'), ('inception', '1921-05-08T00:00:00Z'), ('latest_pop', '1852168'), ('area', '14130')]
[('name', 'duchy of Saxe-Coburg and Gotha'), ('inception', '1826-01-01T00:00:00Z'), ('latest_pop', '242000'), ('area', '1977')]
[('name', 'Kangra-Lambagraon'), ('inception', '1400-01-01T00:00:00Z'), ('latest_pop', '1625000'), ('area', '324')]
[('name', 'Canada'), ('inception', '1867-07-01T00:00:00Z'), ('latest_pop', '37894799'), ('area', '9984670')]
[('name', 'Empire of Japan'), ('inception', '1868-01-03T00:00:00Z'), ('latest_pop', '97770000'), ('area', '7400000')]
[('name', 'Viceroyalty of New Spain'), ('inception', '1535-10-22T00:00:00Z'), ('latest_pop', '20000000'), ('area', '7657000')]
[('name', 'Cutch State'), ('inception', '1147-01-01T00:00:00Z'), ('latest_pop', '488022'), ('area', '45630')]
[('name', 'Dominion of Fiji'), ('inception', '1970-01-01T00:00:00Z'), ('latest_pop', '588068'), ('area', '18.274')]
[('name', "Kievan Rus'"), ('inception', '0860-01-01T00:00:00Z'), ('latest_pop', '5400000'), ('area', '1330000')]
[('name', 'Qing dynasty'), ('inception', '1636-01-01T00:00:00Z'), ('latest_pop', '432000000'), ('area', '14700000')]
[('name', 'Duchy of Nassau'), ('inception', '1806-01-01T00:00:00Z'), ('latest_pop', '465636'), ('area', '4855')]

169

## Task 3 -Which is or was the country with the highest population?

#### I reuse one query found before

In [31]:
queryString= """
#Subquery to find the latest population
SELECT ?country ?pop WHERE {

?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
      wdt:P1082 ?pop.

?mon <http://schema.org/name> ?country.
}
ORDER BY DESC (?pop)
LIMIT 1

"""

print("Results")
run_query(queryString)

Results
[('country', 'British Empire'), ('pop', '680000000')]

1

#### Plausible as the British Empire ruled from Canada to Australia

## Task 4 - How many countries are or have been monarchies across continents?

#### From the initial search i notice the property "continent" (wdt:P30), let's see some values

In [ ]:
queryString= """
SELECT ?country ?continent WHERE {

?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
      wdt:P30 ?con.

?mon <http://schema.org/name> ?country.
?con <http://schema.org/name> ?continent.
}
"""

print("Results")
run_query(queryString)

#### Perfect, i count them grouping by continent

In [5]:
queryString= """
SELECT ?continent (COUNT(DISTINCT ?mon) AS ?number) WHERE {

?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
      wdt:P30 ?con.

?mon <http://schema.org/name> ?country.
?con <http://schema.org/name> ?continent.

}
GROUP BY ?continent
ORDER BY DESC (?number)
"""

print("Results")
run_query(queryString)

Results
[('continent', 'Europe'), ('number', '361')]
[('continent', 'Asia'), ('number', '173')]
[('continent', 'Africa'), ('number', '63')]
[('continent', 'North America'), ('number', '31')]
[('continent', 'Eurasia'), ('number', '14')]
[('continent', 'Insular Oceania'), ('number', '13')]
[('continent', 'Hyboria'), ('number', '13')]
[('continent', 'South America'), ('number', '8')]
[('continent', 'The Continent'), ('number', '7')]
[('continent', 'Thuria'), ('number', '6')]
[('continent', 'Americas'), ('number', '5')]
[('continent', 'Central America'), ('number', '2')]
[('continent', 'Australia'), ('number', '2')]
[('continent', 'Antarctica'), ('number', '1')]
[('continent', 'Northern America and Mexico'), ('number', '1')]
[('continent', 'Caribbean'), ('number', '1')]

16

#### Now i want to try to count how many ACTUAL countries are or have been monarchies

#### I start by listing  the entities that are instance of "country"(wdt:P17) to check if the entities are only countries that exists nowadays

In [9]:
###WRONG QUERY, COUNTRY IS A PREDICATE NOT AN ENTITY
queryString= """
SELECT DISTINCT ?countryname WHERE {

?country wdt:P31 wd:P17.

?country <http://schema.org/name> ?countryname.

}

"""

print("Results")
run_query(queryString)

Results
Empty

0

#### Let's try to get all "instance of" of Italy to search for the country class

In [10]:

queryString= """
SELECT DISTINCT ?obj ?objname WHERE {

wd:Q38 wdt:P31 ?obj.

?obj <http://schema.org/name> ?objname.
}

"""

print("Results")
run_query(queryString)

Results
[('obj', 'http://www.wikidata.org/entity/Q3624078'), ('objname', 'sovereign state')]
[('obj', 'http://www.wikidata.org/entity/Q6256'), ('objname', 'country')]

2

#### Let's print all entities that are instance of the found "country"(wd:Q6256)

In [12]:
queryString= """
SELECT DISTINCT ?countryname WHERE {

?country wdt:P31 wd:Q6256.

?country <http://schema.org/name> ?countryname.
}

"""

print("Results")
run_query(queryString)

Results
[('countryname', 'Northern Mariana Islands')]
[('countryname', 'Pahlavi Dynasty')]
[('countryname', 'Danish Realm')]
[('countryname', 'Dominican Republic')]
[('countryname', 'Transnistria')]
[('countryname', 'Republic of Artsakh')]
[('countryname', 'The Gambia')]
[('countryname', 'Guinea')]
[('countryname', 'Guinea-Bissau')]
[('countryname', 'Ivory Coast')]
[('countryname', 'Cameroon')]
[('countryname', 'Cape Verde')]
[('countryname', 'Lesotho')]
[('countryname', 'Liberia')]
[('countryname', 'Libya')]
[('countryname', 'Madagascar')]
[('countryname', 'Malawi')]
[('countryname', 'Mauritania')]
[('countryname', 'Mauritius')]
[('countryname', 'Morocco')]
[('countryname', 'Mozambique')]
[('countryname', 'Namibia')]
[('countryname', 'Niger')]
[('countryname', 'Nigeria')]
[('countryname', 'Uganda')]
[('countryname', 'Rwanda')]
[('countryname', 'São Tomé and Príncipe')]
[('countryname', 'Senegal')]
[('countryname', 'Seychelles')]
[('countryname', 'Sierra Leone')]
[('countryname', 'Somalia')]
[('countryname', 'Sudan')]
[('countryname', 'Kenya')]
[('countryname', 'Ethiopia')]
[('countryname', 'Ghana')]
[('countryname', 'France')]
[('countryname', 'United Kingdom')]
[('countryname', "People's Republic of China")]
[('countryname', 'Brazil')]
[('countryname', 'Canada')]
[('countryname', 'American Samoa')]
[('countryname', 'Japan')]
[('countryname', 'Belarus')]
[('countryname', 'Trucial States')]
[('countryname', 'Norway')]
[('countryname', 'Latvia')]
[('countryname', 'Aruba')]
[('countryname', 'Czech Republic')]
[('countryname', 'Slovakia')]
[('countryname', 'Romania')]
[('countryname', 'Bulgaria')]
[('countryname', 'Albania')]
[('countryname', 'Croatia')]
[('countryname', 'Andorra')]
[('countryname', 'Electoral Palatinate')]
[('countryname', 'Cyprus')]
[('countryname', 'Kazakhstan')]
[('countryname', 'Malta')]
[('countryname', 'Montenegro')]
[('countryname', 'Cuba')]
[('countryname', 'Barbados')]
[('countryname', 'Wales')]
[('countryname', 'Indonesia')]
[('countryname', 'South Africa')]
[('countryname', 'Algeria')]
[('countryname', 'Sint Maarten')]
[('countryname', 'Uzbekistan')]
[('countryname', 'Cook Islands')]
[('countryname', 'Ireland')]
[('countryname', 'Hungary')]
[('countryname', 'Chile')]
[('countryname', 'Kingdom of the Netherlands')]
[('countryname', 'United States of America')]
[('countryname', 'Finland')]
[('countryname', 'Singapore')]
[('countryname', 'Sweden')]
[('countryname', 'Niue')]
[('countryname', 'Liechtenstein')]
[('countryname', 'Denmark')]
[('countryname', 'Poland')]
[('countryname', 'Italy')]
[('countryname', 'Switzerland')]
[('countryname', 'Galicia')]
[('countryname', 'Bahrain')]
[('countryname', 'Austria')]
[('countryname', 'Australia')]
[('countryname', 'Greece')]
[('countryname', 'Argentina')]
[('countryname', 'Peru')]
[('countryname', 'North Korea')]
[('countryname', 'Cambodia')]
[('countryname', 'Turkey')]
[('countryname', 'Portugal')]
[('countryname', 'Netherlands')]
[('countryname', 'East Timor')]
[('countryname', 'Chad')]
[('countryname', 'New Zealand')]
[('countryname', 'India')]
[('countryname', 'Tuvalu')]
[('countryname', 'Samoa')]
[('countryname', 'Solomon Islands')]
[('countryname', 'Vanuatu')]
[('countryname', 'Papua New Guinea')]
[('countryname', 'Palau')]
[('countryname', 'Nauru')]
[('countryname', 'Federated States of Micronesia')]
[('countryname', 'Marshall Islands')]
[('countryname', 'Kiribati')]
[('countryname', 'Mongolia')]
[('countryname', 'Fiji')]
[('countryname', 'Venezuela')]
[('countryname', 'Paraguay')]
[('countryname', 'Guyana')]
[('countryname', 'Ecuador')]
[('countryname', 'Colombia')]
[('countryname', 'Bolivia')]
[('countryname', 'Trinidad and Tobago')]
[('countryname', 'Saint Vincent and the Grenadines')]
[('countryname', 'Saint Lucia')]
[('countryname', 'Saint Kitts and Nevis')]
[('countryname', 'Jamaica')]
[('countryname', 'Grenada')]
[('countryname', 'Uruguay')]
[('countryname', 'Guatemala')]
[('countryname', 'The Bahamas')]
[('countryname', 'Antigua and Barbuda')]
[('countryname', 'Honduras')]
[('countryname', 'Dominica')]
[('countryname', 'Egypt')]
[('countryname', 'Haiti')]
[('countryname', 'El Salvador')]
[('countryname', 'Iran')]
[('countryname', 'Iraq')]
[('countryname', 'Costa Rica')]
[('countryname', 'Israel')]
[('countryname', 'Yemen')]
[('countryname', 'Jordan')]
[('countryname', 'Nicaragua')]
[('countryname', 'Kyrgyzstan')]
[('countryname', 'Laos')]
[('countryname', 'Lebanon')]
[('countryname', 'Maldives')]
[('countryname', 'Malaysia')]
[('countryname', 'Myanmar')]
[('countryname', 'Nepal')]
[('countryname', 'Oman')]
[('countryname', 'Pakistan')]
[('countryname', 'Qatar')]
[('countryname', 'Saudi Arabia')]
[('countryname', 'Sri Lanka')]
[('countryname', 'Syria')]
[('countryname', 'Tajikistan')]
[('countryname', 'Taiwan')]
[('countryname', 'Thailand')]
[('countryname', 'Turkmenistan')]
[('countryname', 'United Arab Emirates')]
[('countryname', 'Vietnam')]
[('countryname', 'South Korea')]
[('countryname', 'Afghanistan')]
[('countryname', 'Bangladesh')]
[('countryname', 'Mali')]
[('countryname', 'Angola')]
[('countryname', 'Bhutan')]
[('countryname', 'Brunei')]
[('countryname', 'Tanzania')]
[('countryname', 'Philippines')]
[('countryname', 'Central African Republic')]
[('countryname', 'Togo')]
[('countryname', 'Tunisia')]
[('countryname', 'Zambia')]
[('countryname', 'Zimbabwe')]
[('countryname', 'South Sudan')]
[('countryname', 'Mexico')]
[('countryname', 'Benin')]
[('countryname', 'Botswana')]
[('countryname', 'Burkina Faso')]
[('countryname', 'Burundi')]
[('countryname', 'Comoros')]
[('countryname', 'Republic of the Congo')]
[('countryname', 'Democratic Republic of the Congo')]
[('countryname', 'Djibouti')]
[('countryname', 'Eritrea')]
[('countryname', 'Somaliland')]
[('countryname', 'Pahlavi Iran')]
[('countryname', 'Gagauzia')]
[('countryname', 'First Hellenic Republic')]
[('countryname', 'State of Somaliland')]
[('countryname', 'Principality of Masserano')]
[('countryname', 'Kingdom of Africa')]
[('countryname', 'Bulawayo')]

190

#### I inspect their properties to try to remove the little noise in these data (countries that doesn't exists anymore)

In [ ]:
queryString= """
SELECT DISTINCT ?p ?pname (COUNT(?p) AS ?number) WHERE {

?country wdt:P31 wd:Q6256;
         ?p ?obj.

?p <http://schema.org/name> ?pname.
}
GROUP BY ?p ?pname
ORDER BY DESC(?number)
"""

print("Results")
run_query(queryString)

#### I found "dissolved, abolished or demolished state"(wd:P576),so i exclude them from the list

In [ ]:
queryString= """
SELECT DISTINCT ?countryname WHERE {

?country wdt:P31 wd:Q6256.

?country <http://schema.org/name> ?countryname.
FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}

"""

print("Results")
run_query(queryString)

#### Subquery, i try to retrieve current country that are monarchies right now (so they don't have the "dissolved..." property)

In [19]:
queryString= """
SELECT DISTINCT ?countryname WHERE {

?country wdt:P31 wd:Q6256;
         (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269.

?country <http://schema.org/name> ?countryname.
FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}

"""

print("Results")
run_query(queryString)

Results
[('countryname', 'Danish Realm')]
[('countryname', 'Lesotho')]
[('countryname', 'Morocco')]
[('countryname', 'United Kingdom')]
[('countryname', 'Canada')]
[('countryname', 'Japan')]
[('countryname', 'Norway')]
[('countryname', 'Andorra')]
[('countryname', 'Kingdom of the Netherlands')]
[('countryname', 'Sweden')]
[('countryname', 'Liechtenstein')]
[('countryname', 'Denmark')]
[('countryname', 'Bahrain')]
[('countryname', 'Australia')]
[('countryname', 'Cambodia')]
[('countryname', 'Netherlands')]
[('countryname', 'New Zealand')]
[('countryname', 'Papua New Guinea')]
[('countryname', 'Saint Vincent and the Grenadines')]
[('countryname', 'Saint Lucia')]
[('countryname', 'Saint Kitts and Nevis')]
[('countryname', 'The Bahamas')]
[('countryname', 'Jordan')]
[('countryname', 'Malaysia')]
[('countryname', 'Oman')]
[('countryname', 'Qatar')]
[('countryname', 'Saudi Arabia')]
[('countryname', 'Thailand')]
[('countryname', 'United Arab Emirates')]
[('countryname', 'Bhutan')]
[('countryname', 'Brunei')]
[('countryname', 'Kingdom of Africa')]
[('countryname', 'Barbados')]
[('countryname', 'Tuvalu')]
[('countryname', 'Solomon Islands')]
[('countryname', 'Jamaica')]
[('countryname', 'Grenada')]
[('countryname', 'Antigua and Barbuda')]

38

#### Now i try to get countries that now are not monarchies but they were in the past, by using "replaced by"(wdt:P1366)

In [24]:
queryString= """
SELECT DISTINCT ?countryname WHERE {

?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
      wdt:P1366+ ?country.     

?country wdt:P31 wd:Q6256.

?country <http://schema.org/name> ?countryname.
FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}

"""

print("Results")
run_query(queryString)

Results
[('countryname', "People's Republic of China")]
[('countryname', 'Japan')]
[('countryname', 'Croatia')]
[('countryname', 'Andorra')]
[('countryname', 'Montenegro')]
[('countryname', 'Hungary')]
[('countryname', 'Liechtenstein')]
[('countryname', 'Italy')]
[('countryname', 'Turkey')]
[('countryname', 'Taiwan')]
[('countryname', 'India')]
[('countryname', 'Haiti')]
[('countryname', 'Iran')]
[('countryname', 'United Arab Emirates')]
[('countryname', 'Portugal')]
[('countryname', 'Uzbekistan')]
[('countryname', 'Tajikistan')]
[('countryname', 'Turkmenistan')]
[('countryname', 'United Kingdom')]
[('countryname', 'Brazil')]
[('countryname', 'Ireland')]
[('countryname', 'Pakistan')]
[('countryname', 'Tanzania')]
[('countryname', 'Libya')]
[('countryname', 'Albania')]
[('countryname', 'Malta')]
[('countryname', 'Indonesia')]
[('countryname', 'South Africa')]
[('countryname', 'Finland')]
[('countryname', 'Denmark')]
[('countryname', 'Bahrain')]
[('countryname', 'Netherlands')]
[('countryname', 'New Zealand')]
[('countryname', 'Solomon Islands')]
[('countryname', 'Fiji')]
[('countryname', 'Guyana')]
[('countryname', 'Bolivia')]
[('countryname', 'Egypt')]
[('countryname', 'Nicaragua')]
[('countryname', 'Nepal')]
[('countryname', 'Saudi Arabia')]
[('countryname', 'Sri Lanka')]
[('countryname', 'Zimbabwe')]
[('countryname', 'Vietnam')]
[('countryname', 'Cyprus')]
[('countryname', 'Galicia')]
[('countryname', 'Mongolia')]
[('countryname', 'North Korea')]
[('countryname', 'Burundi')]
[('countryname', 'Guinea')]
[('countryname', 'Ivory Coast')]
[('countryname', 'Mauritania')]
[('countryname', 'Niger')]
[('countryname', 'Senegal')]
[('countryname', 'Mali')]
[('countryname', 'Benin')]
[('countryname', 'Burkina Faso')]
[('countryname', 'Sierra Leone')]
[('countryname', 'Israel')]
[('countryname', 'Jordan')]

60

#### Now i fuse the two subqueries and aggregate the country by continent

In [28]:
queryString= """
SELECT DISTINCT ?continent (COUNT(?country) AS ?number) WHERE {

?country wdt:P30 ?con.

#Subquery for finding the countries
{
SELECT DISTINCT ?country WHERE {
{
?mon (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
      wdt:P1366+ ?country.     
?country wdt:P31 wd:Q6256.
FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}
UNION
{
?country wdt:P31 wd:Q6256;
         (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269.
FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}
}
}
?con <http://schema.org/name> ?continent.
}
GROUP BY ?continent
ORDER BY DESC (?number)
"""

print("Results")
run_query(queryString)

Results
[('continent', 'Asia'), ('number', '30')]
[('continent', 'Europe'), ('number', '20')]
[('continent', 'Africa'), ('number', '18')]
[('continent', 'North America'), ('number', '13')]
[('continent', 'Insular Oceania'), ('number', '7')]
[('continent', 'South America'), ('number', '3')]
[('continent', 'Central America'), ('number', '2')]
[('continent', 'Eurasia'), ('number', '1')]

8

## Task 5.1 How many sub-types of monarchy exist? How many instances of exist of each one?

#### Let's try to get all subclasses of the monarchy government type

In [6]:
queryString = """
SELECT DISTINCT ?subname WHERE { 

?p (wdt:P31|wdt:P122) ?o.
 ?o wdt:P279* wd:Q7269. 

?o <http://schema.org/name> ?subname.
} 
"""

print("Results")
run_query(queryString)

Results
[('subname', 'patrimonialism')]
[('subname', 'feudal monarchy')]
[('subname', 'despotism')]
[('subname', 'elective monarchy')]
[('subname', 'hereditary monarchy')]
[('subname', 'absolute monarchy')]
[('subname', 'federal monarchy')]
[('subname', 'parliamentary monarchy')]
[('subname', 'constitutional monarchy')]
[('subname', 'monarchy')]
[('subname', 'kingdom')]
[('subname', 'polysynodal regime')]
[('subname', 'principality')]
[('subname', 'Bourbon Reforms')]
[('subname', 'regency')]
[('subname', 'parliamentary coprincipality')]
[('subname', 'Tanistry')]
[('subname', 'composite monarchy')]
[('subname', 'abbey-principality')]
[('subname', 'Electoral Principate')]
[('subname', 'ecclesiastical principality')]
[('subname', 'crown land of the Austrian Empire')]
[('subname', 'Hochstift')]
[('subname', 'duchy')]
[('subname', 'petty kingdom')]
[('subname', 'list of Indonesian monarchies')]
[('subname', 'part principality')]
[('subname', 'grand duchy')]
[('subname', 'Duchies of Silesia')]
[('subname', 'emirate of the United Arab Emirates')]
[('subname', 'empire')]
[('subname', 'Khaganate')]
[('subname', 'self-proclaimed monarchy')]
[('subname', 'royal elections in Poland')]
[('subname', 'Aramean (disambiguation)')]
[('subname', 'ducado')]
[('subname', 'Commonwealth realm')]
[('subname', 'Pflegamt')]
[('subname', 'Upper Oka Principalities')]
[('subname', 'Swabian Circle')]
[('subname', 'Ernestine duchies')]
[('subname', 'Sheikhdom')]
[('subname', 'stem duchy')]
[('subname', 'Saeristavo')]

44

#### I try to get only the last step, to see if results are better

In [7]:
queryString = """
SELECT DISTINCT ?subname WHERE { 

 ?o wdt:P279 wd:Q7269. 

?o <http://schema.org/name> ?subname.
} 
"""

print("Results")
run_query(queryString)

Results
[('subname', 'patrimonialism')]
[('subname', 'feudal monarchy')]
[('subname', 'despotism')]
[('subname', 'elective monarchy')]
[('subname', 'hereditary monarchy')]
[('subname', 'absolute monarchy')]
[('subname', 'federal monarchy')]
[('subname', 'constitutional monarchy')]
[('subname', 'duchy')]
[('subname', 'kingdom')]
[('subname', 'list of Indonesian monarchies')]
[('subname', 'monarchy of Barbados')]
[('subname', 'principality')]
[('subname', 'empire')]
[('subname', 'self-proclaimed monarchy')]
[('subname', 'regency')]
[('subname', 'emperor system')]
[('subname', 'tsarism')]
[('subname', 'Monarchy of Liechtenstein')]
[('subname', 'divine rights monarchy')]
[('subname', 'monarchies in Europe')]
[('subname', 'Tanistry')]
[('subname', 'composite monarchy')]
[('subname', 'Semi-constitutional monarchy')]
[('subname', 'Monarchies in Africa')]
[('subname', 'Pre-modern Korea')]

26

#### A better subset, let's count them...I reuse a query for last task to get countries that are monarchies right now and let's count by their type

In [4]:
queryString= """
SELECT DISTINCT ?type (COUNT(?country) AS ?number) WHERE {

?country wdt:P31 wd:Q6256;
         (wdt:P31|wdt:P122)/wdt:P279* ?o.

?o wdt:P279 wd:Q7269. 
?o <http://schema.org/name> ?type.

FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}
GROUP BY(?type)
ORDER BY DESC (?number)
"""

print("Results")
run_query(queryString)

Results
[('type', 'constitutional monarchy'), ('number', '34')]
[('type', 'kingdom'), ('number', '19')]
[('type', 'absolute monarchy'), ('number', '4')]
[('type', 'federal monarchy'), ('number', '3')]
[('type', 'elective monarchy'), ('number', '1')]

5

#### We notice that right now the majority of the monarchies are constitutionals one.

### Task - 5.2 Are there cities that have been capital of multiple kingdoms?

#### I use the property "capital" (wdt:P36) found at the beginning

In [26]:
queryString= """
SELECT DISTINCT ?capitalname (COUNT (DISTINCT ?p) AS ?kingdoms) WHERE{

?p (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
   wdt:P36 ?capital.

?capital <http://schema.org/name> ?capitalname.  
}GROUP BY (?capitalname)
HAVING ((COUNT (DISTINCT ?p)) > 1)
ORDER BY DESC (?kingdoms)

"""
print("Results")
run_query(queryString)

Results
[('capitalname', 'London'), ('kingdoms', '8')]
[('capitalname', 'Kutaisi'), ('kingdoms', '7')]
[('capitalname', 'Madrid'), ('kingdoms', '7')]
[('capitalname', 'Rio de Janeiro'), ('kingdoms', '7')]
[('capitalname', 'Vienna'), ('kingdoms', '6')]
[('capitalname', 'Paris'), ('kingdoms', '6')]
[('capitalname', 'Cairo'), ('kingdoms', '6')]
[('capitalname', 'Prague'), ('kingdoms', '5')]
[('capitalname', 'Belgrade'), ('kingdoms', '5')]
[('capitalname', 'Riyadh'), ('kingdoms', '5')]
[('capitalname', 'Berlin'), ('kingdoms', '5')]
[('capitalname', 'Bago'), ('kingdoms', '4')]
[('capitalname', 'Naples'), ('kingdoms', '4')]
[('capitalname', 'Vilnius'), ('kingdoms', '4')]
[('capitalname', 'Palermo'), ('kingdoms', '4')]
[('capitalname', 'Kraków'), ('kingdoms', '4')]
[('capitalname', 'Turin'), ('kingdoms', '4')]
[('capitalname', 'Rome'), ('kingdoms', '4')]
[('capitalname', 'Florence'), ('kingdoms', '4')]
[('capitalname', 'Tbilisi'), ('kingdoms', '4')]
[('capitalname', 'Lahore'), ('kingdoms', '4')]
[('capitalname', 'Copenhagen'), ('kingdoms', '4')]
[('capitalname', 'Pavia'), ('kingdoms', '3')]
[('capitalname', 'Baghdad'), ('kingdoms', '3')]
[('capitalname', 'Stockholm'), ('kingdoms', '3')]
[('capitalname', 'Dresden'), ('kingdoms', '3')]
[('capitalname', 'Tabriz'), ('kingdoms', '3')]
[('capitalname', 'Brunswick'), ('kingdoms', '3')]
[('capitalname', 'Valladolid'), ('kingdoms', '3')]
[('capitalname', 'Bukhara'), ('kingdoms', '3')]
[('capitalname', 'Budapest'), ('kingdoms', '3')]
[('capitalname', 'Königsberg'), ('kingdoms', '3')]
[('capitalname', 'Tirana'), ('kingdoms', '3')]
[('capitalname', 'Moscow'), ('kingdoms', '3')]
[('capitalname', 'Hyderabad'), ('kingdoms', '3')]
[('capitalname', 'Gotha'), ('kingdoms', '3')]
[('capitalname', 'Cetinje'), ('kingdoms', '3')]
[('capitalname', 'Jerusalem'), ('kingdoms', '3')]
[('capitalname', 'Cape Town'), ('kingdoms', '3')]
[('capitalname', 'Stari Ras'), ('kingdoms', '3')]
[('capitalname', 'Luxembourg'), ('kingdoms', '3')]
[('capitalname', 'Riga'), ('kingdoms', '3')]
[('capitalname', 'Isfahan'), ('kingdoms', '3')]
[('capitalname', 'Toledo'), ('kingdoms', '3')]
[('capitalname', 'Kassel'), ('kingdoms', '3')]
[('capitalname', 'Ravenna'), ('kingdoms', '3')]
[('capitalname', "Chang'an"), ('kingdoms', '3')]
[('capitalname', 'Damascus'), ('kingdoms', '3')]
[('capitalname', 'Babylon'), ('kingdoms', '3')]
[('capitalname', 'Mexico City'), ('kingdoms', '3')]
[('capitalname', 'Stuttgart'), ('kingdoms', '3')]
[('capitalname', 'Buda'), ('kingdoms', '3')]
[('capitalname', 'Herat'), ('kingdoms', '3')]
[('capitalname', 'Vientiane'), ('kingdoms', '3')]
[('capitalname', 'Constantinople'), ('kingdoms', '3')]
[('capitalname', 'Milan'), ('kingdoms', '3')]
[('capitalname', 'Kashgar City'), ('kingdoms', '3')]
[('capitalname', 'Düsseldorf'), ('kingdoms', '3')]
[('capitalname', 'Delhi'), ('kingdoms', '3')]
[('capitalname', 'Hanover'), ('kingdoms', '3')]
[('capitalname', 'Amsterdam'), ('kingdoms', '3')]
[('capitalname', 'Kuala Lumpur'), ('kingdoms', '3')]
[('capitalname', 'Bucharest'), ('kingdoms', '3')]
[('capitalname', 'Muscat'), ('kingdoms', '3')]
[('capitalname', 'Kabul'), ('kingdoms', '3')]
[('capitalname', 'Zagreb'), ('kingdoms', '3')]
[('capitalname', 'Warsaw'), ('kingdoms', '3')]
[('capitalname', 'Harare'), ('kingdoms', '3')]
[('capitalname', 'City of Brussels'), ('kingdoms', '3')]
[('capitalname', 'Karlsruhe'), ('kingdoms', '3')]
[('capitalname', 'Tehran'), ('kingdoms', '3')]
[('capitalname', 'Benghazi'), ('kingdoms', '2')]
[('capitalname', 'Sinop'), ('kingdoms', '2')]
[('capitalname', 'Thessaloniki'), ('kingdoms', '2')]
[('capitalname', 'Detmold'), ('kingdoms', '2')]
[('capitalname', 'Magdeburg'), ('kingdoms', '2')]
[('capitalname', 'Kyoto'), ('kingdoms', '2')]
[('capitalname', 'Pretoria'), ('kingdoms', '2')]
[('capitalname', 'Halych'), ('kingdoms', '2')]
[('capitalname', 'Konya'), ('kingdoms', '2')]
[('capitalname', 'Aachen'), ('kingdoms', '2')]
[('capitalname', 'Bridgetown'), ('kingdoms', '2')]
[('capitalname', 'Luang Prabang'), ('kingdoms', '2')]
[('capitalname', 'Thanjavur'), ('kingdoms', '2')]
[('capitalname', 'Weimar'), ('kingdoms', '2')]
[('capitalname', 'Melfi'), ('kingdoms', '2')]
[('capitalname', 'Montreal'), ('kingdoms', '2')]
[('capitalname', 'Phnom Penh'), ('kingdoms', '2')]
[('capitalname', 'Saint Petersburg'), ('kingdoms', '2')]
[('capitalname', 'Kyiv'), ('kingdoms', '2')]
[('capitalname', 'Diriyah'), ('kingdoms', '2')]
[('capitalname', 'Lisbon'), ('kingdoms', '2')]
[('capitalname', 'Samarkand'), ('kingdoms', '2')]
[('capitalname', 'Ctesiphon'), ('kingdoms', '2')]
[('capitalname', 'Tiaret'), ('kingdoms', '2')]
[('capitalname', 'Ecbatana'), ('kingdoms', '2')]
[('capitalname', 'Regensburg'), ('kingdoms', '2')]
[('capitalname', 'Salvador'), ('kingdoms', '2')]
[('capitalname', 'Frankfurt am Main'), ('kingdoms', '2')]
[('capitalname', 'Edessa'), ('kingdoms', '2')]
[('capitalname', 'Taungoo'), ('kingdoms', '2')]
[('capitalname', 'Bangkok'), ('kingdoms', '2')]
[('capitalname', 'Helsinki'), ('kingdoms', '2')]
[('capitalname', 'Eutin'), ('kingdoms', '2')]
[('capitalname', 'Burgos'), ('kingdoms', '2')]
[('capitalname', 'Cap-Haïtien'), ('kingdoms', '2')]
[('capitalname', 'Zeila'), ('kingdoms', '2')]
[('capitalname', 'Lviv'), ('kingdoms', '2')]
[('capitalname', 'Turquoise Mountain'), ('kingdoms', '2')]
[('capitalname', 'Golkonda'), ('kingdoms', '2')]
[('capitalname', 'Aleppo'), ('kingdoms', '2')]
[('capitalname', 'Honiara'), ('kingdoms', '2')]
[('capitalname', 'Bolgar'), ('kingdoms', '2')]
[('capitalname', 'Abu Dhabi'), ('kingdoms', '2')]
[('capitalname', 'Sofia'), ('kingdoms', '2')]
[('capitalname', 'Salerno'), ('kingdoms', '2')]
[('capitalname', 'Zadar'), ('kingdoms', '2')]
[('capitalname', 'Pyongyang'), ('kingdoms', '2')]
[('capitalname', 'Carthage'), ('kingdoms', '2')]
[('capitalname', 'Worms'), ('kingdoms', '2')]
[('capitalname', 'Susa'), ('kingdoms', '2')]
[('capitalname', 'Wellington'), ('kingdoms', '2')]
[('capitalname', 'Tokyo'), ('kingdoms', '2')]
[('capitalname', 'Biograd na Moru'), ('kingdoms', '2')]
[('capitalname', 'Dublin'), ('kingdoms', '2')]
[('capitalname', 'Boston'), ('kingdoms', '2')]
[('capitalname', 'Bloemfontein'), ('kingdoms', '2')]
[('capitalname', 'Winchester'), ('kingdoms', '2')]
[('capitalname', 'Brandenburg an der Havel'), ('kingdoms', '2')]
[('capitalname', 'Ray'), ('kingdoms', '2')]
[('capitalname', 'Ljubljana'), ('kingdoms', '2')]
[('capitalname', 'Gniezno'), ('kingdoms', '2')]
[('capitalname', 'Luoyang'), ('kingdoms', '2')]
[('capitalname', 'Tunis'), ('kingdoms', '2')]
[('capitalname', 'Port-au-Prince'), ('kingdoms', '2')]
[('capitalname', 'Munich'), ('kingdoms', '2')]
[('capitalname', 'Darmstadt'), ('kingdoms', '2')]
[('capitalname', 'Athens'), ('kingdoms', '2')]
[('capitalname', 'Manama'), ('kingdoms', '2')]
[('capitalname', 'Wrocław'), ('kingdoms', '2')]
[('capitalname', 'Skopje'), ('kingdoms', '2')]
[('capitalname', 'Opava'), ('kingdoms', '2')]
[('capitalname', 'Marrakesh'), ('kingdoms', '2')]
[('capitalname', 'Karakorum'), ('kingdoms', '2')]
[('capitalname', 'Takam'), ('kingdoms', '2')]
[('capitalname', 'Alba Iulia'), ('kingdoms', '2')]
[('capitalname', 'Seville'), ('kingdoms', '2')]
[('capitalname', 'Basseterre'), ('kingdoms', '2')]
[('capitalname', "Saint John's"), ('kingdoms', '2')]
[('capitalname', 'Xianyang'), ('kingdoms', '2')]
[('capitalname', 'Cologne'), ('kingdoms', '2')]
[('capitalname', 'Barda'), ('kingdoms', '2')]
[('capitalname', 'Parma'), ('kingdoms', '2')]
[('capitalname', 'Coimbra'), ('kingdoms', '2')]
[('capitalname', "St. George's"), ('kingdoms', '2')]
[('capitalname', 'Trento'), ('kingdoms', '2')]
[('capitalname', 'Khanbaliq'), ('kingdoms', '2')]
[('capitalname', 'Seleucia'), ('kingdoms', '2')]
[('capitalname', 'Lhasa'), ('kingdoms', '2')]
[('capitalname', 'Oslo'), ('kingdoms', '2')]
[('capitalname', 'Lucca'), ('kingdoms', '2')]
[('capitalname', 'Dessau'), ('kingdoms', '2')]
[('capitalname', 'Nicaea'), ('kingdoms', '2')]
[('capitalname', 'Lutherstadt Wittenberg'), ('kingdoms', '2')]
[('capitalname', 'Krujë'), ('kingdoms', '2')]
[('capitalname', 'Zaslaŭje'), ('kingdoms', '2')]
[('capitalname', 'Metz'), ('kingdoms', '2')]
[('capitalname', 'Mahdia'), ('kingdoms', '2')]
[('capitalname', 'Valletta'), ('kingdoms', '2')]
[('capitalname', 'Opole'), ('kingdoms', '2')]
[('capitalname', 'Pataliputra'), ('kingdoms', '2')]

171

### Task - 5.3 Which are the top-3 monarchies with the earliest inception and still existing?

#### I reuse a country made before to obtain the countries that are monarchies right now and i pick the oldest one by using the property found at the beginning "inception" (wdt:P571)

In [27]:
queryString= """
SELECT DISTINCT ?countryname ?inception WHERE {

?country wdt:P31 wd:Q6256;
         (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
         wdt:P571 ?inception.

?country <http://schema.org/name> ?countryname.
FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}

"""

print("Results")
run_query(queryString)

Results
[('countryname', 'Danish Realm'), ('inception', '0800-01-01T00:00:00Z')]
[('countryname', 'Lesotho'), ('inception', '1966-01-01T00:00:00Z')]
[('countryname', 'Morocco'), ('inception', '-399-01-01T00:00:00Z')]
[('countryname', 'United Kingdom'), ('inception', '1927-04-12T00:00:00Z')]
[('countryname', 'Canada'), ('inception', '1867-07-01T00:00:00Z')]
[('countryname', 'Japan'), ('inception', '1947-05-03T00:00:00Z')]
[('countryname', 'Norway'), ('inception', '0900-01-01T00:00:00Z')]
[('countryname', 'Norway'), ('inception', '1814-05-17T00:00:00Z')]
[('countryname', 'Norway'), ('inception', '1905-06-07T00:00:00Z')]
[('countryname', 'Norway'), ('inception', '1905-10-26T00:00:00Z')]
[('countryname', 'Andorra'), ('inception', '1278-01-01T00:00:00Z')]
[('countryname', 'Kingdom of the Netherlands'), ('inception', '1815-03-16T00:00:00Z')]
[('countryname', 'Sweden'), ('inception', '0700-01-01T00:00:00Z')]
[('countryname', 'Liechtenstein'), ('inception', '1806-07-12T00:00:00Z')]
[('countryname', 'Denmark'), ('inception', '0800-01-01T00:00:00Z')]
[('countryname', 'Bahrain'), ('inception', '1971-08-14T00:00:00Z')]
[('countryname', 'Australia'), ('inception', '1901-01-01T00:00:00Z')]
[('countryname', 'Cambodia'), ('inception', '1953-11-09T00:00:00Z')]
[('countryname', 'Netherlands'), ('inception', '1954-12-15T00:00:00Z')]
[('countryname', 'New Zealand'), ('inception', '1907-09-26T00:00:00Z')]
[('countryname', 'New Zealand'), ('inception', '1986-12-13T00:00:00Z')]
[('countryname', 'Papua New Guinea'), ('inception', '1975-01-01T00:00:00Z')]
[('countryname', 'Saint Vincent and the Grenadines'), ('inception', '1979-01-01T00:00:00Z')]
[('countryname', 'Saint Lucia'), ('inception', '1967-03-01T00:00:00Z')]
[('countryname', 'Saint Lucia'), ('inception', '1979-02-22T00:00:00Z')]
[('countryname', 'Saint Kitts and Nevis'), ('inception', '1967-02-27T00:00:00Z')]
[('countryname', 'The Bahamas'), ('inception', '1973-01-01T00:00:00Z')]
[('countryname', 'Jordan'), ('inception', '1946-01-01T00:00:00Z')]
[('countryname', 'Malaysia'), ('inception', '1957-01-01T00:00:00Z')]
[('countryname', 'Oman'), ('inception', '1970-07-23T00:00:00Z')]
[('countryname', 'Qatar'), ('inception', '1870-01-01T00:00:00Z')]
[('countryname', 'Saudi Arabia'), ('inception', '1727-01-01T00:00:00Z')]
[('countryname', 'Thailand'), ('inception', '1238-01-01T00:00:00Z')]
[('countryname', 'Thailand'), ('inception', '1768-12-28T00:00:00Z')]
[('countryname', 'United Arab Emirates'), ('inception', '1971-01-01T00:00:00Z')]
[('countryname', 'Bhutan'), ('inception', '1949-08-08T00:00:00Z')]
[('countryname', 'Brunei'), ('inception', '1984-01-01T00:00:00Z')]
[('countryname', 'Kingdom of Africa'), ('inception', '2020-05-25T00:00:00Z')]
[('countryname', 'Barbados'), ('inception', '1966-11-30T00:00:00Z')]
[('countryname', 'Tuvalu'), ('inception', '1978-01-01T00:00:00Z')]
[('countryname', 'Solomon Islands'), ('inception', '1978-01-01T00:00:00Z')]
[('countryname', 'Jamaica'), ('inception', '1962-01-01T00:00:00Z')]
[('countryname', 'Grenada'), ('inception', '1974-01-01T00:00:00Z')]
[('countryname', 'Antigua and Barbuda'), ('inception', '1981-11-01T00:00:00Z')]

44

In [29]:
queryString= """
SELECT DISTINCT ?country ?countryname  WHERE {

?country wdt:P31 wd:Q6256;
         (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
         wdt:P571 ?inception.

?country <http://schema.org/name> ?countryname.
FILTER NOT EXISTS{?country wdt:P576 ?obj.}
}
ORDER BY ASC (?inception)
LIMIT 3
"""

print("Results")
run_query(queryString)

Results
[('country', 'http://www.wikidata.org/entity/Q34'), ('countryname', 'Sweden')]
[('country', 'http://www.wikidata.org/entity/Q756617'), ('countryname', 'Danish Realm')]
[('country', 'http://www.wikidata.org/entity/Q35'), ('countryname', 'Denmark')]

3

#### I remove one instance of Denmark to have 3 different countries

In [30]:
queryString= """
SELECT DISTINCT ?country ?countryname  WHERE {

?country wdt:P31 wd:Q6256;
         (wdt:P31|wdt:P122)/wdt:P279* wd:Q7269;
         wdt:P571 ?inception.

?country <http://schema.org/name> ?countryname.
FILTER (NOT EXISTS{?country wdt:P576 ?obj.} && ?country!=wd:Q756617)
}
ORDER BY ASC (?inception)
LIMIT 3
"""

print("Results")
run_query(queryString)

Results
[('country', 'http://www.wikidata.org/entity/Q34'), ('countryname', 'Sweden')]
[('country', 'http://www.wikidata.org/entity/Q35'), ('countryname', 'Denmark')]
[('country', 'http://www.wikidata.org/entity/Q20'), ('countryname', 'Norway')]

3

#### Se we see that the oldest monarchies reported are 3 countries from northern Europe